<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<div class="table-responsive" style="height: 100%">

                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;">
                            <thead class="thead-inverse">
                            <tr>
                                <th>
                                    <center>#</center>
                                </th>
                                <th>
                                    <center>Pregunta</center>
                                </th>
                                <th>
                                    <center>Fecha</center>
                                </th>
                                <th>
                                    <center>Categoría</center>
                                </th>
                                <th>
                                    <center>Tags</center>
                                </th>

                                <th></th>

                            </tr>
                            </thead>
                            <tbody class="searchable">

                            {% for pregunta in ahora %}
                                <tr class="{% if pregunta.estado == 1 %}" success
                                            {% else %} danger{% endif %}">
                                <!--
                                    <td>
                                        <input type="checkbox" class="checkthis"
                                               name="checks[]"
                                               value="{{ pasante.id_pasante }}"/>
                                    </td>
                                -->
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ forloop.counter }}
                                            
                                        </center>
                                    </td>
                                <!--
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% if pregunta.estado == "1" %}
                                                &#10003;{% else %}
                                                &#9747;{% endif %}</center>
                                    </td>
                                -->
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
											<a href="{% url 'responder_pasante' pregunta.id_pregunta%}">
												{{ pregunta.pregunta }}
											</a>
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.fecha }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.id_categoria_fk_id }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% for pregunta in pregunta.tags.all %}
                                            {{ pregunta }}
                                            {% endfor %}

                                        </center>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                        
                    </div>

                    

						

</body>
</html>