{% extends tipo_usuario %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
  {% if user.is_authenticated %}
    {% if request.path == "/foro/preguntas_sin_respuesta/"  %}
      <span >Preguntas sin responder</span>
    {% else %}
      <span >Foro</span>
    {% endif %}
    
  {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}


              {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-{{ msg.tags }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{msg.message}}
                            </div>
                            {% endfor %}
                {% endif %}


                {% if request.path == "/foro/" %}
                  <div>
                    <form action="buscador" method="post">
                        {% csrf_token %}
                        <select required name="menu">
                        <option value="">Seleccione categoría</option>
                          {% for pregunta in preguntas2 %}
                        <option value="{{ pregunta.id_categoria }}">{{pregunta.nombre}}</option>

                           {% endfor %}
                      </select>
                          &nbsp;Escribir tag: <input type="text" name="dato" maxlength="35"/>
                          &nbsp;<input type="submit" value="Buscar">
                    </form>

                  </div>

                {% endif %}
                
                    <br>
                    {% if request.path == "/foro/" %}


                      {% if not request.user.is_staff %}
                           {% if contPregPendExp == -1 %}
                                <a href="{% url 'nueva_pregunta' %}" class="btn btn-success" role="button">Nueva pregunta</a>
                            {% endif %}
                      {% endif %}


                    {% if request.user.is_staff == 0 and usuarioActual.tipo_usuario != 'Experto'%}

                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sin responder <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                          <a href="{% url 'preguntas_sin_respuesta' %}" class="btn btn-info" role="button">Ver preguntas sin responder</a>
                          {% if request.user.is_staff == 0%}
                            {% if contPregPendExp == -1 %}
                              <a href="{% url 'obtener_preguntas_sr_pasante' %}" class="btn btn-info" role="button">Mis preguntas sin responder</a>
                            {% endif %}
                          {% endif %}
                        </ul>
                      </div>
                      <br><br>
                    {% else %}
                      <a href="{% url 'preguntas_sin_respuesta' %}" class="btn btn-info" role="button">Ver preguntas sin responder</a>
                      <br><br>
                    {% endif %}


                    {% endif %}

                <div class="container"
                     style="display: block; height: 450px; overflow-y: inherit;
                     overflow-x: hidden;">

                    <div class="table-responsive" style="height: 100%">
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;">
                            <thead class="thead-inverse">
                            <tr>
                                <th>
                                    <center>#</center>
                                </th>
                                <th>
                                    <center>Pregunta</center>
                                </th>
                                <th>
                                    <center>Fecha</center>
                                </th>
                                <th>
                                    <center>Categoría</center>
                                </th>
                                <th>
                                    <center>Tags</center>
                                </th>

                                <th></th>

                            </tr>
                            </thead>
                            <tbody class="searchable">

                            {% for pregunta in preguntas %}
                                <tr class="{% if pregunta.estado == 1 %}" success
                                            {% else %} danger{% endif %}">
                                
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ forloop.counter }}
                                        </center>
                                    </td>
                            
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
											<a href="{% url 'responder_pasante' pregunta.id_pregunta%}">
												{{ pregunta.pregunta }}
											</a>
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.fecha }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.id_categoria_fk_id }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% for pregunta in pregunta.tags.all %}
                                            {{ pregunta }}
                                            {% endfor %}

                                        </center>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if preguntas|length == 0 %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:50%;">No hay preguntas
                                        aún
                                    </div>
                                </h4>
                        {% endif %}

                        {% if request.path == "/foro/preguntas_sin_respuesta/"  %}
                          <a href="{% url 'foro' %}" class="btn btn-danger" role="button">Regresar</a>
                        {% endif %}

                        {% if request.path == "/foro/buscador"  %}
                          <a href="{% url 'foro' %}" class="btn btn-danger" role="button">Regresar</a>
                        {% endif %}

                    </div>

                </div>



                </div>


            </form>
          </br>

{% endblock %}
