<style>
    noscript div {
        background-color: red;
        color: white;
        font-weight: bold;
        text-align: center;
    }
</style>
<script type="text/javascript">
    function modificar() {
        var form = document.formPasanteModificar;
        form.modificar.value = 0;
        form.submit();
    }

    function generarCartaAsignacion(idPasante) {
        console.log('carta asignación de pasante ' + idPasante);
    }
</script>
<noscript>
    <div>
        Este sitio web requiere Javascript habilitado para funcionar
        correctamente
    </div>
</noscript>
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0,maximum-scale=1.0,minimun-scale=1.0">

    <title>Servicio Social Medicina Humana UAZ</title>

    <!-- css -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"
          type="text/css">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css"
          href="{% static "plugins/cubeportfolio/css/cubeportfolio.min.css" %}">
    <link href="{% static "css/nivo-lightbox.css" %}" rel="stylesheet"/>
    <link href="{% static "css/nivo-lightbox-theme/default/default.css" %}"
          rel="stylesheet" type="text/css"/>
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet"
          media="screen"/>
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet"
          media="screen"/>
    <link href="{% static "css/animate.css" %}" rel="stylesheet"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/barra_menus.css"%}" rel="stylesheet">

    <!-- boxed bg -->
    <link id="bodybg" href="{% static "bodybg/bg1.css" %}" rel="stylesheet"
          type="text/css"/>
    <!-- template skin -->
    <link id="t-colors" href="{% static "color/default.css" %}"
          rel="stylesheet">

    <link rel="shortcut icon" href="/media/favicon.ico"/>
    <script src="{% static "js/jquery.min.js" %}"></script>
</head>
<style type="text/css">
    body {
    {% block imagen %}
        width: 100%;
        height: 100%;
        background-image: url(/static/img/dummy/bg1.jpg);
        background-size: 100% 100%;

        background-attachment: fixed;
    {% endblock %}
    }
</style>
<body id="page-top" data-spy="scroll" data-target=".navbar-custom">


<div id="wrapper">

    <div class="navbar navbar-default " role="navigation"
         style="background: #FFFFFF;padding-bottom: 1px;box-shadow: 0 6px 12px rgb(222, 204, 204)">
        <div class="top-area ">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="top-area"
             style="background: #398439;padding-bottom: 2px;padding-top: 2px;">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>


        <div class="container navigation">

            <div class="navbar-header" style="padding-bottom: 20px;">

                <button type="button" class="navbar-toggle"
                        data-toggle="collapse"
                        data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="" style="padding-top: 0px;">
                    <img src="{% static "img/logo.png" %}" alt="" width="80"
                         height="70"/>
                </a>
            </div>
            {% if user.is_authenticated %}
                {% if request.user.is_active and request.user.is_staff == 1 %}
                {% elif request.user.is_staff == 0 %}
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        
                        



                        <ul class="nav navbar-nav">
                           

<!--

                            <li class="active"><a
                                    href="{% url "message:enviarMensaje" %}"
                                    style="margin-top: 1px;"><STRONG><font
                                    size="2">MENSAJERÍA</font></STRONG></a>
                            </li>
-->
                            


                        {% if pasante_p in pasantes_asignados %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">REPORTES</font></STRONG>
                                 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url "reporte_inconformidad_pasante" 6 0 %}">Ver Reportes</a></li>
                                        {% if entre_fechas %}
                                        <li><a href="{% url "reporte_in"%}" > Reporte de Inconformidad </a>  </li>
                                        {% endif %}
                                    </ul>
                        </li>
                        {% endif %}

                         

                        {% block clinica %}
                            {% for i in activo %}
                                {% if tiene_datos and i.status == "activo" %}

                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" {% if fecha_calificacion and not habilitar_clinica %}
                                            title="se habilitará la calificación de la clínica el {{ fecha_calificacion }}" 
                                        {% endif %}


                                        ><STRONG><font size="2">CLÍNICAS</font></STRONG>
                                        <span class="caret"></span></a>
                                        
                                            <ul class="dropdown-menu">
                                                {%if habilitar_clinica%}
                                                <li><a href="{% url "calificar_clinica"%}">Calificar Clínica</a></li>

                                                {% endif %}
                                                <li><a href="{% url "mostrar_clinicas_pasante" %}">Catálogos</a></li>
                                                {% if pasante_p in pasantes_asignados %}     
                                                <li><a href="{% url "subir" %}">Subir imagen</a></li>                                                                           
                                                <li><a href="{% url "actualizar"%}" > Actualizar imagen </a>  </li>        {%endif%}                                
                                            </ul>
                                        
                                    </li>
            
                                {% endif %}
                            {% endfor %}
                        {% endblock %}                                                
                        
                            <li class="dropdown">
                                {% block menu %}

                                {% endblock %}
                            </li>
                            <li>
                                {% block panico %}

                                {% for i in activo %}
                                    {% if tiene_datos and i.status == "activo" %}
                                        <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
                                    {% endif %}
                                {% endfor %}




                                {% endblock %}
                            </li>

                            {% if pasante_p in pasantes_asignados %}
                             <li class="dropdown"><a
                                    href="{% url "chat" %}"
                                    style="margin-top: 1px;"><STRONG><font
                                    size="2">MENSAJERÍA</font></STRONG></a>
                            </li>                            
                            {% endif %}  

                        {% block foro %}
                            <li class="active" ><a href="{% url "foro" %}" style="margin-top: 1;"><STRONG><font size="2">FORO</font></STRONG></a></li>
                        {% endblock %}


                            <li><a href="#pricing"></a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle"
                                   data-toggle="dropdown" href="#"><span
                                        class="glyphicon glyphicon-user"></span>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li style="height: 21px; margin-bottom: 4px;">
                                        <a href="#"
                                           onclick="modificar({{ pasante.id_pasante }})"
                                           data-toggle="modal"
                                           data-target="#myModal">Modificar Perfil</a>
                                    </li>
                                    {% if pasante_p in pasantes_asignados %}
                                        <li style="height: 21px; margin-bottom: 4px;">
                                            <a
                                                    href="/Rol/carta_asignacion?id_pasante={{ pasante_p.id_pasante }}"
                                                    target="_blank">
                                                Carta de
                                                asignación
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li><a href="{% url "logout_user" %}">Cerrar
                                        Sesión</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                {% endif %}
            {% else %}
            {% endif %}
        </div>
        <!-- /.container -->
    </div>
    {% block inicio %}


        <!-- Section: intro -->
        <section id="intro" class="intro">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="wow fadeInDown" data-wow-offset="0"
                             data-wow-delay="0.1s">
                            <br>
                            <br>
                            <h2 class="h-ultra"></h2>
                        </div>
                        <div class="wow fadeInUp" data-wow-offset="0"
                             data-wow-delay="0.1s">
                            <h4 class="h-light">
                                {% block titulo %} {% endblock %} </h4>
                        </div>
                        
                       {% if messages %}
                            {% for msg in messages %}
                                <div class="alert alert-info alert-{{ message.tags }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{msg.message}}
                            </div>
                            {% endfor %}
                {% endif %}


                {% if request.path == "/foro/" %}
                  <div>
                    <form action="buscador" method="post">
                        {% csrf_token %}
                        <select required name="menu">
                        <option value="">Seleccione categoría</option>
                          {% for pregunta in preguntas2 %}
                        <option value="{{ pregunta.id_categoria }}">{{pregunta.nombre}}</option>

                           {% endfor %}
                      </select>
                          &nbsp;Escribir tag: <input type="text" name="dato" maxlength="35"/>
                          &nbsp;<input type="submit" value="Buscar">
                    </form>

                  </div>

                {% endif %}
                    <br>
                    {% if request.path == "/foro/" %}


                      {% if not request.user.is_staff %}
                        <a href="{% url 'nueva_pregunta' %}" class="btn btn-success" role="button">Nueva pregunta</a>
                      {% endif %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sin responder <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'preguntas_sin_respuesta' %}" class="btn btn-warning" role="button">Ver preguntas sin responder</a></li>
                        {% if request.user.is_staff == 0%}
                            <li><a href="{% url 'obtener_preguntas_sr_pasante' %}" class="btn btn-warning" role="button">Mis preguntas sin responder</a></li>
                        {% endif %}
                      </ul>
                    </div>
                    <br><br>
                    {% endif %}

                <div class="container"
                     style="display: block; height: 450px; overflow-y: inherit;
                     overflow-x: hidden;">

                    <div class="table-responsive" style="height: 100%">
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;">
                            <thead class="thead-inverse">
                            <tr>
                                <th>
                                    <center>#</center>
                                </th>
                                <th>
                                    <center>Pregunta</center>
                                </th>
                                <th>
                                    <center>Fecha</center>
                                </th>
                                <th>
                                    <center>Categoría</center>
                                </th>
                                <th>
                                    <center>Tags</center>
                                </th>

                                <th></th>

                            </tr>
                            </thead>
                            <tbody class="searchable">

                            {% for pregunta in preguntas %}
                                <tr class="{% if pregunta.estado == 1 %}" success
                                            {% else %} danger{% endif %}">
                                <!--
                                    <td>
                                        <input type="checkbox" class="checkthis"
                                               name="checks[]"
                                               value="{{ pasante.id_pasante }}"/>
                                    </td>
                                -->
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ forloop.counter }}
                                        </center>
                                    </td>
                                <!--
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% if pregunta.estado == "1" %}
                                                &#10003;{% else %}
                                                &#9747;{% endif %}</center>
                                    </td>
                                -->
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            <a href="{% url 'responder_pasante' pregunta.id_pregunta%}">
                                                {{ pregunta.pregunta }}
                                            </a>
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.fecha }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.id_categoria_fk_id }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% for pregunta in pregunta.tags.all %}
                                            {{ pregunta }}
                                            {% endfor %}

                                        </center>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% if preguntas|length == 0 %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:50%;">No hay preguntas
                                        aún
                                    </div>
                                </h4>
                        {% endif %}

                    </div>

                </div>

                {% if request.path == "/foro/preguntas_sin_respuesta/"  %}
                  <a href="{% url 'foro' %}" class="btn btn-danger" role="button">Regresar</a>
                {% endif %}


                </div>


            </form>
          </br>

                        


                    </div>
                    <div class="col-lg-6">
                        <div class="wow fadeInUp" data-wow-duration="2s"
                             data-wow-delay="0.2s">

                        </div>
                    </div>

                </div>
            </div>

        </section>
    {% endblock %}

</div>

<!-- Core JavaScript Files -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.easing.min.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/jquery.scrollTo.js" %}"></script>
<script src="{% static "js/jquery.appear.js" %}"></script>
<script src="{% static "js/stellar.js" %}"></script>
<script src="{% static "plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" %}"></script>
<script src="{% static "js/owl.carousel.min.js" %}"></script>
<script src="{% static "js/nivo-lightbox.min.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
<script src="{% static "js/jquery.validate.js"%}"></script>

<form method="post" name="formPasanteModificar"
      action="{% url "modificar_pas" %}">
    {% csrf_token %}
    <input type="hidden" name="modificar">
</form>
</body>

</html>
