﻿{% extends tipo_usuario %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}
                <span>Hacer pregunta</span>
        {% else %}
                <span>Hacer pregunta</span>
        {% endif %}
    {% else %}
    {% endif %}

{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
<script type="text/javascript">
    function clicked() {
        location.href = "/../foro"
    }
</script>
<style>
    textarea {
        width: 95%;
        height: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        resize: none;
        box-sizing: border-box;
    }

    .general {

    {
        % if tipo_usuario == "base.html" %
    }

    widht:100%; {
        % else %
    }

    width: 190%; {
        % endif %
    }

    }

    .guardar {
        float: right;
        margin-right: 5%;
    }

        .guardar:hover {
            color: #1883ba;
            background-color: #ffffff;
        }

    .cancelar {
        float: right;
        margin-right: 5%;
        position: relative;

        .cancelar:hover {
            color: #1883ba;
            background-color: #ffffff;
        }
    }

    .tags {
        height: 5%;
        display: block;
        width: 98%;
        position: relative;
    }

    .unTag  {
        height: 100%;
        width: 30%;
        position: relative;
        padding-left: 4%;
        float: left;
    }
    .tag2 {
        height: 100%;
        width: 16%;
        position: fixed;
        margin-left: 16%;
        float: left;
    }
    .tag3 {
        height: 100%;
        width: 16%;
        position: fixed;
        margin-right: 1%;
        float: left;
    }
    .tag4 {
        height: 100%;
        width: 16%;
        position: fixed;
        margin-right: 1%;
        float: left;
    }
    .tag5 {
        height: 100%;
        width: 16%;
        position: fixed;
        margin-right: 1%;
        float: left;
    }

    .titulos {
        font-size: 150%;
    }
</style>

<HEAD>
    <meta charset="utf-8">
</HEAD>

<!--Fin de notificación de que falta dato en la pregunta-->
{% if ya_iba == 1%}
    <script>
        $(window).on('load', function () {
            $('#escribirPregunta').modal('show');
        });
    </script>
{% endif %}
<!--Fin de notificación de que falta dato en la pregunta-->



<div class="general">
    <form action="" method="POST">
        {% csrf_token %}

        <div>
            <div class="">
                Categor&iacute;a de pregunta&nbsp;&nbsp;&nbsp;{{ formP.id_categoria_fk_id }}
            </div>


            <div>
                <div class="">
                    <p></p>
                    Inserte las etiquetas que considere necesarias:
                    <p></p>
                </div>
            </div>

            <div class="tags">
                {% for form in formT %}
                <div class="unTag">
                    {{ form.tag }}
                </div>
                {% endfor %}
            </div>

            <div>
                <div></br></br>
                    <b>Su pregunta:</b>
                </div>
            </div>

            <div class="">
                <div>
                    {{ formP.pregunta }}
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-label-group">
                    {{ form.id_usuario_fk_id }}

                </div>
            </div>



            <button class="btn btn-success guardar" type="submit">ENVIAR PREGUNTA</button>


            <a class="btn btn-danger cancelar"
               data-toggle="modal"
               name="cancel"
               value="cancel"
               data-target="#confirmPregunta">
                CANCELAR
            </a>

            <div class="modal fade" id="escribirPregunta" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Confirmación
                            </h5>
                        </div>
                        <div class="modal-body">
                            Asegúrate de escribir una pregunta
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="confirmPregunta" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Confirmación
                            </h5>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que deseas cancelar la pregunta?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">
                                Regresar
                            </button>

                            <a href="{% url "foro" %}" class="btn btn-danger">
                                Si, cancelar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
</form>
</div>
    {% endblock %}
