{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active  %}
          <span >Mis preguntas sin responder</span>
        {% else %}
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}


                <div class="container"
                     style="display: block; height: 450px; overflow-y: inherit;
                     overflow-x: hidden;">

                    <div class="table-responsive" style="height: 100%">
						<style type="text/css">
							table tr:nth-child(even) {
								background-color: #eee;
							}

							table tr:nth-child(odd) {
								background-color: #fff;
							}
						</style>
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;">

                            <tr>
                                <th>
                                    <center>#</center>
                                </th>
                                <th>
                                    <center>Pregunta</center>
                                </th>
                                <th>
                                    <center>Fecha</center>
                                </th>
                                <th>
                                    <center>Categoría</center>
                                </th>
                                <th>
                                    <center>Tags</center>
                                </th>

                                <th></th>

                            </tr>

                            {% for pregunta in preguntas %}
                                <tr>
                                <!--
                                    <td>
                                        <input type="checkbox" class="checkthis"
                                               name="checks[]"
                                               value="{{ pasante.id_pasante }}"/>
                                    </td>
                                -->
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ forloop.counter }}
                                        </center>
                                    </td>
                                <!--
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% if pregunta.estado == "1" %}
                                                &#10003;{% else %}
                                                &#9747;{% endif %}</center>
                                    </td>
                                -->
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
											<a href="{% url 'responder_pasante' pregunta.id_pregunta%}">

                                            {{ pregunta.pregunta }}
                                            </a>
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.fecha }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pregunta.id_categoria_fk_id }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% for pregunta in pregunta.tags.all %}
                                            {{ pregunta }}
                                            {% endfor %}

                                        </center>
                                    </td>
                                </tr>
                            {% endfor %}

                        </table>

                        {% if preguntas|length == 0 %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:50%;">No hay preguntas
                                        aún
                                    </div>
                                </h4>
                        {% endif %}
                        <a href="{% url 'foro' %}" class="btn btn-danger" role="button">Regresar</a>
                    </div>






                </div>

                 <div>
					<style type="text/css">
						.boton_eliminar{
							text-decoration: none;
							color: black;
						}
					</style>


                </div>



            </form>


{% endblock %}
