{% extends 'base_coordinador.html' %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}
            <span id="titleFormTutor">Registrar Tutor</span>
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <h4 class="h-light">
        {% if info_message %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                {{ info_message }}
            </div>
        {% endif %}
    </h4>

    <h4 class="h-light">
        {% if error_message %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
    </h4>

    <h4 id="errores_cliente" class="h-light hidden">
        <div class="alert alert-danger">
        </div>
    </h4>

    <form method="POST" enctype="multipart/form-data"
          class="form-horizontal" id="frmGuardarTutor" name="frmGuardarTutor">

        {% csrf_token %}

        <div class="form-group form-tutor">
            <label class="col-sm-12 control-label">
                Nombre*:
            </label>
            <div class="col-sm-9">
                <input class="form-control" id="nombre" maxlength="50"
                       name="nombre" type="text"
                       value="{{ nombre }}">
            </div>
        </div>

        <div class="form-group form-tutor">
            <label class="col-sm-12 control-label">
                Apellido Paterno*:
            </label>
            <div class="col-sm-9">
                <input class="form-control" id="apPaterno" maxlength="50"
                       name="apPaterno" type="text"
                       value="{{ apPaterno }}">
            </div>
        </div>

        <div class="form-group form-tutor">
            <label class="col-sm-12 control-label">
                Apellido Materno:
            </label>
            <div class="col-sm-9">
                <input class="form-control" id="apMaterno" maxlength="50"
                       name="apMaterno" type="text"
                       value="{{ apMaterno }}">
            </div>
        </div>

        <div class="form-group form-tutor">
            <label class="col-sm-12 control-label">
                Teléfono*:
            </label>
            <div class="col-sm-9">
                <input class="form-control" id="telefono" maxlength="15"
                       name="telefono" type="tel"
                       value="{{ telefono }}">
            </div>
        </div>

        <div class="form-group form-tutor">
            <label class="col-sm-12 control-label">
                Correo Electrónico*:
            </label>
            <div class="col-sm-9">
                <input class="form-control" id="email" maxlength="50"
                       name="email" type="email"
                       value="{{ email }}">
            </div>
        </div>

        <div class="form-group form-tutor">
            <label class="col-sm-12 control-label">
                Sede*:
            </label>
            <div class="col-sm-9">
                <input class="form-control" id="sede" maxlength="50"
                       name="sede" type="text"
                       value="{{ sede }}">
            </div>
        </div>

        <input type="hidden" name="id_tutor" value="{{ id_tutor }}">

        <a class="btn btn-info btn-lg" id="btnGuardarTutor"
           style="left: 20px;">
            Guardar
        </a>
        <a class="btn btn-info btn-lg" href="{% url "tutores" %}"
           style="left: 20px;">
            Cancelar
        </a>
    </form>

    <!-- Script para cambiar titulo del form del tutor [inicio] -->
    <script>
        $(document).ready(function () {
            url = '{{ url_form }}'.replace('Rol', '').replace(/\//g, '');
            console.log(url)
            if(url === 'registrar_tutor') {
                $('#titleFormTutor').text('Registrar Tutor')
            } else {
                $('#titleFormTutor').text('Modificar Tutor')
            }
        });
    </script>
    <!-- Script para cambiar titulo del form del tutor [fin] -->

    <!-- Script para el envío del formulario del tutor [inicio] -->
    <script>
        $('#btnGuardarTutor').click(function () {
            if (validarFormulario()) {
                var form = document.frmGuardarTutor;
                $('#frmGuardarTutor').attr('action', '{{ url_form }}');
                form.submit();
            }
        });

        function validarFormulario() {
            var erroresCliente = $('#errores_cliente');
            var nombre = $('#nombre').val().trim();
            var apPaterno = $('#apPaterno').val().trim();
            var apMaterno = $('#apMaterno').val().trim();
            var telefono = $('#telefono').val().trim();
            var email = $('#email').val().trim();
            var sede = $('#sede').val().trim();
            var formularioValido = true;

            erroresCliente.addClass('hidden');
            erroresCliente.find('.alert-danger').text('');

            var patronNombre = /^[a-z|A-Z|Á|É|Í|Ó|Ú|á|é|í|ó|ú|\s]*$/g;

            if (nombre.length === 0) {
                erroresCliente.removeClass('hidden');
                erroresCliente.find('.alert-danger')
                    .append('<p>El campo "Nombre" no debe ser vacío</p>');
                formularioValido = false;
            } else {
                if (!/^[a-z|A-Z|Á|É|Í|Ó|Ú|á|é|í|ó|ú|\s]*$/g.test(nombre)) {
                    erroresCliente.removeClass('hidden');
                    erroresCliente.find('.alert-danger')
                        .append('<p>El campo "Nombre" solo debe contener letras</p>');
                    formularioValido = false;
                }
            }

            if (apPaterno.length === 0) {
                erroresCliente.removeClass('hidden');
                erroresCliente.find('.alert-danger')
                    .append('<p>El campo "Apellido Paterno" no debe ser ' +
                        'vacío</p>');
                formularioValido = false;
            } else {
                if (!/^[a-z|A-Z|Á|É|Í|Ó|Ú|á|é|í|ó|ú|\s]*$/g.test(apPaterno)) {
                    erroresCliente.removeClass('hidden');
                    erroresCliente.find('.alert-danger')
                        .append('<p>El campo "Apellido Paterno" solo debe contener letras</p>');
                    formularioValido = false;
                }
            }

            if (apMaterno.length !== 0) {
                if (!/^[a-z|A-Z|Á|É|Í|Ó|Ú|á|é|í|ó|ú|\s]*$/g.test(apMaterno)) {
                    erroresCliente.removeClass('hidden');
                    erroresCliente.find('.alert-danger')
                        .append('<p>El campo "Apellido Materno" solo debe contener letras</p>');
                    formularioValido = false;
                }
            }

            if (telefono.length === 0) {
                erroresCliente.removeClass('hidden');
                erroresCliente.find('.alert-danger')
                    .append('<p>El campo "Teléfono" no debe ser vacío</p>');
                formularioValido = false;
            }

            if (email.length === 0) {
                erroresCliente.removeClass('hidden');
                erroresCliente.find('.alert-danger')
                    .append('<p>El campo "Email" no debe ser vacío</p>');
                formularioValido = false;
            } else {
                var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
                if (!pattern.test(email)) {
                    erroresCliente.removeClass('hidden');
                    erroresCliente.find('.alert-danger')
                        .append('<p>El email es incorrecto</p>');
                    formularioValido = false;
                }
            }

            if (sede.length === 0) {
                erroresCliente.removeClass('hidden');
                erroresCliente.find('.alert-danger')
                    .append('<p>El campo "Sede" no debe ser vacío</p>');
                formularioValido = false;
            }

            return formularioValido;
        }
    </script>
    <!-- Script para el envío del formulario del tutor [inicio] -->
{% endblock %}
