{% extends 'base_coordinador.html' %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}
            Registrar Rol
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <!-- Modal confirmación para eliminar rotación del rol [inicio] -->
    <div class="modal fade" id="confirmEliminaRotacionModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Confirmación
                    </h5>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar la rotación del rol?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        No
                    </button>
                    <button type="button" class="btn btn-primary btn-confirma"
                            data-dismiss="modal">
                        Sí
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirmación para eliminar rotación del rol [fin] -->

    <!-- Modal confirmación para cancelar creación de rol [inicio] -->
    <div class="modal fade" id="confirmCancelRolModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Confirmación
                    </h5>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas cancelar la creación del rol?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"
                            data-dismiss="modal">
                        No
                    </button>
                    <a href="{% url "roles" %}" class="btn btn-primary">
                        Sí
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirmación para cancelar creación de rol [fin] -->

    <h4 class="h-light">
        {% if info_message %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                {{ info_message }}
            </div>

            <!-- Script para redirigir a la lista de roles [inicio] -->
            <script>
                setTimeout(function () {
                    window.location = '../roles';
                }, 3000)
            </script>
            <!-- Script para redirigir a la lista de roles [fin] -->
        {% endif %}
    </h4>

    <!-- Alerta para mostrar errores del lado del servidor [inicio] -->
    <h4 class="h-light">
        {% if error_messages %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                {% for error_message in error_messages %}
                    <p>{{ error_message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </h4>
    <!-- Alerta para mostrar errores del lado del servidor [fin] -->

    <!-- Alerta para mostrar errores del lado del cliente [inicio] -->
    <h4 class="h-light hidden">
        <div id="errores_cliente" class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert"
               aria-label="close">&times;</a>
        </div>
    </h4>
    <!-- Alerta para mostrar errores del lado del cliente [fin] -->

    <!-- Template para fila de rotación [inicio] -->
    <table class="hidden">
        <tr id="rowRotacion">
            <td>
                <label class="control-label rotacion-label">Inicio:</label>
                <input class="form-control datepicker dateInicioRot"
                       type="text">
            </td>
            <td>
                <label class="control-label rotacion-label">Fin:</label>
                <input class="form-control datepicker dateFinRot" type="text">
            </td>
            <td>
                <label class="control-label rotacion-label">Clínica:</label>
                <select class="combobox comboboxClinicas" id="combo_clinicas">
                    <option selected="true" disabled></option>

                </select>
            </td>
            <td>
                <a class="btn btn-danger btnDeleteRotacion"
                   style="margin-top: 28px;">
                    <span class="glyphicon glyphicon-remove">
                    </span>
                </a>
            </td>
        </tr>
    </table>
    <!-- Template para fila de rotación [fin] -->

    <!-- Script para la eliminación de la rotación [inicio] -->
    <script>
        $(document).on('click', '.btnDeleteRotacion', function () {
            var rowId = $(this).parent().parent().attr('id');

            console.log('Eliminar ' + rowId);

            var modalEliminaRotacion = $('#confirmEliminaRotacionModal');
            modalEliminaRotacion.modal();

            modalEliminaRotacion.find('.btn-confirma').click(function () {
                $('#' + rowId).remove();
            });
        });
    </script>
    <!-- Script para la eliminación de la rotación [fin] -->



    <div class="container" style="display: block;">

        {% if user.is_authenticated %}
            {% if request.user.is_active and request.user.is_staff %}

                <!-- Formulario de creación de rol [inicio] -->
                <form action="" method="POST" enctype="multipart/form-data"
                      class="form-horizontal" name="frmCreaRol">

                    {% csrf_token %}

                    <!-- Datos básicos del rol [inicio] -->
                    <table class="col-sm-12 table-form">
                        <tr>
                            <td>
                                <label class="control-label rotacion-label">Institución:</label>
                                <select class="combobox comboboxInstitucion"
                                        onchange="llenaClinicas(this.value)">
                                    <option value="0" selected="selected"
                                            disabled="disabled"></option>
                                    {% for institucion in instituciones %}
                                        <option value="{{ institucion.id_institucion }}">
                                            {{ institucion.nombre_institucion }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="becaContainer"
                                     class="form-comtrol">
                                    <input type="checkbox"
                                           id="chkBeca"
                                           name="chkBeca">
                                    <label for="chkBeca">
                                        ¿Incluye Beca?
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div id="becaInput" class="hidden">
                                    <label class="control-label"
                                           style="text-align:left;">
                                        Beca:
                                    </label>
                                    <div>
                                        <input class="form-control" id="beca"
                                               name="beca"
                                               type="text" value="Sin beca">
                                    </div>
                                </div>
                            </td>
                            <td>
                                <label class="control-label"
                                       style="text-align:left;">
                                    Promoción:
                                </label>
                                <div>
                                    <input class="form-control"
                                           id="promocion" name="promocion"
                                           type="text" disabled
                                           value="{{ promocion }}">
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- Datos básicos del rol [fin] -->

                    <div class="form-group">
                        <label class="col-sm-12 control-label"
                               style="text-align:center;">
                            Rotaciones:
                        </label>
                    </div>

                    <!-- Contenedor de las rotaciones [inicio] -->
                    <table id="rotacionesContainer"
                           class="col-sm-12 table-form">
                    </table>
                    <!-- Contenedor de las rotaciones [fin] -->

                    <div class="form-group">
                        <a id="btnAgregarRotacion" class="btn btn-primary">
                            Agregar rotación
                        </a>
                    </div>

                    <!-- Script para agregar rotaciones al dom [inicio] -->
                    <script>
                        var id_rotacion = 1;

                        $('#btnAgregarRotacion').click(function () {
                            console.log('Agregar rotacion');

                            var copy = $('#rowRotacion').clone();
                            var newId = 'rotacion_' + id_rotacion;
                            copy.attr('id', newId);
                            copy.find('.dateInicioRot').attr('name',
                                'dateInicioRotacion' + id_rotacion);
                            copy.find('.dateFinRot').attr('name',
                                'dateFinRotacion' + id_rotacion);
                            copy.find('.comboboxClinicas').attr('name',
                                'comboboxClinicasRotacion' + id_rotacion);

                            id_rotacion++;

                            $('#rotacionesContainer').append(copy);

                            $('#' + newId + ' .datepicker').datepicker({
                                startDate: '{{ limite_inicio }}',
                                endDate: '{{ limite_fin }}',
                                format: "dd/mm/yyyy",
                                todayBtn: "linked",
                                todayHighlight: true,
                                language: "es"
                            });
                        });
                    </script>
                    <!-- Script para agregar rotaciones al dom [fin] -->

                </form>
                <!-- Formulario de creación de rol [fin] -->

                <!-- Botones de confirmación y cancelación del form [inicio] -->
                <div style="text-align: right">
                    <button id="btnCancelarRol" class="btn btn-danger"
                            data-toggle="modal"
                            data-target="#confirmCancelRolModal">
                        Cancelar
                    </button>
                    <button id="btnGuardarRol" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
                <!-- Botones de confirmación y cancelación del form [fin] -->

                <script>
                    $('#chkBeca').change(function () {
                        if ($(this).is(':checked')) {
                            $('#becaInput').removeClass('hidden');
                            document.getElementById('beca').value = "";
                        } else {
                            $('#becaInput').addClass('hidden');
                            document.getElementById('beca').value = "Sin beca";
                        }
                    });
                </script>
                <!-- Script para hacer submit al form del rol [inicio] -->
                <script>
                    var erroresCliente = $('#errores_cliente');
                    var formatedDates = [];

                    $('#btnGuardarRol').click(function () {
                        formatedDates = [];

                        if (validarFormRol()) {
                            var form = document.frmCreaRol;
                            form.submit();
                        } else {
                            erroresCliente.parent().removeClass('hidden');
                        }
                    });

                    function validarBasicoRol() {
                        var validacionCorrecta = true;

                        erroresCliente.html('');

                        if ($('#beca').val().trim().length === 0) {
                            erroresCliente.append('<p>El campo "Beca" no debe' +
                                ' ser vacío.</p>');
                            validacionCorrecta = false;
                        }

                        if ($('#promocion').val().trim().length === 0) {
                            erroresCliente.append('<p>El campo "Promoción" no' +
                                ' debe ser vacío.</p>');
                            validacionCorrecta = false;
                        }

                        return validacionCorrecta;
                    }

                    function validarRotacionesRol() {
                        var validacionCorrecta = true;

                        var rotaciones = $('#rotacionesContainer').find('tr');

                        console.log('children', rotaciones);

                        if (rotaciones.length === 0) {
                            erroresCliente.append('<p>Debes agregar ' +
                                'mínimo una rotación</p>');
                            validacionCorrecta = false;
                        } else {
                            $.each(rotaciones, function (index, rotacion) {
                                rotacion = $('#' + rotacion.getAttribute('id'));

                                dateInicioVal = rotacion.find('.dateInicioRot')
                                    .val().trim();
                                dateFinVal = rotacion.find('.dateFinRot')
                                    .val().trim();
                                selectClinica = rotacion
                                    .find('.comboboxClinicas');

                                if (dateInicioVal.length === 0) {
                                    erroresCliente.append('<p>Rotación ' +
                                        (index + 1) + ': El campo "Fecha ' +
                                        'inicio" no debe ser vacío</p>');

                                    validacionCorrecta = false;
                                }

                                if (dateFinVal.length === 0) {
                                    erroresCliente.append('<p>Rotación ' +
                                        (index + 1) + ': El campo "Fecha ' +
                                        'fin" no debe ser vacío</p>');

                                    validacionCorrecta = false;
                                }

                                if (selectClinica.val() === null) {
                                    erroresCliente.append('<p>Rotación ' +
                                        (index + 1) + ': El campo "Clínica" ' +
                                        'no debe ser vacío</p>');

                                    validacionCorrecta = false;
                                }

                                formatedInicio = rotacion.find('.dateInicioRot')
                                    .data('datepicker')
                                    .getFormattedDate('yyyy-mm-dd');

                                formatedFin = rotacion.find('.dateFinRot')
                                    .data('datepicker')
                                    .getFormattedDate('yyyy-mm-dd');

                                if (formatedInicio > formatedFin) {
                                    erroresCliente.append('<p>Rotación ' +
                                        (index + 1) + ': La fecha de ' +
                                        'inicio no puede ser posterior a ' +
                                        'la de fin</p>');

                                    validacionCorrecta = false;
                                } else {
                                    formatedDates.push({
                                        inicio: formatedInicio,
                                        fin: formatedFin
                                    })
                                }
                            });

                            if (validacionCorrecta) {
                                validacionCorrecta = validarFechasTraslapadas();
                            }
                        }

                        return validacionCorrecta;
                    }

                    function validarFechasTraslapadas() {
                        var validacionCorrecta = true;

                        for (var i = 0; i < formatedDates.length; i++) {
                            if (!validacionCorrecta) break;

                            for (var j = 0; j < formatedDates.length; j++) {
                                if (i !== j) {
                                    if (formatedDates[i].inicio ===
                                        formatedDates[j].inicio ||
                                        formatedDates[i].inicio ===
                                        formatedDates[j].fin ||
                                        (formatedDates[i].inicio >
                                            formatedDates[j].inicio &&
                                            formatedDates[i].inicio <
                                            formatedDates[j].fin)) {

                                        erroresCliente.append('<p>No puede ' +
                                            'haber periodos de rotaciones ' +
                                            'traslapados</p>');

                                        validacionCorrecta = false;
                                        break;
                                    }
                                }
                            }
                        }

                        return validacionCorrecta;
                    }

                    function validarFormRol() {
                        var basicoValido = validarBasicoRol();
                        var rotacionesValido = validarRotacionesRol();
                        return basicoValido && rotacionesValido;
                    }
                </script>
                <!-- Script para hacer submit al form del rol [fin] -->

                <!-- Script para llenar clinicas [inicio] -->
                <script type="text/javascript">

                    function llenaClinicas(id_institucion) {
                        document.form.action = "/Rol/clinicas_institucion/";
                        document.form.submit();
                    }

                    function llenaClinicas(id_institucion) {
                        $.ajax({
                            data: {'id_institucion': id_institucion},
                            url: '/Rol/clinicas_institucion/',
                            type: 'get',
                            success: function (data) {
                                var clinicasEs = document.getElementById('combo_clinicas');
                                clinicasEs.options.length = 1;
                                for (var i = 0; i < data.length; i++) {
                                    var opt = document.createElement('option');
                                    opt.value = data[i].id;
                                    opt.innerHTML = data[i].nombre;
                                    clinicasEs.appendChild(opt);
                                }
                            },
                            error: function (xhr, errmsg, err) {
                                console.log(xhr.responseText);
                            }
                        });
                        var rotaciones = $('#rotacionesContainer').find('tr');
                        for (var i = 0; i < rotaciones.length; i++) {
                            rotaciones[i].remove()
                        }
                    }
                </script>
                <!-- Script para llenar clinicas [fin] -->



            {% else %}
                <h1>Error 404 no se encontró la página solicitada</h1>
                <br>
                <a class="btn btn-block btn-primary"
                   href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
{% endblock %}
