{% extends 'base_coordinador.html' %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1%}
            Configuración de Cartas de Asignación
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <h4 class="h-light">
        {% if info_message %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                <p>{{ info_message }}</p>
            </div>
        {% endif %}
    </h4>

    <h4 class="h-light">
        {% if error_message %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
    </h4>

    <!-- Alerta para mostrar errores del lado del cliente [inicio] -->
    <h4 class="h-light hidden">
        <div id="errores_cliente" class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert"
               aria-label="close">&times;</a>
        </div>
    </h4>
    <!-- Alerta para mostrar errores del lado del cliente [fin] -->

    <div class="container" style="display: block;">

        {% if user.is_authenticated %}
            {% if request.user.is_active and request.user.is_staff == 1%}

                <!-- Formulario de creación de rol [inicio] -->
                <form action="{% url "configuracion_asignacion" %}"
                      method="POST" enctype="multipart/form-data"
                      class="form-horizontal" name="frmConfiguracion"
                      id="frmConfiguracion">

                    {% csrf_token %}

                    <div class="form-group form-tutor">
                        <label class="col-sm-12 control-label">
                            Inicio de la promoción*:
                        </label>
                        <div class="col-sm-9">
                            <input id="dateInicioPromo" name="inicio_promocion"
                                   class="form-control datepicker"
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group form-tutor">
                        <label class="col-sm-12 control-label">
                            Fin de la promoción*:
                        </label>
                        <div class="col-sm-9">
                            <input id="dateFinPromo" name="final_promocion"
                                   class="form-control datepicker"
                                   type="text">
                        </div>
                    </div>

                    <div class="form-group form-tutor">
                        <label class="col-sm-12 control-label">
                            Acuerdo de asignación*:
                        </label>
                        <div class="col-sm-9">
                            <input id="dateAcuerdoPromo"
                                   name="acuerdo_asignacion"
                                   class="form-control datepicker"
                                   type="text">
                        </div>
                    </div>

                    <input type="hidden" name="id_configuracion"
                           value="{{ id_configuracion }}">

                    <div style="text-align: left">
                        <button id="btnGuardarConfig" class="btn btn-primary">
                            Guardar
                        </button>
                    </div>
                </form>
                <!-- Formulario de creación de rol [fin] -->

                <script>
                    $('#frmConfiguracion').submit(function (e) {
                        $('.h-light').addClass('hidden');

                        if (!validarFormulario()) {
                            e.preventDefault();
                        }
                    });

                    function validarFormulario() {
                        var dateInicio = $('#dateInicioPromo').val().trim();
                        var dateFin = $('#dateFinPromo').val().trim();
                        var dateAcuerdo = $('#dateAcuerdoPromo').val().trim();

                        $('#errores_cliente').find('p').remove();

                        var inicioValido = validateEmptyField(dateInicio,
                            'Inicio de la promoción');
                        var finValido = validateEmptyField(dateFin,
                            'Fin de la promoción');
                        var acuerdoValido = validateEmptyField(dateAcuerdo,
                            'Acuerdo de asignación');

                        if (!inicioValido || !finValido || !acuerdoValido) {
                            return false;
                        }


                        formatedDateInicio = $('#dateInicioPromo')
                            .data('datepicker').getFormattedDate('yyyy-mm-dd');

                        formatedDateFin = $('#dateFinPromo').data('datepicker')
                            .getFormattedDate('yyyy-mm-dd');

                        formatedDateAcuerdo = $('#dateAcuerdoPromo')
                            .data('datepicker').getFormattedDate('yyyy-mm-dd');

                        var erroresBox = $('#errores_cliente');

                        if (formatedDateInicio > formatedDateFin) {
                            erroresBox.parent().removeClass('hidden');
                            erroresBox.append('<p>La fecha de inicio no ' +
                                'puede ser posterior a la de fin</p>');
                            return false;
                        } else if (formatedDateAcuerdo > formatedDateInicio) {
                            erroresBox.parent().removeClass('hidden');
                            erroresBox.append('<p>La fecha de acuerdo no ' +
                                'puede ser posterior a la de inicio</p>');
                            return false;
                        }

                        return true;
                    }

                    function validateEmptyField(value, fieldName) {
                        if (value.length == 0) {
                            var erroresBox = $('#errores_cliente');
                            erroresBox.parent().removeClass('hidden');
                            erroresBox.append('<p>El campo "' + fieldName +
                                '" no debe ser vacío</p>');
                            return false;
                        }
                        return true;
                    }

                    function activarDatepicker(datepickerId) {
                        $(datepickerId).datepicker({
                            format: "dd/mm/yyyy",
                            todayBtn: "linked",
                            todayHighlight: true,
                            language: "es"
                        });
                    }

                    function loadDate(datepickerId, date) {
                        if (date != 'None') {
                            var formatedDate = formatDate(date);

                            console.log(date, formatedDate)
                            $(datepickerId).datepicker('update', formatedDate);
                        } else {
                            console.log(datepickerId, 'Fecha vacía');
                        }
                    }

                    function formatDate(date) {
                        var d = new Date(date);
                        d.setMinutes(d.getMinutes() + d.getTimezoneOffset());

                        var month = '' + (d.getMonth() + 1);
                        var day = '' + d.getDate();
                        var year = d.getFullYear();

                        if (month.length < 2) month = '0' + month;
                        if (day.length < 2) day = '0' + day;

                        return [day, month, year].join('/');
                    }

                    activarDatepicker('#dateInicioPromo');
                    activarDatepicker('#dateFinPromo');
                    activarDatepicker('#dateAcuerdoPromo');

                    loadDate('#dateInicioPromo', '{{ inicio_promocion }}');
                    loadDate('#dateFinPromo', '{{ final_promocion }}');
                    loadDate('#dateAcuerdoPromo', '{{ acuerdo_asignacion }}');
                </script>
            {% elif request.user.is_staff == 0 %}
                <h1>Error 404 no se encontró la página solicitada</h1>
                <br>
                <a class="btn btn-block btn-primary"
                   href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
{% endblock %}
