{% extends 'base_coordinador.html' %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %}
            Roles
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <!-- Modal confirmación para eliminar rol [inicio] -->
    <div class="modal fade" id="confirmDeleteRolModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Confirmación
                    </h5>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar el rol?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-danger"
                            id="btnConfirmaEliminacionRol">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirmación para eliminar rol [fin] -->

    <!-- Script del modal confirmación para eliminar rol [inicio] -->
    <script>
        var id_rol;

        $('#btnConfirmaEliminacionRol').click(function () {
            $('#confirmDeleteRolModal').modal('hide');
            $('#idRolInput').val(id_rol);
            var form = document.frmEliminaRol;
            form.submit();
        });

        $('#confirmDeleteRolModal').on('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget);
            // Extract info from data-* attributes
            id_rol = button.data('id_rol');
        })
    </script>
    <!-- Script del modal confirmación para eliminar rol [fin] -->

    <!-- Formulario de eliminación de rol [inicio] -->
    <form method="post" name="frmEliminaRol" action="{% url "eliminar_rol" %}">
        {% csrf_token %}
        <input type="hidden" name="id_rol" id="idRolInput">
    </form>
    <!-- Formulario de eliminación de rol [fin] -->

    <h4 class="h-light">
        {% if info_message %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                {{ info_message }}
            </div>
        {% endif %}
    </h4>

    <h4 class="h-light">
        {% if error_messages %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                {#                {% for error_message in error_messages %}#}
                <p>{{ error_messages }}</p>
                {#                {% endfor %}#}
            </div>
        {% endif %}
    </h4>

    <!-- Script que filtra roles de acuerdo al cuadro de búsqueda [inicio] -->
    <script>
        $(document).ready(function () {
            var filterRoles = $('#filterRoles');

            filterRoles.keyup(function () {
                var searchText = filterRoles.val();
                applyFilter(searchText);
            });
        });

        function applyFilter(searchText) {
            searchText = searchText.toLowerCase();

            var accordion = $('#accordion');
            var panels = accordion.find('.panel');

            console.log('filtro: ' + searchText);

            panels.each(function (index) {
                var identificadorRol = $(this).find('h4').find('a').text()
                    .toLowerCase();

                if (identificadorRol.indexOf(searchText) === -1) {
                    $(this).addClass('hidden');
                } else {
                    $(this).removeClass('hidden');
                }
            });
        }
    </script>
    <!-- Script que filtra roles de acuerdo al cuadro de búsqueda [fin] -->

    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1%}

            <div class="container">

                <div class="input-group">
                    <span class="input-group-addon">Buscar</span>
                    <input id="filterRoles" type="text" class="form-control"
                           placeholder="Buscar" name="filterRoles">
                </div>

                <br>

                {% if roles %}
                    <div class="panel-group" id="accordion">
                        {% for rol in roles %}
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#rol{{ rol.id_rol }}">{{ rol.identificador }}
                                        </a>
                                        <button class="btn btn-danger"
                                                data-toggle="modal"
                                                data-target="#confirmDeleteRolModal"
                                                data-id_rol="{{ rol.id_rol }}"
                                                {% if rol in roles_asignados %}disabled="disabled"{% endif %}
                                                style="float: right">
                                    <span class="glyphicon glyphicon-remove">
                                    </span>
                                        </button>
                                    </h4>
                                </div>
                                <div id="rol{{ rol.id_rol }}"
                                     class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-rol"
                                                   style="background-color:#FFFFFF;">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th colspan="2">
                                                        Beca
                                                    </th>
                                                    <th>
                                                        Promoción
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody class="searchable">
                                                <tr>
                                                    <td colspan="2">{{ rol.beca }}</td>
                                                    <td>
                                                        {{ rol.id_generacion_fk.generacion }}
                                                        {{ rol.id_generacion_fk.anio }}
                                                    </td>
                                                </tr>
                                                <tr class="row-subheader">
                                                    <th colspan="3">Rotaciones
                                                    </th>
                                                </tr>

                                                <tr>
                                                    <th>Inicio</th>
                                                    <th>Fin</th>
                                                    <th>Clínica</th>
                                                </tr>
                                                {% for rotacion in rotaciones %}
                                                    <tr>
                                                        {% if rotacion.id_rol_fk == rol %}
                                                            <td>{{ rotacion.fecha_inicio }}</td>
                                                            <td>{{ rotacion.fecha_fin }}</td>
                                                            <td>{{ rotacion.id_clinica_fk.nombre_unidad }}</td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% else %}
                    <p>Lista de roles vacía</p>
                {% endif %}

            </div>
        {% elif request.user.is_staff == 0 %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a class="btn btn-block btn-primary"
               href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}
        </div>
    {% else %}
    {% endif %}
{% endblock %}
