{% extends 'base_coordinador.html' %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %}
            Tutores
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <!-- Modal confirmación para eliminar tutor [inicio] -->
    <div class="modal fade" id="confirmDeleteTutorModal" tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Confirmación
                    </h5>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar el tutor?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="button" class="btn btn-danger"
                            id="btnConfirmaEliminacionTutor">
                        Eliminar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal confirmación para eliminar tutor [fin] -->

    <!-- Script del modal confirmación para eliminar tutor [inicio] -->
    <script>
        var id_tutor;

        $('#btnConfirmaEliminacionTutor').click(function () {
            $('#confirmDeleteTutorModal').modal('hide');
            $('#idTutorInput').val(id_tutor);
            var form = document.frmEliminaTutor;
            form.submit();
        });

        $('#confirmDeleteTutorModal').on('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = $(event.relatedTarget);
            // Extract info from data-* attributes
            id_tutor = button.data('id_tutor');
        })
    </script>
    <!-- Script del modal confirmación para eliminar tutor [fin] -->

    <!-- Formulario de eliminación de tutor [inicio] -->
    <form method="post" name="frmEliminaTutor"
          action="{% url "eliminar_tutor" %}">
        {% csrf_token %}
        <input type="hidden" name="id_tutor" id="idTutorInput">
    </form>
    <!-- Formulario de eliminación de tutor [fin] -->

    <h4 class="h-light">
        {% if info_message %}
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                {{ info_message }}
            </div>
        {% endif %}
    </h4>

    <h4 class="h-light">
        {% if error_message %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert"
                   aria-label="close">&times;</a>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
    </h4>

    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %}
            <div class="container"
                 style="display: block; height: 400px; overflow-y: auto;
                 overflow-x: hidden;">

            {% if tutores %}
                <div class="table-responsive">
                    <table class="table table-rol"
                           style="background-color:#FFFFFF;">
                        <thead class="thead-inverse">
                        <tr class="text-center-row">
                            <th>Nombre</th>
                            <th>Apellido Paterno</th>
                            <th>Apellido Materno</th>
                            <th>Teléfono</th>
                            <th>Correo Electrónico</th>
                            <th>Sede</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody class="searchable">
                        {% for tutor in tutores %}
                            {% if tutor.nombre != "Sin Tutor" %}
                                <tr>
                                    <td>{{ tutor.nombre }}</td>
                                    <td>{{ tutor.apellido_paterno }}</td>
                                    <td>{{ tutor.apellido_materno }}</td>
                                    <td>{{ tutor.telefono }}</td>
                                    <td>{{ tutor.correo_electronico }}</td>
                                    <td>{{ tutor.cede }}</td>
                                    <td>
                                        <a class="btn btn-warning"
                                           href="/Rol/modificar_tutor?id_tutor={{ tutor.id_tutor }}">
                                            <span class="glyphicon glyphicon-pencil">
                                            </span>
                                        </a>
                                        <button class="btn btn-danger"
                                                data-toggle="modal"
                                                data-target="#confirmDeleteTutorModal"
                                                data-id_tutor=
                                                        "{{ tutor.id_tutor }}"
                                                {% if tutor in tutores_asignados %}disabled="disabled"{% endif %}>
                                            <span class="glyphicon glyphicon-remove">
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Lista de tutores vacía</p>
            {% endif %}
        {% elif request.user.is_staff == 0 %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a class="btn btn-block btn-primary"
               href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}
    </div>
    {% else %}
    {% endif %}
{% endblock %}
