{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}

{% comment "Esto es por si se quiere cambiar los extends y poner la interface en el chat con el menu del coordinador, solo que si se pone uno se afecta al otro, por los estilos que estan"%}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff %}

    {% include 'base_coordinador.html' %}
    {% load filtros %}
    {% load staticfiles %}

    {% endif %}
{% endif %}

<!-- Esto es para el pasante  -->
{% if user.is_authenticated %}
    {% if request.user.is_active and not request.user.is_staff %}

        {% include 'base.html' %}
        {% load filtros %}
        {% load staticfiles %}

        {% extends request.user.is_staff | yesno: "base_coordinador.html, base.html"%}

    {% endif %}
{% endif %}

{% endcomment %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}


{% block menu %}
{% load filtros %}
{% load staticfiles %}

    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
            <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "mostrar_normatividad" %}" onclick="terminar()">Mostrar Normatividad</a></li>
                    <li><a href="{% url "ver_normatividad" %}" onclick="terminar()">Ver Normatividad</a> </li>
                    <li><a href="{% url "buscar_normatividad"%}" onclick="terminar()">Buscar Tema en Normatividad</a></li>
                </ul>
    </li>


    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">REPORTES</font></STRONG>
            <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "reporte_inconformidad_pasante" 6 0 %}" onclick="terminar()">Ver Reportes</a></li>
                        {% if entre_fechas %}
                            <li><a href="{% url "reporte_in"%}" onclick="terminar()" > Reporte de Inconformidad  </a>  </li>
                        {% endif %}
                </ul>
    </li>

    





{% endblock %}


{% block panico %}
{% load filtros %}
{% load staticfiles %}
<li>
 <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
 <li class="dropdown"><a
    href="{% url "message:enviarMensaje" %}"style="margin-top: 1px;"><STRONG><font
    size="2">MENSAJERÍA</font></STRONG></a>
</li> 
{% endblock %}


{% block titulo %}
{% load filtros %}
{% load staticfiles %}

Mensajería
<button class="btn btn-primary btn-xs" style="float:right;" id="btn_importante" onclick="marcarImportante()" >Importante</button>


{% endblock %}




{% block contenido %}
{% load filtros %}
{% load staticfiles %}

<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Mensajeria SSMH</title>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/default.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/bootstrap.min.css"/>
</head>
<body>

<style>
    div.justified {
        display: flex;
        justify-content: center;
    }

    textarea {

    resize: vertical;

    }


</style>
<style>
.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
</style>

     <div class="justified">  
    <select style="
                       height: 34px;
                       width: 97.5%;
                       padding: 6px 12px;
                       font-size: 14px;
                       line-height: 1.42857143;
                       color: #555;
                       background-color: #fff;
                       background-image: none;
                       border: 1px soli d #ccc;
                       border-radius: 4px; margin-left: 10px;
                      " id="tema_seleccionado" name="tema_seleccionado" onchange ="seleccionarTema(this)">
        <option value="">Selecciona tema de conversación</option>
        {% for tema in temas %}
                    <option value="{{tema.nombre}}"> {{tema.nombre}} </option>
        {% endfor %}
    </select>
    
    </div>


    <form name="finalizar" id="fin_form" method="post" action="{% url 'message:guardar_mensaje'  %}">
        {% csrf_token %}
        <input type="hidden" id="pk_mensaje" name="pk_mensaje" value="{{pk_mensaje}}">
        <input type="hidden" id="es_importante" name="es_importante" value="">
    </form>

    <div class="justified">
    {% if is_coordinador == 1 %}
        <textarea class="textarea col-75" id="texto_mensaje" readonly style="width:98%; height:50%;"  > {{texto_mensaje}}</textarea><br/>
        {% else %}
        <textarea class="textarea col-75" placeholder="&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  Iniciado como: {{user.username}}" id="texto_mensaje" readonly style="width:98%; height:50%;" >{{texto_mensaje}}</textarea><br/>
    {% endif %}
     </div>

    <div class="justified">
    <input placeholder="Escribe un mensaje..." align="middle" id="txt_enviar_mensaje" type="text" style="width:83%;" autofocus onclick="addContent()"/><input class="btn btn-primary btn-xs" style="margin-right:10px;"  id="enviarMensaje" type="button" value="Enviar"/><br/>
     <button class="btn btn-primary btn-xs" style="margin-bottom:1px;" id="btn_finalizar" onclick="terminar()" >Finalizar</button>
    </div>    

    
</body>

<style>
* {
    box-sizing: border-box;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container2 {
    border-radius: 5px;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: center;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
</style>



<script>
    
    var tema_seleccionado="";
    var d = new Date();
    var pk_mensaje={{pk_mensaje}};
    var tipo_user;// = {{tipo_user}};
    
    var is_coordinador={{is_coordinador}};
    
    if (is_coordinador==1){
        tipo_user="coordinador";
        document.getElementById("tema_seleccionado").style.visibility = "hidden";
    }else{
        tipo_user="pasante";

    document.getElementById("btn_importante").style.visibility = "hidden"
    document.getElementById("tema_seleccionado").disabled = false;
    document.getElementById("btn_finalizar").disabled = true;
    document.getElementById("texto_mensaje").disabled = true;
    document.getElementById("txt_enviar_mensaje").disabled = true;
    document.getElementById("enviarMensaje").disabled = true;


    function seleccionarTema(objeto){

        tema_seleccionado= objeto.options[objeto.selectedIndex].value;
        document.getElementById("tema_seleccionado").disabled = false;//true
        document.getElementById("btn_finalizar").disabled = false;
        document.getElementById("texto_mensaje").disabled = false;
        document.getElementById("txt_enviar_mensaje").disabled = false;
        document.getElementById("enviarMensaje").disabled = false;
 
    }

    }

    function marcarImportante(){
        document.getElementById("btn_importante").style.background='rgb(183, 149, 11)';
        document.getElementById('es_importante').value = 1
    }


    function terminar(){
       alertify.confirm('¿Está seguro de que desea finalizar?', 'Al finalizar la conversación ya no se podrá continuar después.', function(){ document.getElementById('fin_form').submit(); }
                , function(){ alertify.error('Cancelado')});
    }

    function enviarInicio(e){
        alertify.alert('Usuario desconectado','El usuario con el que estabas conversando se ha desconectado', 
        function(){
            
            if(e){
                
                document.getElementById('fin_form').submit();
            }else{
                
                document.getElementById('fin_form').submit();
            }  
        }
        );
    }
    //var usuario = {{user.use}}; //{{ user.username }};

    document.querySelector('#txt_enviar_mensaje').focus();
    document.querySelector('#txt_enviar_mensaje').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#enviarMensaje').click();
        }
    };
        
    var usuario = {{usuario}};
    var chatSocket = new WebSocket('ws://' + window.location.host +'/ws/chat/' + usuario + '/');
    //console.log("Conected to:" + usuario);
    document.querySelector('#enviarMensaje').onclick = function(e) {
        document.getElementById("tema_seleccionado").disabled = true;
        var d = new Date();
        //var roomCreado = 0;
        fecha_actual=(' '+ d.getMonth()+'/'+d.getDay()+ '/' + d.getFullYear()+' '+d.getHours()+':'+d.getMinutes());
        var messageInputDom = document.querySelector('#txt_enviar_mensaje');
        /*if(messageInputDom.value == "Usuario se ha desconectado"+"\n"){
            enviarInicio();
        }*/
        if (messageInputDom.value == "") {

            alertify.set('notifier','position', 'top-center');
            //alertify.warning('No se pueden enviar mensajes en blanco');
            alertify.notify('No se pueden enviar mensajes en blanco', 'warning', 2, function(){  console.log('dismissed'); });


            return false
        }

        
        //var elMensaje
  
        //document.querySelector('#texto_mensaje').value += (message + '\n');
  
        


        var message = messageInputDom.value;
        var user={{user.username}};
        
        chatSocket.send(JSON.stringify({

            'message': message,
            'user':user,
            'pk_mensaje': pk_mensaje,
            'tema_seleccionado':tema_seleccionado,
            'tipo_user':tipo_user,
           // 'fecha_ultimo_mensaje':fecha_ultimo_mensaje

        }));

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            if(message == 'El usuario se ha desconectado'){
                enviarInicio();
            }
            var txtarea = document.getElementById("texto_mensaje");
            document.querySelector('#texto_mensaje').value += (message + '\n');
            if(txtarea.selectionStart == txtarea.selectionEnd) {
                txtarea.scrollTop = txtarea.scrollHeight;
            }
            
            //document.getElementById("texto_mensaje").scrollTop = document.getElementById("#texto_mensaje").scrollHeight
            var d = new Date();
        //    fecha_ultimo_mensaje= (' '+ d.getMonth()+'/'+d.getDay()+ '/' + d.getFullYear()+' '+d.getHours()+':'+d.getMinutes());
            console.log("Connected to chat socket");
            
        };
    
        chatSocket.onclose = function(e) {
    
            var message='Usuario '+ '{{user.username}}' + ' ha salido de la conversación \n ';
            chatSocket.send(JSON.stringify({
                'message': message,
                'pk_mensaje': pk_mensaje,
                'tipo_user':tipo_user,
                'importante':importante,
        //        'fecha_ultimo_mensaje':fecha_ultimo_mensaje
    
            }));
            console.error('Chat socket closed unexpectedly');
            console.log("Disconnected from chat socket");
    
        };
        
        messageInputDom.value = '';
        
    };
</script>
</html>
{% endblock %}




