<style>
noscript div {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}
</style>
<noscript><div>
	Este sitio web requiere Javascript habilitado para funcionar correctamente
	</div>
</noscript>
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Servicio Social Medicina Humana UAZ</title>

        <!-- css -->
        <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
              <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css" />
              <link rel="stylesheet" type="text/css" href="{% static "plugins/cubeportfolio/css/cubeportfolio.min.css"%}">
              <link href="{% static "css/nivo-lightbox.css"%}" rel="stylesheet" />
              <link href="{% static "css/nivo-lightbox-theme/default/default.css"%}" rel="stylesheet" type="text/css" />
              <link href="{% static "css/owl.carousel.css"%}" rel="stylesheet" media="screen" />
              <link href="{% static "css/owl.theme.css"%}" rel="stylesheet" media="screen" />
              <link href="{% static "css/animate.css"%}" rel="stylesheet" />
              <link href="{% static "css/style.css"%}" rel="stylesheet">

              <!-- boxed bg -->
              <link id="bodybg" href="{% static "bodybg/bg1.css"%}" rel="stylesheet" type="text/css" />
              <!-- template skin -->
              <link id="t-colors" href="{% static "color/default.css"%}" rel="stylesheet">


              <!-- =======================================================
                  Theme Name: Medicio
                  Theme URL: https://bootstrapmade.com/medicio-free-bootstrap-theme/
                  Author: BootstrapMade
                  Author URL: https://bootstrapmade.com
              ======================================================= -->
        <link rel="shortcut icon" href="/media/favicon.ico" />
    </head>
<style type="text/css">
        body { 
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    
    
    background-attachment: fixed;
}
    </style>
    <body id="page-top" data-spy="scroll" data-target=".navbar-custom">


        <div id="wrapper">

            <div class="navbar navbar-default " role="navigation"  style="background: #FFFFFF;padding-bottom: 1px;box-shadow: 0 6px 12px rgb(222, 204, 204)">
                <div class="top-area " >
                    <div class="container">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="top-area" style="background: #398439;padding-bottom: 2px;padding-top: 2px;">
                    <div class="container">
                        <div class="row">

                        </div>
                    </div>
                </div>

                <div class="container navigation">

                    <div class="navbar-header" style="padding-bottom: 20px;">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="" style="padding-top: 0px;">
                            <img src="{% static "img/logo.png"%}" alt="" width="80" height="70" />
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    {% if user.is_authenticated %}
                        {% if request.user.is_active and request.user.is_staff == 1 %}
                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        <ul class="nav navbar-nav" style="margin-top: 10px;">
                            <li class="active" ><a href="{% url "inicio" %}"><STRONG><font size="2">INICIO</font></STRONG></a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">PASANTE</font></STRONG>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "mostrar_pasantes" %}">Mostrar Pasantes</a></li>
                                    <li><a href="{% url "busqueda_avanzada_pasante_clinica" %}">Búsqueda Avanzada Pasantes</a></li>
                                </ul>
                            </li>	
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">CLÍNICAS</font></STRONG>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "registrar_clinica" %}">Alta Clinica</a></li>
                                    <li><a href="{% url "mostrar_lista_clinicas" %}">Búsqueda Clínica</a></li>
                                    <li><a href="{% url "busqueda_avanzada_clinica" %}">Busqueda avanzada clínica</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "subir_informacion" %}">Alta Información</a></li>
                                    <li><a href="{% url "mostrar_informacion" %}">Mostrar Información</a></li>
                                </ul>
                            </li>

                            <li><a href="#pricing"></a></li>

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "modificar_coordinador" %}">Modificar Coordinador</a></li>
                                    <li><a href="{% url "nuevo_coordinador" %}">Nuevo Coordinador</a></li>
                                    <li><a href="{% url "logout_user" %}">Cerrar Sesión</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                {% else %}
                {% endif %}

                {% else %}
                {% endif %}
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </div>
            <!-- Section: intro -->
            <section id="intro" class="intro">
                
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                                    <br>
                                    <br>
                                    <h2 class="h-ultra"> </h2>
                                </div>
                                <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                                    <h4 class="h-light">{% block titulo %} {% endblock%} </h4>
                                </div>
                                {% block contenido %}


                                {% endblock %}		


                            </div>
                            <div class="col-lg-6">
                                <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">

                                </div>
                            </div>

                        </div>		
                    </div>
                		
            </section>

        </div>

        <!-- Core JavaScript Files -->
        <script src="{% static "js/jquery.min.js"%}"></script>	 
        <script src="{% static "js/bootstrap.min.js"%}"></script>
        <script src="{% static "js/jquery.easing.min.js"%}"></script>
        <script src="{% static "js/wow.min.js"%}"></script>
        <script src="{% static "js/jquery.scrollTo.js"%}"></script>
        <script src="{% static "js/jquery.appear.js"%}"></script>
        <script src="{% static "js/stellar.js"%}"></script>
        <script src="{% static "plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"%}"></script>
        <script src="{% static "js/owl.carousel.min.js"%}"></script>
        <script src="{% static "js/nivo-lightbox.min.js"%}"></script>
        <script src="{% static "js/custom.js"%}"></script>

    </body>

</html>
