{% extends 'base_coordinador.html' %}

{% load filtros %}

{% load staticfiles %}

{% block titulo %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
Clínicas
<br>
<br>
    {% else %}
    {% endif %}

{% else %}
{% endif %}


{% endblock%}

{% block imagen %}
    width: 100%;
    height: 100%;

    background-image: url(/static/img/bodybg/bg1.png);



    background-attachment: fixed;
{% endblock %}
{% block contenido %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff %}


<h4 class="h-light">
    {% if hola != null %}
        <div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{hola}}</div>
    {% endif %}
</h4>

{% if ErrorReporteVacio == "ErrorReporteVacio" %}
    <form method="post" name="ErrorReporteVacio" action ="{% url "busqueda_avanzada_clinica" %}">
      {% csrf_token %}
    </form>
    <script type="text/javascript">
        alert("No hay clínica con los criterios de búsqueda")
        var form = document.ErrorReporteVacio;
        form.submit();
    </script>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

function desactivar_clinica(id){

var form = document.formClinicaDesactivar;
form.id_clinica.value = id;

form.submit();
}

function modificar_clinica(id){

var form = document.formClinicaModificar;
form.id_clinica.value = id;
form.submit();
}

    $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});

</script>

<div class="container">





<script type="text/javascript">

    function llenaMunicipios1(id_estado){
    $.ajax({
        data : {'id_estado':id_estado},
        url : '/Pasante/municipio/',
        type : 'get',
        success: function(data){
            var municipios = document.getElementById('municipios1');
            municipios.options.length = 0;
            var opt = document.createElement('option');
            opt.value = "";
            opt.innerHTML = "---";
            municipios.appendChild(opt);
            for (var i = 0; i < data.length; i++) {
                var opt = document.createElement('option');
                opt.value = data[i].id;
                opt.innerHTML = data[i].nombre;
                municipios.appendChild(opt);
            }


        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.responseText);
        }
    });

}

    function llenaMunicipios2(id_estado){
    $.ajax({
        data : {'id_estado':id_estado},
        url : '/Pasante/municipio/',
        type : 'get',
        success: function(data){
            var municipios = document.getElementById('municipios2');
            municipios.options.length = 0;
            var opt = document.createElement('option');
            opt.value = "";
            opt.innerHTML = "---";
            municipios.appendChild(opt);
            for (var i = 0; i < data.length; i++) {
                var opt = document.createElement('option');
                opt.value = data[i].id;
                opt.innerHTML = data[i].nombre;
                municipios.appendChild(opt);
            }


        },
        error : function(xhr,errmsg,err) {
            console.log(xhr.responseText);
        }
    });

}



    function checkboxClinica(){

          if(document.orderForm.vehicle.checked == true){
            document.getElementById("unidad_filter-2").disabled=false;
            document.getElementById("plaza_federal_filter-2").disabled=false;
            document.getElementById("complemento_filter-2").disabled=false;
            document.getElementById("institucion_filter-2").disabled=false;
            //document.getElementById("beca_filter-2").disabled=false;
            document.getElementById("status_filter-2").disabled=false;
            document.getElementById("localidad_filter-2").disabled=false;
            document.getElementById("estados2").disabled=false;
            document.getElementById("municipios2").disabled=false;
          }else{
            document.getElementById("unidad_filter-2").disabled=true;
            document.getElementById("plaza_federal_filter-2").disabled=true;
            document.getElementById("complemento_filter-2").disabled=true;
            document.getElementById("institucion_filter-2").disabled=true;
            //document.getElementById("beca_filter-2").disabled=true;
            document.getElementById("status_filter-2").disabled=true;
            document.getElementById("localidad_filter-2").disabled=true;
            document.getElementById("estados2").disabled=true;
            document.getElementById("municipios2").disabled=true;
            clearRightColumn()
          }
    }

</script>

<script>
                function getOnlyText(htmlElement) {
                    return (htmlElement.innerText || htmlElement.textContent)
                        .replace('\n', '')
                }

                function getReporteReady () {
                    var filas = $('.searchable').find('tr');

                    var clinicasFiltradas = [];

                    $.each(filas, function (index, fila) {
                        var style = fila.getAttribute('style');

                        console.log('fila', (index + 1));

                        if (style === null || isSubstring(style, 'display: ' +
                                'table-row')) {
                            clinicasFiltradas.push({});

                            var lastIndex = clinicasFiltradas.length - 1;

                            var children = fila.getElementsByTagName('td');

                            $.each(children, function (index, child) {
                                console.log('child', child);

                                switch (index) {
                                    case 1:
                                        clinicasFiltradas[lastIndex].unidad =
                                            getOnlyText(child);
                                        break;
                                    case 2:
                                        clinicasFiltradas[lastIndex].tipoPlaza =
                                            getOnlyText(child);
                                        break;
                                    case 3:
                                        clinicasFiltradas[lastIndex].comple =
                                            getOnlyText(child);
                                        break;
                                    case 4:
                                        clinicasFiltradas[lastIndex].observacion =
                                            getOnlyText(child);
                                        break;
                                    case 5:
                                        clinicasFiltradas[lastIndex].institucion =
                                            getOnlyText(child);
                                        break;
                                    case 6:
                                        clinicasFiltradas[lastIndex].status =
                                            getOnlyText(child);
                                        break;
                                    case 7:
                                        clinicasFiltradas[lastIndex].localidad =
                                            getOnlyText(child);
                                        break;
                                    case 8:
                                        clinicasFiltradas[lastIndex].municipio =
                                            getOnlyText(child);
                                        break;
                                    case 9:
                                        clinicasFiltradas[lastIndex].estado =
                                            getOnlyText(child);
                                        break;
                                }
                            });
                        } else {
                            console.log('no se agrega al json');
                        }

                    });

                    console.log('clinicas_filtradas', clinicasFiltradas)

                    $('.json-reporte').attr('value', JSON.stringify(clinicasFiltradas));
                }

                function isSubstring(string, substring) {
                    return string.indexOf(substring) !== -1;
                }
            </script>





        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"
                data-target="#exampleModalLong">
        Búsqueda avanzada
        </button>
        <br>
        <br>
<button style="margin-bottom: 15px;" type="button"
                    class="btn btn-primary btn-xs" data-toggle="modal"
                    data-target="#exampleModalLong1"
                    id="btnModalReporte" onclick="getReporteReady()">
                Reporte
</button>
        <div class="modal fade" id="exampleModalLong1" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLongTitle1"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle1">
                                Seleccione un tipo de reporte:</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table style="width:100%">
                                <tr>
                                    <th>Reporte de Clínicas</th>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_busqueda_avanzada_clinicas" %}"
                                              name="reporte">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="clinicas_filtradas"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                PDF
                                            </button>
                                        </form>

                                    </td>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_busqueda_avanzada_clinicas_xls" %}"
                                              name="reporte1">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="clinicas_filtradas"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                XLS
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <form name="orderForm">
                <input id="busquedaCruzada" type="checkbox" name="vehicle"  value="activar_búsqueda_cruzada" onchange="checkboxClinica()">Activar búsqueda cruzada<br>
            </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

<script>
    function showErrorCruzada() {
        document.getElementById('alerta-campos').innerHTML = '<div class="alert alert-danger" style="width:100%;">Si sólo buscará un campo procure que esté del lado izquierdo.</div>'
    }

    function checkBusquedaCruzada() {
        if (document.getElementById('busquedaCruzada').checked) {
            var unidad1 = document.getElementById('unidad_filter-1').value
            var unidad2 = document.getElementById('unidad_filter-2').value
            var plaza1 = document.getElementById('plaza_federal_filter-1').value
            var plaza2 = document.getElementById('plaza_federal_filter-2').value
            var comple1 = document.getElementById('complemento_filter-1').value
            var comple2 = document.getElementById('complemento_filter-2').value
            var inst1 = document.getElementById('institucion_filter-1').value
            var inst2 = document.getElementById('institucion_filter-2').value
            var status1 = document.getElementById('status_filter-1').value
            var status2 = document.getElementById('status_filter-2').value
            var localidad1 = document.getElementById('localidad_filter-1').value
            var localidad2 = document.getElementById('localidad_filter-2').value
            var estados1 = document.getElementById('estados1').value
            var estados2 = document.getElementById('estados2').value
            var municipios1 = document.getElementById('municipios1').value
            var municipios2 = document.getElementById('municipios2').value

            if ((unidad2 != null && unidad2 != "") && (unidad1 == null || unidad1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((plaza2 != null && plaza2 != "") && (plaza1 == null || plaza1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((comple2 != null && comple2 != "") && (comple1 == null || comple1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((inst2 != null && inst2 != "") && (inst1 == null || inst1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((status2 != null && status2 != "") && (status1 == null || status1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((localidad2 != null && localidad2 != "") && (localidad1 == null || localidad1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((estados2 != null && estados2 != "") && (estados1 == null || estados1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((municipios2 != null && municipios2 != "") && (municipios1 == null || municipios1 == "")){
                showErrorCruzada()
                return false;
            }
        } else {
            return true
        }
    }

    function clearColumnFields(column_id) {
        document.getElementById('unidad_filter-' + column_id).value = ""
        document.getElementById('plaza_federal_filter-' + column_id).value = ""
        document.getElementById('complemento_filter-' + column_id).value = ""
        document.getElementById('institucion_filter-' + column_id).value = ""
        document.getElementById('status_filter-' + column_id).value = ""
        document.getElementById('localidad_filter-' + column_id).value = ""
        document.getElementById('estados' + column_id).value = ""
        document.getElementById('municipios' + column_id).value = ""
    }

    function clearRightColumn() {
        clearColumnFields(2)
    }

    function clearFields() {
        clearColumnFields(1)
        clearColumnFields(2)
        document.getElementById('busquedaCruzada').checked = false
        checkboxClinica()
        document.getElementById('alerta-campos').innerHTML = ""
    }
</script>



        <form method="POST" enctype="multipart/form-data" class="form-horizontal" name="BusqAvanzadaClinica" onsubmit="return checkBusquedaCruzada()">
        {% csrf_token %}
            <div class="row" id="alerta-campos">
            </div>
            <div class="row">
             <div class="col-xs-6">
                <label class="col-sm-8">Nombre de Unidad</label>
                <input class="col-sm-7" id="unidad_filter-1" name="unidad_filter-1" type="text" class="form-control">

                <label class="col-sm-8">Tipo plaza</label>
                <select class="col-sm-7" id="plaza_federal_filter-1" name="plaza_federal_filter-1" class="form-control">
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>



                <label class="col-sm-8">Complemento</label>
                <select class="col-sm-7" id="complemento_filter-1" name="complemento_filter-1" class="form-control">
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>

                <label class="col-sm-8">Institución</label>
                <select class="col-sm-7" id="institucion_filter-1" name="institucion_filter-1" class="form-control">
                    <option value=""></option>
                    {% for institucion in instituciones %}
                        <option value="{{institucion.nombre_institucion}}">
                            {{institucion.nombre_institucion}}
                        </option>
                    {% endfor %}
                </select>

                <label class="col-sm-8">Status</label>
                <select class="col-sm-7" id="status_filter-1" name="status_filter-1" class="form-control">
                    <option value=""></option>
                    <option value="1">Activado</option>
                    <option value="0">Desactivado</option>
                </select>

                <label class="col-sm-8">Localidad</label>
                <input class="col-sm-7" id="localidad_filter-1" name="localidad_filter-1" type="text" class="form-control">



              <label class="col-sm-8">Estado </label>
              <select id="estados1" name="estados1" onchange="llenaMunicipios1(this.value)" class="col-sm-7">
              <option value="">---</option>
              {% for i in estados %}
                <option value="{{i.id_estado}}">{{i.nombre}}</option>
              {% endfor %}
              </select>


               <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
               <label class="col-sm-8">Municipio</label>
               <select id="municipios1" name="municipios1" class="col-sm-7">
               <option value="">---</option>
               </select>
            </div>

            <!-- End first segment-->

            <div class="col-xs-6">
                <label class="col-sm-8">Nombre de Unidad</label>
                <input class="col-sm-7" id="unidad_filter-2" name="unidad_filter-2" type="text" class="form-control" disabled>

                <label class="col-sm-8">Tipo plaza</label>
                <select class="col-sm-7" id="plaza_federal_filter-2" name="plaza_federal_filter-2" class="form-control" disabled>
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>


                <label class="col-sm-8">Complemento</label>
                <select class="col-sm-7" id="complemento_filter-2" name="complemento_filter-2" class="form-control" disabled>
                    <option value=""></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>


                <label class="col-sm-8">Institución</label>
                <select class="col-sm-7" id="institucion_filter-2" name="institucion_filter-2" class="form-control" disabled>
                    <option value=""></option>
                    {% for institucion in instituciones %}
                        <option value="{{institucion.nombre_institucion}}">
                            {{institucion.nombre_institucion}}
                        </option>
                    {% endfor %}
                </select>
                <!--

                <label class="col-sm-8">Beca</label>
                <input class="col-sm-7" id="beca_filter-2" name="beca_filter-2" type="text" class="form-control" disabled>

                -->

                <label class="col-sm-8">Status</label>
                <select class="col-sm-7" id="status_filter-2" name="status_filter-2" class="form-control" disabled>
                    <option value=""></option>
                    <option value="1">Activado</option>
                    <option value="0">Desactivado</option>
                </select>

                <label class="col-sm-8">Localidad</label>
                <input class="col-sm-7" id="localidad_filter-2" name="localidad_filter-2" type="text" class="form-control" disabled>




              <label class="col-sm-8">Estado </label>
              <select id="estados2" name="estados2" onchange="llenaMunicipios2(this.value)" class="col-sm-7" disabled>
              <option value="">---</option>
              {% for i in estados %}
                <option value="{{i.id_estado}}">{{i.nombre}}</option>
              {% endfor %}
              </select>


               <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
               <label class="col-sm-8">Municipio</label>
               <select id="municipios2" name="municipios2" class="col-sm-7" disabled>
               <option value="">---</option>
               </select>


                        </div>

            </div>







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                onmousedown="clearFields()">
            Cerrar
        </button>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<br>
 <style type="text/css">
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
</style>









    <br>
</div>

<div class="container" style="display: block; height: 350px; overflow-y: auto; overflow-x: hidden;">
<div class="table-responsive" >
<table class="table" style="background-color:#FFFFFF;">

    <thead class="thead-inverse">
            <tr class="">
            <th><center>#</center></th>
            <th><center>Nombre de Unidad</center></th>
            <th><center>Tipo plaza</center></th>
            <th><center>Complemento</center></th>
            <th><center>Observación</center></th>
            <th><center>Institución</center></th>
            <th><center>Status</center></th>
            <th><center>Localidad</center></th>
            <th><center>Municipio</center></th>
            <th><center>Estado</center></th>

</tr>
</thead>

<tbody class="searchable">
    <h4 class="h-light">
        {% if clinicas|length == 0 %}
            <div class="alert alert-danger" style="width:50%;">No hay clínicas registradas.</div>
        {% endif %}
    </h4>
    {% for clinica in clinicas %}

    {% if clinica.status == True %}
        <tr class="success">
    {% else %}
        <tr class="danger">
    {% endif %}
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{forloop.counter}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{clinica.nombre_unidad}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{clinica.plaza_fed}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{clinica.complemento}}
                </center>
            </td>

            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.observacion}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.id_institucion_fk.nombre_institucion}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                {% if clinica.status == 1 %}
                    <center>
                        Activa
                    </center>
                {% else %}
                    <center>
                        Inactiva
                    </center>
                {% endif %}
            </td>

             <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.id_direccion_fk.localidad}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.id_direccion_fk.municipio.nombre}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.id_direccion_fk.estado.nombre}}
                </center>
            </td>

<style type="text/css">
.dropdown-menu2{
   margin-right: 50px;
    top:-30px;
}
</style>

        </tr>


    {% endfor %}
</tbody>

</table>



</div>
</div>
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

{% else %}
{% endif %}

{% endblock%}
