{% extends 'base_coordinador.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}


{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1%}



Búsqueda avanzada de pasante
<br>
<br>
{% if funcion != null %}
<div class="alert alert-success" action="{% url "inicio" %}"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{funcion}}</div>

{% endif %}

{% if baja_multiples != null %}
<div class="alert alert-success"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{baja_multiples}}</div>

{% endif %}

{% if ErrorReporteVacio == "ErrorReporteVacio" %}
    <form method="post" name="ErrorReporteVacio" action ="{% url "busqueda_avanzada_pasante_clinica" %}">
      {% csrf_token %}
    </form>
    <script type="text/javascript">
        alert("No hay clínica con los criterios de búsqueda")
        var form = document.ErrorReporteVacio;
        form.submit();
    </script>
{% endif %}

{% if se_asigno != null %}

<div class="alert alert-success" action = "{% url "mostrar_pasantes" %}"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{se_asigno}}</div>
<script type="text/javascript">

    #setTimeout("redireccionarPagina()",3000);
</script>
{% endif %}
<script type="text/javascript">
    function redireccionarPagina(){
        window.location = "/Coordinador/";
    }
</script>

{% if boolean %}
<script type="text/javascript">

    #setTimeout("redireccionarPagina()",3000);
</script>
{% endif %}

{% if comision_vacia != null %}
<div class="alert alert-danger">{{comision_vacia}}</div>
{% endif %}
{% if check_vacio != null %}
<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{check_vacio}}</div>
{% endif %}
    {% else %}
    {% endif %}

{% else %}

{% endif %}
{% endblock%}
{% block imagen %}
    width: 100%;
    height: 100%;

    background-image: url(/static/img/bodybg/bg1.png);



    background-attachment: fixed;
{% endblock %}


{% block contenido %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}


<style>

</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

    /**
    * Se obtiene el id del pasante al que se le asignara una clínica.
    */
    function asignar(id_pasante){
    pasante = document.getElementById("asignar_id").value = id_pasante;

    }
    function clinica(id_clinica){
        clinica = document.getElementById("asignar_clinica").value = id_clinica

    }
    /**
    * En este metodo se obtiene el id de la clinica que va a ser asignada al pasante.
    */
    function comision(){
        var form = document.formPasanteAsignarClinica;
        form.comision.value = document.getElementById("asignar_id").value+":"+document.getElementById("asignar_clinica").value+":"+document.getElementById("input_comision").value;
        form.submit();
    }

    function checkboxClinica(){

        if(document.orderForm.vehicle.checked == true){
            document.getElementById("nombre_filter_2").disabled=false;
            document.getElementById("ap_paterno_filter_2").disabled=false;
            document.getElementById("ap_materno_filter_2").disabled=false;
            document.getElementById("matricula_filter_2").disabled=false;
            document.getElementById("promedio_filter_2").disabled=false;
            document.getElementById("nombre_unidad_filter_2").disabled=false;
            document.getElementById("comision_filter_2").disabled=false;
            document.getElementById("anio_filter_2").disabled=false;
        }else{
            document.getElementById("nombre_filter_2").disabled=true;
            document.getElementById("ap_paterno_filter_2").disabled=true;
            document.getElementById("ap_materno_filter_2").disabled=true;
            document.getElementById("matricula_filter_2").disabled=true;
            document.getElementById("promedio_filter_2").disabled=true;
            document.getElementById("nombre_unidad_filter_2").disabled=true;
            document.getElementById("comision_filter_2").disabled=true;
            document.getElementById("anio_filter_2").disabled=false;
        }
    }

</script>


<!--Desactivar multiples registros-->


<script>
                function getOnlyText(htmlElement) {
                    return (htmlElement.innerText || htmlElement.textContent)
                        .replace('\n', '')
                }

                function getReporteReady () {
                    var filas = $('.searchable').find('tr');

                    var pasantesFiltrados = [];

                    $.each(filas, function (index, fila) {
                        var style = fila.getAttribute('style');

                        console.log('fila', (index + 1));

                        if (style === null || isSubstring(style, 'display: ' +
                                'table-row')) {
                            pasantesFiltrados.push({});

                            var lastIndex = pasantesFiltrados.length - 1;

                            var children = fila.getElementsByTagName('td');

                            $.each(children, function (index, child) {
                                console.log('child', child);

                                switch (index) {
                                    case 1:
                                        pasantesFiltrados[lastIndex].promedio =
                                            getOnlyText(child);
                                        break;
                                    case 2:
                                        pasantesFiltrados[lastIndex].nombre =
                                            getOnlyText(child);
                                        break;
                                    case 3:
                                        pasantesFiltrados[lastIndex].ap_pat =
                                            getOnlyText(child);
                                        break;
                                    case 4:
                                        pasantesFiltrados[lastIndex].ap_mat =
                                            getOnlyText(child);
                                        break;
                                    case 5:
                                        pasantesFiltrados[lastIndex].matricula =
                                            getOnlyText(child);
                                        break;
                                    case 7:
                                        pasantesFiltrados[lastIndex].clinica =
                                            getOnlyText(child);
                                        break;
                                    case 8:
                                        pasantesFiltrados[lastIndex].comision =
                                            getOnlyText(child);
                                        break;
                                }
                            });
                        } else {
                            console.log('no se agrega al json');
                        }

                    });

                    console.log('pasantes_filtrados', pasantesFiltrados)

                    $('.json-reporte').attr('value', JSON.stringify(pasantesFiltrados));
                }

                function isSubstring(string, substring) {
                    return string.indexOf(substring) !== -1;
                }
            </script>




<!-- Button trigger modal -->
<button style="margin-left: 15px;" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#exampleModalLong">
  Búsqueda avanzada
</button>
<br>
<br>
<!-- Button trigger modal -->
<button style="margin-left: 15px;" type="button"
                    class="btn btn-primary btn-xs" data-toggle="modal"
                    data-target="#exampleModalLong1"
                    id="btnModalReporte" onclick="getReporteReady()">
                Reporte
</button>
        <div class="modal fade" id="exampleModalLong1" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLongTitle1"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle1">
                                Seleccione un tipo de reporte:</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    <div class="modal-body">
                            <table style="width:100%">
                                <tr><th>Reporte de Pasantes con Clínica</th>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_busqueda_pasante_clinica" %}"
                                              name="reporte">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                PDF
                                            </button>
                                        </form>

                                    </td>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_mostrar_pasante_clinica_xls" %}"
                                              name="reporte2">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                XLS
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr> <th>Reporte de Pasantes</th>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_mostrar_pasante" %}"
                                              name="reporte1">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                PDF
                                            </button>
                                        </form>
                                    </td>

                                    <th>
                                        <form method="post"
                                              action="{% url "reporte_mostrar_pasante_xls" %}"
                                              name="reporte3">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                XLS
                                            </button>
                                        </form>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <form name="orderForm">
                <input type="checkbox" id="busquedaCruzada" name="vehicle"  value="activar_búsqueda_cruzada" onClick="checkboxClinica()">Activar búsqueda cruzada<br>
            </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


<script>
    function showErrorCruzada() {
        document.getElementById('alerta-campos').innerHTML = '<div class="alert alert-danger" style="width:100%;">Si sólo buscará un campo procure que esté del lado izquierdo.</div>'
    }

    function checkBusquedaCruzada() {
        if (document.getElementById('busquedaCruzada').checked) {
            var nombre1 = document.getElementById('nombre_filter_1').value
            var nombre2 = document.getElementById('nombre_filter_2').value
            var ap_paterno1 = document.getElementById('ap_paterno_filter_1').value
            var ap_paterno2 = document.getElementById('ap_paterno_filter_2').value
            var ap_materno1 = document.getElementById('ap_materno_filter_1').value
            var ap_materno2 = document.getElementById('ap_materno_filter_2').value
            var matricula1 = document.getElementById('matricula_filter_1').value
            var matricula2 = document.getElementById('matricula_filter_2').value
            var promedio1 = document.getElementById('promedio_filter_1').value
            var promedio2 = document.getElementById('promedio_filter_2').value
            var clinica1 = document.getElementById('nombre_unidad_filter_1').value
            var clinica2 = document.getElementById('nombre_unidad_filter_2').value
            var comision1 = document.getElementById('comision_filter_1').value
            var comision2 = document.getElementById('comision_filter_2').value
            var anio1 = document.getElementById('anio_filter_1').value
            var anio2 = document.getElementById('anio_filter_2').value
            if ((nombre2 != null && nombre2 != "") && (nombre1 == null || nombre1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((ap_paterno2 != null && ap_paterno2 != "") && (ap_paterno1 == null || ap_paterno1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((ap_materno2 != null && ap_materno2 != "") && (ap_materno1 == null || ap_materno1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((matricula2 != null && matricula2 != "") && (matricula1 == null || matricula1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((promedio2 != null && promedio2 != "") && (promedio1 == null || promedio1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((clinica2 != null && clinica2 != "") && (clinica1 == null || clinica1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((comision2 != null && comision2 != "") && (comision1 == null || comision1 == "")){
                showErrorCruzada()
                return false;
            }
            if ((anio2 != null && anio2 != "") && (anio1 == null || anio1 == "")){
                showErrorCruzada()
                return false;
            }
        } else {
            return true
        }
    }
</script>


        <form method="POST" enctype="multipart/form-data" class="form-horizontal" onsubmit="return checkBusquedaCruzada()">
        {% csrf_token %}
            <div class="row" id="alerta-campos">
            </div>
            <div class="row">
             <div class="col-xs-6">
                <label class="col-sm-8">Nombre</label>
                <input class="col-sm-7" id="nombre_filter_1" name="nombre_filter_1" type="text" class="form-control">

                <label class="col-sm-8">Apellido Paterno</label>
                <input class="col-sm-7" id="ap_paterno_filter_1" name="ap_paterno_filter_1" type="text" class="form-control">

                <label class="col-sm-8">Apellido Materno</label>
                <input class="col-sm-7" id="ap_materno_filter_1" name="ap_materno_filter_1" type="text" class="form-control">

                <label class="col-sm-8">Matrícula</label>
                <input class="col-sm-7" id="matricula_filter_1" name="matricula_filter_1" type="text" class="form-control">


                <label class="col-sm-8">Promedio</label>
                <input class="col-sm-7" id="promedio_filter_1" name="promedio_filter_1" type="text" class="form-control">

                <label class="col-sm-8">Clínica</label>
                <input class="col-sm-7" id="nombre_unidad_filter_1" name="nombre_unidad_filter_1" type="text" class="form-control">



                <label class="col-sm-8">Comisión</label>
                <input class="col-sm-7" id="comision_filter_1" name="comision_filter_1" type="text" class="form-control">

                 <label class="col-sm-8">Año</label>
                <input class="col-sm-7" id="anio_filter_1" name="anio_filter_1" type="text" class="form-control">

                 <label class="col-sm-8">Promoción</label>
                <select class="col-sm-7" id="prom_filter_1" name="prom_filter_1" class="form-control">
                    <option style="display:none"></option>
                    <option value="Agosto">Agosto</option>
                    <option value="Febrero">Febrero</option>
                </select>


            </div>

            <div class="col-xs-6">
                <label class="col-sm-8">Nombre</label>
                <input class="col-sm-7" id="nombre_filter_2" name="nombre_filter_2" type="text" class="form-control" disabled>

                <label class="col-sm-8">Apellido Paterno</label>
                <input class="col-sm-7" id="ap_paterno_filter_2" name="ap_paterno_filter_2" type="text" class="form-control" disabled >

                <label class="col-sm-8">Apellido Materno</label>
                <input class="col-sm-7" id="ap_materno_filter_2" name="ap_materno_filter_2" type="text" class="form-control" disabled>

                <label class="col-sm-8">Matrícula</label>
                <input class="col-sm-7" id="matricula_filter_2" name="matricula_filter_2" type="text" class="form-control" disabled>


                <label class="col-sm-8">Promedio</label>
                <input class="col-sm-7" id="promedio_filter_2" name="promedio_filter_2" type="text" class="form-control" disabled>

                <label class="col-sm-8">Clínica</label>
                <input class="col-sm-7" id="nombre_unidad_filter_2" name="nombre_unidad_filter_2" type="text" class="form-control" disabled>

                <label class="col-sm-8">Comisión</label>
                <input class="col-sm-7" id="comision_filter_2" name="comision_filter_2" type="text" class="form-control" disabled>

                <label class="col-sm-8">Año</label>
                <input class="col-sm-7" id="anio_filter_2" name="anio_filter_2" type="text" class="form-control" disabled>


            </div>

            </div>







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
      </form>
    </div>
  </div>
</div>
<br>
<br>
<div class="container" style="display: block; height: 350px; overflow-y: inherited ; overflow-x: hidden;">
<style type="text/css">
.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
</style>
<div class="table-responsive">
<form method="post" name="checkbox_pasantes" action ="">
{% csrf_token %}
<br>
<table class="table" id="mytable" style="background-color:#FFFFFF;">

    <thead class="thead-inverse">
        <tr>
            <th><center>#</center></th>

            <th><center>Promedio Final</center></th>
            <th><center>Nombre</center></th>
            <th><center>Apellido Paterno</center></th>
            <th><center>Apellido Materno</center></th>
            <th><center>Matrícula</center></th>
            <th><center>Fotografia</center></th>
            <th><center>Clínica</center></th>
            <th><center>Comisión</center></th>


        </tr>
    </thead>

<tbody class="searchable">

    <h4 class="h-light">
	{% if pasante|length == 0 %}
        <div class="alert alert-danger">No hay pasantes registrados</div>
    {% endif %}
    </h4>
    {% for pasante in pasante %}
        {% if pasante.status == "activo" %}
            <tr class="success">
        {% else %}
            <tr class="danger">
        {% endif %}
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{forloop.counter}}
                </center>
            </td>

            {% if not pasante.id_datos_academicos_fk.promedio %}
                <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                    <center>
                        -
                    </center>
                </td>
            {% elif pasante.id_datos_academicos_fk.promedio %}
                <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                    <center>
                        {{pasante.id_datos_academicos_fk.promedio}}
                    </center>
                </td>
            {% endif %}

            <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{pasante.nombre}}
                </center>
            </td>

             <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{pasante.apellido_paterno}}
                </center>
            </td>

            {% if not pasante.apellido_materno %}
                <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                    <center>
                        -
                    </center>
                </td>
            {% elif pasante.apellido_materno %}
                <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                    <center>
                        {{pasante.apellido_materno}}
                    </center>
                </td>
            {% endif %}


            <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{pasante.id_usuario_fk.matricula}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                  <IMG SRC="/../../media/{{pasante.foto}}" class="img-circle" alt="Cinque Terre" width="100em" height="100em">
                </center>
            </td>

           <!-- Modificaciones clínica y comisión  [inicio] -->
                                    {% for asignacion in asignacion %}
                                        {% if asignacion.id_pasante_id == pasante.id_pasante %}
                                            <td>{{ asignacion.id_rotacion.id_clinica_fk.nombre_unidad }}</td>
                                            <td>{{ asignacion.comision }}</td>
                                        {% endif %}
                                    {% endfor %}

                                    {% if pasante not in pasantes_asignados %}
                                        <td>---</td>
                                        <td>---</td>
                                    {% endif %}
                                    <!-- Modificaciones clínica y comisión  [fin] -->




<style type="text/css">
.dropdown-menu2{
    margin-right: 50px;
    top:-30px;
}
</style>




        </tr>


    {% endfor %}
</tbody>

</table>
</form>
</div>

</div>
<br>
<br>

<style type="text/css">

.modal-lg {
    width: 100%;
}
</style>




<!-- Modal -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle1">Seleccione un tipo de reporte:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table style="width:100%">
          <tr>
            <th>
                <form method="post" action ="{% url "reporte_busqueda_avanzada_pasante_clinica" %}">
                    {% csrf_token %}
                    <label>Reporte pasante con clínica.</label>
                    <button type="submit" class="btn btn-primary btn-xs">Generar</button>
                </form>
            </th>
            <th>
                <form method="post" action ="{% url "reporte_avanzada_pasante" %}">
                    {% csrf_token %}
                    <label>Reporte pasantes.</label>
                    <button type="submit" class="btn btn-primary btn-xs">Generar</button>
                </form>
            </th>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>





</div>

    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

{% else %}

{% endif %}

{% endblock%}
