{% extends 'base_coordinador.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}

            Catálogo de Clínicas
       
        {% if no_info == "No hay clinicas calificadas." %}
            <div class="alert alert-danger" action ="{% url "inicio" %}">{{no_info}}</div>
        {% endif %}

            <br>
            <br>
            {% if funcion != null %}

                <div class="alert alert-success"
                     action="{% url "inicio" %}">{{ funcion }}</div>

            {% endif %}
            {% if alerta != null %}

                <div class="alert alert-danger"
                     action="{% url "inicio" %}">{{ alerta }}</div>

            {% endif %}

        {% else %}

        {% endif %}

    {% else %}
    {% endif %}

{% endblock %}
{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}
{% block contenido %}
    {% if user.is_authenticated or superuser.is_authenticated%}
        {% if request.user.is_active and request.user.is_staff %}
            
            <script type="text/javascript">
                function redireccionarPagina() {
                    window.location = "/mostrar_clinicas/";
                }

            </script>

<style type="text/css">
    .col-sm-3 {
        width: 100%;
    }

       .caja{
        background: blue;
        color: white
        float:left;
        width: 150px;
        height: 180px;
        text-align: center;
        font-size: 12px;
        border: 1px solid white;s
    }
    
    p {
        font-style: normal;
        font-size: 16px;
    }
    
    hr {
        height: 10px;
        background-color: blue;
    }

    #inner {
        overflow: hidden;
        width: 1145px;
        margin: 10px;
        border: 2px solid green;
    }

    .divimagen{
        text-align: left;
        width: 200px;
        padding:25px 0;
        margin: 0 auto;
        flex-direction: row;


    }
     .divtitulo{
        margin: 0 auto;
        width: 200px;
        height: 200px;
        width: 100px;
        height: 20px;
        margin: 1px;

         
    }

    .divinformacion{
        margin: 10 auto;
        text-align: right;
        width: 200px;
        display:flex;
        display:inline; position:relative; margin:5px;
        
    }
    #container {
    background-color: red;
    overflow: hidden;
    width: 2000px;
    
    }

    .child {
        float: left;
    width: 285px;
    height: 125px;
    background-color: white;

    }

    .div1{
        display:inline; position:relative; margin:5px;
        margin: 10px;
        background-color: white;
        style:"float";
        width: 1200px;
        display:flex;
        justify-content: space-between space-around
    }

</style>          

{% for i in calificacion %}
                
                    <tr>
                    <th>
                            <div id="inner">
                            <div class="child">
                            <left>
                                <IMG SRC="/../../media/{{ i.id_clinica_fk.docfile }}"
                                     class="img-circle"
                                     alt="Cinque Terre" style="width: 10em;
                                                               height: 10em;
                                                               background-position: center center;
                                                               background-repeat: no-repeat;">
                            </left>
                           
                        </div>
                        
                        <div class="child">
                                <center>
                                        <strong>{{i.id_clinica_fk.id_institucion_fk.nombre_institucion}}</strong> 
                                        <strong>{{i.id_clinica_fk.nombre_unidad}}</strong> </br> 
                                        <br>
                                        <strong>Localidad:</strong> {{i.id_clinica_fk.id_direccion_fk.localidad}}
                                    </br>
                                     {{i.id_clinica_fk.id_direccion_fk.municipio.nombre}},   
                                     {{i.id_clinica_fk.id_direccion_fk.estado.nombre}}
                                      
                                    </center>  
                                           
                       </div> 
                                
                         <div class="child">
                                <center>
                                        <strong> Calificación General:  </strong>
                                    </br> 
                                          
                                            {{ i.promedio }}         
                                            </br>  
                                       
                                        <strong>Observación:</strong> </br>                                        
                                        {{i.id_clinica_fk.observacion}}
                                        </br>  
                                     
                                   </center>      
                        </div>                            
                            
                                <center>

                                <div class="child">  
                                      <br>
                                      <br>
                                        <button class="btn btn-primary" type="button"  role="button" aria-expanded="false"
                                        onclick="location.href='{% url "mostrar_clinica_coordinador" i.id_clinica_fk.id_clinica%}'">
                                            Ver Información 
                                        </button>
                                    </center>                                                                         
                                </div>               
                    
                    </th>
                    </tr>
                   
                {% endfor %}
            </div>   

        {% else %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}
        <br>
        <div id="norm-view"></div>
    <br>

    {% endif %}

{% endblock%}


