{% extends 'base_coordinador.html' %}

{% load filtros %}
{% load staticfiles %} 

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}
            Contactos de Alerta
        {% endif %}
    {% endif %}
{% endblock%}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}
            <div id="error_repetido"></div>

            <div id="seccion_agregar_contactos"></div>

            <div id="tabla_contactos"></div>

            <script>
                function loadTabla() {
                    $.get("{% url 'obtener_contactos_directivo' %}","",function(data){
                        $("#tabla_contactos").html(data);
                    });
                }

                function mostrarAgregarContactos() {
                    $.get("{% url 'insertar_contactos_directivo' %}","",function(data){
                        $("#seccion_agregar_contactos").html(data);
                    });
                }

                loadTabla();
                mostrarAgregarContactos();
            </script>
        {% endif %}
    {% endif %}
{% endblock%}
