<form id="editar_contacto">
    <div class="row">
        <div class="form-group col-md-6">
            <label>Nombre</label>
            <input 
                type="text" 
                class="form-control" 
                name="nombre"
                maxlength="30" 
                placeholder="Juan Pérez"
                value="{{ contacto.nombre }}" 
                required>
        </div>
        <div class="form-group col-md-6">
            <label>Número</label>
            <input 
                type="text" 
                class="form-control" 
                name="numero" 
                pattern="[0-9]{10}" 
                maxlength="10" 
                placeholder="4929229458" 
                value="{{ contacto.numero }}" 
                required>
        </div>
    </div>
    <input type="hidden" name="id" value="{{ contacto.id_contacto }}">
    <button type="submit" class="btn btn-primary">Modificar</button>
</form>

<script>
    function submitFormEdit() {
        $.get("{% url 'editar_contactos_directivo' %}",$("#editar_contacto").serialize(),function(data){
            if(data == "REPETIDO") {
                $('#error_repetido').html(
                    '<div class="alert alert-danger col-md-12">' +
                        '<strong>¡Error!</strong> Número repetido.' +
                    '</div>'
                );
            }
            
            loadTabla();
        });
        $('#editar_modal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

    $(function () {
        $('#editar_contacto').validate({
            rules: {
                nombre: {
                    required: true,
                },
                numero: {
                    required: true,
                    number: true,
                    rangelength: [10, 10]
                }
            },
            messages: {
                nombre: "Ingrese el nombre",
                numero: {
                    required: "Ingrese el teléfono",
                    number: "Ingrese un teléfono válido",
                    rangelength: "Ingrese un teléfono válido"
                }
            },
            submitHandler: function() {
                $('#error_repetido').html('');
                submitFormEdit();
            }
        });
    });

</script>
<style type="text/css">
#numero-error, #nombre-error {
    font-size: 12px;
    display: block;
    margin-top: 5px;
    font-weight: normal;
    color: #F44336;
    font-family: 'Roboto', Arial, Tahoma, sans-serif;
}
</style>