{% extends 'base_coordinador.html' %}
{% load filtros %}
{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %}
            <span>{{ encabezado }}</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <div class="container">

        {% if opcion_regresar %}
            <div class="row">
                <div class="col pull-right">
                    <a class="btn btn-warning" href="{% url 'catalogo_expertos' %}">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                </div>
            </div>
        {% endif %}

        {% if formulario.nombre.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: revisa que el nombre esté bien escrito
            </div>
        {% elif formulario.ap_paterno.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: revisa que el apellido paterno esté bien escrito
            </div>
        {% elif formulario.ap_materno.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: revisa que el apellido materno esté bien escrito
            </div>
        {% elif formulario.teléfono.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: el teléfono debe tener únicamente 10 digitos, por ejemplo 4924562940
            </div>
        {% elif formulario.id_categoria.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: selecciona una categoria
            </div>
        {% elif formulario.especialidad.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: revisa que la especialidad esté bien escrita
            </div>
        {% elif formulario.correo_electronico.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: el correo ya existe o es un correo invalido, por ejemplo mi_nombre@algun.dominio
            </div>
        {% elif formulario.contrasena.errors %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Datos incorrectos: revisa que la contraseña esté bien escrita, debe tener entre 8 y 32 caracteres
            </div>
        {% endif %}

        <form method="post" action="" class="form-horizontal">
            {% csrf_token %}

            {{ formulario.id_experto }}

            {% if formulario.nombre %}
                <div class="form-group" style="padding-top: 20px;">
                    <div class="row">
                        <label class="control-label col-xs-2">{{ formulario.nombre.label }}</label>
                        <div class="col-xs-10">
                            {{ formulario.nombre }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if formulario.ap_paterno %}
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-xs-2">{{ formulario.ap_paterno.label }}</label>
                        <div class="col-xs-10">
                            {{ formulario.ap_paterno }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if formulario.ap_materno %}
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-xs-2">{{ formulario.ap_materno.label }}</label>
                        <div class="col-xs-10">
                            {{ formulario.ap_materno }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if formulario.teléfono %}
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-xs-2">{{ formulario.teléfono.label }}</label>
                        <div class="col-xs-10">
                            {{ formulario.teléfono }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ formulario.activo }}

            <div class="row">
                <div class="col-xs-12" style="padding-top: 20px;">
                    {% if formulario.id_categoria %}
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-xs-2">{{ formulario.id_categoria.label }}</label>
                                <div class="col-xs-4">
                                    {{ formulario.id_categoria }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if formulario.especialidad %}
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-xs-2">{{ formulario.especialidad.label }}</label>
                                <div class="col-xs-4">
                                    {{ formulario.especialidad }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" style="padding-top: 20px;">
                    {% if formulario.correo_electronico %}
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-xs-2">{{ formulario.correo_electronico.label }}</label>
                                <div class="col-xs-4">
                                    {{ formulario.correo_electronico }}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {% if formulario.contrasena %}
                        <div class="form-group">
                            <div class="row">
                                <label class="control-label col-xs-2">{{ formulario.contrasena.label }}</label>
                                <div class="col-xs-4">
                                    {{ formulario.contrasena }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <br>

            {% if accion == 'CREAR' %}
                <button class="btn btn-success" type="submit">{{ nombres_botones.primer_boton }}</button>
                <a class="btn btn-danger" href="{% url 'catalogo_expertos' %}">{{ nombres_botones.segundo_boton }}</a>
            {% elif accion == 'MODIFICAR' %}
                <button class="btn btn-primary" type="submit">{{ nombres_botones.primer_boton }}</button>
                <a class="btn btn-danger" href="{% url 'ver_experto' id_experto %}">{{ nombres_botones.segundo_boton }}</a>
            {% elif accion == 'VER' %}
                <a class="btn btn-primary" href="{% url 'modificar_experto' id_experto %}">{{ nombres_botones.primer_boton }}</a>
                <a class="btn btn-danger llamarModal">{{ nombres_botones.segundo_boton }}</a>
            {% endif %}
        </form>
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>¿Desea desactivar al experto?</h4>
                        </div>
                        <div class="modal-footer">
                            {% if id_experto %}
                                <a class="btn btn-danger" href="{% url 'desactivar_experto' id_experto %}">Confirmar</a>
                            {% endif %}
                            <a class="btn btn-primary" name="submitSave" data-dismiss="modal">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(".llamarModal").click(function() {
                    $("#Modal").modal()
                });
            </script>
    </div><!--Container-->
{% endblock %}