<style type="text/css">
   body {background-color: powderblue;}
    h1   {color: blue;}
    p    {color: red;}

    input {
        width: 60%;
    }
</style>


{% for field in form%}

 
{% load staticfiles %}



     <b>{{field.label_tag}}</b><!-- label con datos guias--> 
     
              

                {% if field.errors %}
       
                    {{ field.errors|escape }}
       
                {% endif %}
                
                <p style="padding-bottom: 20px;border-bottom-width: 100px;"></p>
                    {{ field_for_label }}
                </p>        
            
               <p style="padding-bottom: 20px;border-bottom-width: 55px; width: 750px;">
                    {{ field }}
                    </p>
                {% endfor %}
                      

        <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
            <link href="/resources/demos/style.css" rel="stylesheet">
                <script src="https://code.jquery.com/jquery-1.12.4.js">
                </script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js">
                </script>
                <script>
                    $( function() {
            $( "#id_Fecha_nacimiento" ).datepicker();
            $( "#id_Fecha_nacimiento" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
          } );
                </script>
            </link>
        </link>