{% extends 'base_coordinador.html' %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %}
            <span>{{ encabezado }}</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <div class="container">

        {% if messages %}
            <div class="row">
                <div class="col">
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <a id="btnCrearExperto" class="btn btn-success" href="{% url 'crear_experto' %}" >Crear Experto</a>
            </div>
        </div>

        <br>

        {% if expertos %}
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Especialidad</th>
                            <th scope="col">Telefono</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for experto in expertos %}
                            {% if experto.activo %}
                                <tr class="success">
                                    <td><a href="{% url 'ver_experto' experto.id_experto %}">{{experto.nombre}}</a></td>
                                    <td><a href="{% url 'ver_experto' experto.id_experto %}">{{experto.ap_paterno}}</a></td>
                                    <td><a href="{% url 'ver_experto' experto.id_experto %}">{{experto.ap_materno}}</a></td>
                                    <td><a href="{% url 'ver_experto' experto.id_experto %}">{{experto.id_categoria}}</a></td>
                                    <td><a href="{% url 'ver_experto' experto.id_experto %}">{{experto.especialidad}}</a></td>
                                    <td><a href="{% url 'ver_experto' experto.id_experto %}">{{experto.teléfono}}</a></td>
                                    <td><a class="btn btn-danger llamarModal" value="{{ experto.id_experto }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>{{experto.nombre}}</td>
                                    <td>{{experto.ap_paterno}}</a></td>
                                    <td>{{experto.ap_materno}}</a></td>
                                    <td>{{experto.id_categoria}}</a></td>
                                    <td>{{experto.especialidad}}</a></td>
                                    <td>{{experto.teléfono}}</a></td>
                                    <td></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>¿Desea desactivar al experto?</h4>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger ejecutar">Confirmar</a>
                            <a class="btn btn-primary" name="submitSave" data-dismiss="modal">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var val_modal = -1
                $(".llamarModal").click(function() {
                    val_modal = $(this).attr('value')
                    $("#Modal").modal()
                });
                $(".ejecutar").click(function() {
                    var url = location.href

                        newUrl = url.substring(0,(url.length-18))
                        newUrl += "desactivar_experto/"+val_modal+"/"

                        location.href = newUrl
                        //location.href = url
                });
            </script>
        {% else %}
            <div class="row">
                <div class="col text-center">
                    <span class="h1">No  hay expertos</span>
                </div>
            </div>
        {% endif %}
    </div><!--Container-->
{% endblock %}