{% extends 'base_coordinador.html' %}
{% block inicio %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
        <section id="intro" class="intro" style="height: 570px; width: 100%;
    height: 100%;
    background-image: url(../img/dummy/bg1.jpg);
    background-size: 100% 100%;
    
    background-attachment: fixed;">
        
            <div class="container">
                <div class="row" style="padding-top: 70px;">
                    <div class="col-lg-6">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                    <h2 class="h-ultra" style="color:#fdf3f3">Sistema de Servicio Social </h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                    <h4 class="h-light" style="color:#fdf3f3">Medicina Humana UAZ </h4>
                    </div>
                        


                    </div>
                    <div class="col-lg-6" >
                        <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        </div>
                    </div>                  
                </div>      
            </div>

            
    </section>
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

{% else %}
{% endif %}
{% endblock%} 