{% extends 'base_coordinador.html' %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}
            Limitar Periodo de Registro
            <br>
            <br>
        {% endif %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    <div class="container" style="display: block;">

        {% if user.is_authenticated %}
            {% if request.user.is_active and request.user.is_staff %}
                <!-- cdn for modernizr, if you haven't included it already -->
                <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
                <!-- polyfiller file to detect and load polyfills -->
                <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
                <script>
                  webshims.setOptions('waitReady', false);
                  webshims.setOptions('forms-ext', {types: 'date'});
                  webshims.polyfill('forms forms-ext');
                </script>

            {% if funcion != null %}
                <div class="alert alert-success" action ="{% url "inicio" %}">{{funcion}}</div>
            {% endif %}

            {% if alerta != null %}
                <div class="alert alert-danger" action ="{% url "inicio" %}">{{alerta}}</div>
            {% endif %}

                 <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" >
                    {% csrf_token %}

                    <table class="col-sm-12 table-form">
                        <tr>
                            <td>
                                <label class="control-label"
                                       style="text-align:left;">
                                    Fecha de Inicio:
                                </label>
                                <div>
                                     <input type="date" class="form-control" style="height: auto" name="fechainicio"/>
                                </div>
                            </td>
                            <td>
                                <label class="control-label"
                                       style="text-align:left;">
                                    Fecha de Fin:
                                </label>
                                <div>
                                     <input type="date" class="form-control" style="height: auto" name="fechafin"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                <div style="text-align: right">
                    <button type="submit" class="btn btn-primary">
                        Guardar
                    </button>
                </div>
                </form>
                </br>
                <div class="table-responsive" style="height: 100%">
                        <table>
                        <tr>
                               <th>
                               <center>
                               Última Fecha de Registro
                               <center>
                               </th>
                               </tr>
                        </table>
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;">
                               
                           
                            <tr>
                                
                                <th><center>Fecha Inicio</center></th>
                                <th><center>Fecha Final</center></th>
                                
                                

                            </tr>
                            <tr class="success">
                            {% if fechas == None %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:50%;">No hay fechas
                                        registradas
                                    </div>
                                </h4>

                            {% endif %}
                            <td><CENTER>{{fechas.fecha_inicio}}</CENTER></td>
                            <td><CENTER>{{fechas.fecha_fin}}</CENTER></td>
                            </tr>


                            </table>
                </div>

            {% endif %}
     {% endif %}
{% endblock %}