{% extends 'base_coordinador.html' %}
{% load staticfiles %}



{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}



{% block titulo %}
{% load staticfiles %}

Mensajes no leídos
<br>
{% endblock%} 


{% block contenido %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">

<script type="text/javascript" src="{% static "DataTables/datatables.min.js" %}"> </script>


{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
        <section id="intro" class="intro" style="height: 570px; width: 100%;
            height: 100%;
            background-image: url(../img/bodybg/bg1.jpg);
            background-size: 100% 100%;
            background-attachment: fixed;">
        
            
            <div class="col-md-12 col-xs-8 col-sm-6">
                <div class="form-group row">
                    <span class="input-group-addon">Buscar</span> 
        <!--  <center><h1>Mensajes no leidos</h1></center>  -->
                <br>
        <!--    <table id="mostrar_registros" class="table Contextual Classes" cellspacing="0" width="100%" align="center"> -->
             <table id="mostrar_registros" class="display responsive nowrap table Contextual Classes" style="width:100%" align="center" cellspacing="0">
                    <thead align="center">
                        <tr>
                            <th bgcolor="#FFFFFF">Fecha Inicio</th>                            
                            <th bgcolor="#FFFFFF">Pasante</th>
                            <th bgcolor="FFFFFF">Tema</th>
                            <th bgcolor="#FFFFFF">Contestar</th>
                            
                        </tr>
                    </thead>

                    <tbody align="center">
                    {% for h in  mensajes  %}
                     
                     <tr >
                        <form name="enviar_clave" method="post" action="{% url 'message:enviarMensaje'  %}">
                            {% csrf_token %}
                            
                                <td>{{ h.fecha_inicio }} </td>
                                <td>{{ h.id_pasante_fk_id.nombre }} {{ h.id_pasante_fk_id.apellido_paterno }} {{ h.id_pasante_fk_id.apellido_materno }} </td>                            
                                <td>{{h.id_tipo_fk_id.nombre}}</td>                            
                                
                                <input type="hidden" name="matricula_pasante" value= {{ h.id_pasante_fk_id.id_usuario_fk.matricula }}>
                                <input type="hidden" name="pk_mensaje" value= {{ h.pk }}>
                                <input type="hidden" name="isViewed" value= {{ h.leido }}>
                                <td> <input type="submit" name="enviar" value=" Contestar "></td>
                            
                        </form>
                            
                    </tr>
                    {% endfor %} 

                    </tbody>
                </table>
                <br>
                <br>
        </div>
    </div>

            
    </section>
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}



{% else %}
{% endif %}

<style type="text/css">
    .pull-left { 
        float: left !important; 
        width: 250%;
    }
    .dataTables_filter {
        float: right !important;
        width: 100%;
        
        text-align: left !important;
        margin-bottom: 2px;
        margin-top: -26px;
        margin-right: -3em !important;
    }

    .dataTables_filter input {
        margin-left: 20px !important;
        margin-top: -33px !important;
        width: 265%;
        font-family: 'Open Sans', sans-serif !important;
        height: 34px !important;
        border: 1px solid #ccc !important;
        border-radius:4px !important;   
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        height: 34px;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 1em;
    }

</style>

<script type="text/javascript">

    /*
    $(document).ready(function() {
    $('#mostrar_registros').DataTable();
        } );
    */

    //$ ('.center'). addClass('pull-left');
   
    $ ('.dataTables_filter'). addClass('pull-left');
    $(document).ready(function() {
    $('#mostrar_registros').DataTable( {
        "language": {
        "emptyTable": "No hay conversaciones registradas",
        "infoFiltered": "",
        "lengthChange": false,
        "search": "",
        "zeroRecords": "No se encontraron datos",
        "infoEmpty": "No hay conversaciones registradas",
        "searchPlaceholder": "Buscar.."
        },
            "paging":   false,
            "ordering": true,
            "info":     false,
            "responsive": true,
            "autoWidth": false,
            "fixedColumns": true,
            "columnDefs": [
                    { "width": "150%", "targets": 0 }
                ]
           
    } );


} );

</script>

<script>
    var tableOffset = $("#table-1").offset().top;
    var $header = $("#table-1 > thead").clone();
    var $fixedHeader = $("#tabla_mensajes").append($header);

    $(window).bind("scroll", function() {
    var offset = $(this).scrollTop();

    if (offset >= tableOffset && $fixedHeader.is(":hidden")) {
        $fixedHeader.show();
    }
    else if (offset < tableOffset) {
        $fixedHeader.hide();
    }

    
});
</script>
{% endblock%} 
