{% extends 'base_coordinador.html' %}

{% load filtros %}



{% load staticfiles %}



{% block titulo %}

{% if user.is_authenticated %}

    {% if request.user.is_active and request.user.is_staff == 1 %}



{% if form != null %}
    Modificar Coordinador
{% else %}
    Error este coordinador no puede ser modificado
{% endif %}




<br>

<br>

{% if funcion != null %}



<div class="alert alert-success" action ="{% url "inicio" %}">{{funcion}}</div>



{% endif %}

{% if peligro != null %}



<div class="alert alert-warning" action ="{% url "inicio" %}">{{peligro}}</div>



{% endif %}

{% if alerta != null %}



<div class="alert alert-danger" action ="{% url "inicio" %}">{{alerta}}</div>



{% endif %}

{% if boolean %}

<script type="text/javascript">



  setTimeout("redireccionarPagina()", 3000);



</script>

{% endif %}





    {% else %}



    {% endif %}



{% else %}

{% endif %}



{% endblock%}


{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}
{% block contenido %}

{% if user.is_authenticated %}

    {% if request.user.is_active and request.user.is_staff == 1 %}

<script type="text/javascript">

function redireccionarPagina() {

  window.location = "/Coordinador";



}



</script>





<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" >



    {% csrf_token %}



    {% for field in form.visible_fields %}

    <div class="form-group">

        <label class="col-sm-3 control-label" style="text-align:left;">{{ field.label }}

            {% if field.field.required %} *{% endif %}</label>

        <div class="col-sm-9">

            {{ field|add_clase:"form-control"}}

            {% if field.errors %}<div class="alert alert-danger" role="alert">{{ field.errors.as_text }}</div>{% endif %}

        </div>

    </div>

    {% endfor %}

    {% for field in form.hidden_fields %}

    {{ field }}

    {% endfor %}



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

   {% if form == "0" %}



   {% else %}
    {% if form != null %}
        <button type="submit" class="btn btn-primary btn-lg">Guardar</button>

       <a onclick="{% url "mostrar_lista_clinicas" %}" class="btn btn-info btn-lg" href="{% url "mostrar_lista_clinicas" %}" style="left: 20px;">Cancelar</a>
    {% else %}
        <a onclick="{% url "mostrar_lista_clinicas" %}" class="btn btn-info btn-lg" href="{% url "mostrar_lista_clinicas" %}" style="left: 20px;">Cancelar</a>
    {% endif %}

    {% endif %}

    <br>

    <br>

</form>

<style type="text/css">

.col-sm-3 {

    width: 100%;

</style>

    {% else %}

        <h1>Error 404 no se encontro la pagina solicitada</h1>

        <br>

        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>

    {% endif %}



{% else %}



{% endif %}

{% endblock%}
