{% extends 'base_coordinador.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff %}
Clínicas
<br>
<br>
    {% else %}
    {% endif %}

{% else %}
{% endif %}


{% endblock%}

{% block imagen %}
    width: 100%;
    height: 100%;

    background-image: url(/static/img/bodybg/bg1.png);



    background-attachment: fixed;
{% endblock %}
{% block contenido %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff %}






<h4 class="h-light">
    {% if hola != null %}
        <div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{hola}}</div>
    {% endif %}
</h4>



{% if ErrorReporteVacio == "ErrorReporteVacio" %}
    <form method="post" name="ErrorReporteVacio" action ="{% url "mostrar_lista_clinicas" %}">
      {% csrf_token %}
    </form>
    <script type="text/javascript">
        alert("No hay clínica con los criterios de búsqueda")
        var form = document.ErrorReporteVacio;
        form.submit();
    </script>
{% endif %}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

function desactivar_clinica(id){

var form = document.formClinicaDesactivar;
form.id_clinica.value = id;

form.submit();
}

function modificar_clinica(id){

var form = document.formClinicaModificar;
form.id_clinica.value = id;
form.submit();
}

function eliminar_clinica(id){
	if(confirm("¿Está usted seguro que quiere eliminar esta clínica?")){
	var form = document.formClinicaEliminar;
	form.id_clinica.value = id;
	form.submit();
	}
}

function isSubstring(string, substring) {
                    return string.indexOf(substring) !== -1;
                }

function getReporteReady () {
                    var filas = $('.searchable').find('tr');

                    var clinicasFiltradas = [];

                    $.each(filas, function (index, fila) {
                        var style = fila.getAttribute('style');

                        console.log('fila', (index + 1));

                        if (style === null || isSubstring(style, 'display: ' +
                                'table-row')) {
                            clinicasFiltradas.push({});

                            var lastIndex = clinicasFiltradas.length - 1;

                            var children = fila.getElementsByTagName('td');

                            $.each(children, function (index, child) {
                                console.log('child', child);

                                switch (index) {
                                    case 1:
                                        clinicasFiltradas[lastIndex].unidad =
                                            getOnlyText(child);
                                        break;
                                    case 2:
                                        clinicasFiltradas[lastIndex].tipoPlaza =
                                            getOnlyText(child);
                                        break;
                                    case 3:
                                        clinicasFiltradas[lastIndex].comple =
                                            getOnlyText(child);
                                        break;
                                    case 4:
                                        clinicasFiltradas[lastIndex].observacion =
                                            getOnlyText(child);
                                        break;
                                    case 5:
                                        clinicasFiltradas[lastIndex].institucion =
                                            getOnlyText(child);
                                        break;
                                    case 6:
                                        clinicasFiltradas[lastIndex].status =
                                            getOnlyText(child);
                                        break;
                                    case 7:
                                        clinicasFiltradas[lastIndex].localidad =
                                            getOnlyText(child);
                                        break;
                                    case 8:
                                        clinicasFiltradas[lastIndex].municipio =
                                            getOnlyText(child);
                                        break;
                                    case 9:
                                        clinicasFiltradas[lastIndex].estado =
                                            getOnlyText(child);
                                        break;
                                }
                            });
                        } else {
                            console.log('no se agrega al json');
                        }

                    });

                    console.log('clinicas_filtradas', clinicasFiltradas)

                    $('.json-reporte').attr('value', JSON.stringify(clinicasFiltradas));
                }

                function getOnlyText(htmlElement) {
                    return (htmlElement.innerText || htmlElement.textContent)
                        .replace('\n', '')
                }

function reporte_pdf_clinica(bsq){

var form = document.formClinicaReporte;
form.busqueda_clinica.value = bsq;
alert()
form.submit();
}

    $(document).ready(function () {

    (function ($) {

        $('#filter').keyup(function () {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function () {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});

function ordenar(campo){
                    var campN = 0
                    switch (campo.value){
                        case 'name':
                            campN = 1;
                            break;
                        case 'plaza':
                            campN = 2;
                            break;
                        case 'complement':
                            campN = 3;
                            break;
                        case 'status':
                            campN = 5
                            break;
                        case 'state':
                            campN = 8
                            break;
                        default:
                            campN = 1;
                    }


                -->
                    var tbl = document.getElementById("tableClinic").tBodies[0];
                    var store = [];
                    for(var i=0, len=tbl.rows.length; i<len; i++){
                        var row = tbl.rows[i];
                        store.push([row.cells[campN].innerText, row])
                    }
                    store.sort(function(x,y){
                        return x[0].toUpperCase() > y[0].toUpperCase();
                    });
                    for(var i=0, len=store.length; i<len; i++){
                        tbl.appendChild(store[i][1]);
                    }
                    store = null;
                }
</script>
<script>
function myFunction() {
    var valor = document.getElementById("filter").value;
    document.reporte.busqueda.value=valor
}

</script>




<div class="container">

<button style="margin-bottom: 15px;" type="button"
                    class="btn btn-primary btn-xs" data-toggle="modal"
                    data-target="#exampleModalLong1"
                    id="btnModalReporte" onclick="getReporteReady()">
                Reporte
</button>
        <div class="modal fade" id="exampleModalLong1" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLongTitle1"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle1">
                                Seleccione un tipo de reporte:</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table style="width:100%">
                                <tr>
                                    <th>Reporte de Clínicas</th>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_busqueda_avanzada_clinicas" %}"
                                              name="reporte">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="clinicas_filtradas"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                PDF
                                            </button>
                                        </form>

                                    </td>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_busqueda_avanzada_clinicas_xls" %}"
                                              name="reporte1">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="clinicas_filtradas"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                XLS
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <h6>Ordenar por: <select style="
                       height: 34px;
                       padding: 6px 12px;
                       font-size: 14px;
                       line-height: 1.42857143;
                       color: #555;
                       background-color: #fff;
                       background-image: none;
                       border: 1px solid #ccc;
                       border-radius: 4px; margin-left: 10px;" onchange="ordenar(this)">
                                <option value="-"> - </option>
                                <option value="name">Nombre</option>
                                <option value="plaza">Plaza</option>
                                <option value="complement">Complemento</option>
                                <option value="status">Status</option>
                                <option value="state">Estado</option>
                            </select>
            </h6>
    <div class="input-group"> <span class="input-group-addon">Buscar</span>

    <input id="filter"  name="busqueda_clinica" type="text" class="form-control" placeholder="Buscar clínica" onkeyup="myFunction()" >

        </div>


    <br>
</div>

<div class="container" style="display: block; height: 350px; overflow-y: auto; overflow-x: hidden;">
<div class="table-responsive" >
<table id="tableClinic" class="table" style="background-color:#FFFFFF;">

    <thead class="thead-inverse">
<tr class="">
<th><center>#</center></th>
<th>
    <center>Nombre de Unidad</center>
</th>
<th>
    <center>Tipo plaza</center>
</th>
<th>

    <center>Complemento</center>
</th>
<!-- <th><center>Beca</center></th>-->
<th>
    <center>Observación</center>
</th>
<th>
    <center>Institución</center>
</th>
<th>
    <center>Status</center>
</th>
<th>
    <center>Localidad</center>
</th>
<th>
    <center>Municipio</center>
</th>
<th>
    <center>Estado</center>
</th>
<th><center></center></th>
</tr>
</thead>

<tbody class="searchable">
    <h4 class="h-light">
        {% if clinicas|length == 0 %}
            <div class="alert alert-danger" style="width:50%;">No hay clínicas registradas.</div>
        {% endif %}
    </h4>
    {% for clinica in clinicas %}

        {% if clinica.status == True %}
            <tr class="success">
        {% else %}
            <tr class="danger">
        {% endif %}
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{forloop.counter}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <a href="{%url 'mostrar_clinica_coordinador' pk=clinica.id_clinica %}">
                <center>
                    {{clinica.nombre_unidad}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{clinica.plaza_fed}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">

                <center>
                    {{clinica.complemento}}
                </center>
            </td>


            <!--

            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.beca}}
                </center>
            </td>

            -->

            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.observacion}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
{{clinica.id_institucion_fk.nombre_institucion}}
                    <!--
                    {% if clinica.id_institucion_fk.nombre_institucion != "" %}
                        {{clinica.id_institucion_fk.nombre_institucion}}
                    {% endif %}
                -->
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                {% if clinica.status == 1 %}
                    <center>
                        Activa
                    </center>
                {% else %}
                    <center>
                        Inactiva
                    </center>
                {% endif %}
            </td>

             <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.id_direccion_fk.localidad}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.id_direccion_fk.municipio.nombre}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{clinica.id_direccion_fk.estado.nombre}}
                </center>
            </td>


<style type="text/css">
.dropdown-menu2{
   margin-right: 50px;
    top:-30px;
}
</style>
            <td style="border-bottom-width: 0px;    border-left-width: 0px;border-top-width: 0px;border-right-width: 0px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span></button>
                    <ul class="dropdown-menu pull-right dropdown-menu2" role="menu">
                        {% if clinica.status == 1 %}
                            <li><a href="#" onclick="desactivar_clinica({{clinica.id_clinica}})">
                                Desactivar </a></li>
                        {% else %}
                            <li><a href="#" onclick="desactivar_clinica({{clinica.id_clinica}})">
                                Activar </a></li>

                        {% endif %}

                        <li><a href="#" onclick="modificar_clinica({{clinica.id_clinica}})" >Modificar</a></li>
                        <li><a href="#" onclick="eliminar_clinica({{clinica.id_clinica}})" >Eliminar</a></li>


                    </ul>
                </div>
            </td>

        </tr>


    {% endfor %}
</tbody>

</table>



</div>

</div>

<br>

<br>
<br>

<form method="post" name="formClinicaDesactivar" action ="{% url "cambiar_status_clinica" %}">
      {% csrf_token %}
      <input type="hidden" name="id_clinica">
</form>
<form method="get" name="formClinicaModificar" action ="{% url "modificar_clinica" %}">
      {% csrf_token %}
      <input type="hidden" name="id_clinica">

 </form>
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

 <form method="post" name="formClinicaEliminar" action ="{% url "eliminar_clinica" %}">

    {% csrf_token %}
      <input type="hidden" name="id_clinica">

 </form>

{% else %}
{% endif %}

{% endblock%}
