{% extends 'base_coordinador.html' %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %}
            Mostrar Pasantes
            <br>
            <br>
            <!--MOSTRAR MENSAJES DE EXITO-->
            {% if mensaje_exito != null %}
                <div class="alert alert-success" action="{% url "inicio" %}"><a
                        href="#" class="close" data-dismiss="alert"
                        aria-label="close">&times;</a>{{ mensaje_exito }}</div>
            {% endif %}

            <!-- Mensaje de éxito en asignación de rol [inicio] -->
            {% if rol_info_message is not None %}
                <div class="alert alert-success" action="{% url "inicio" %}"><a
                        href="#" class="close" data-dismiss="alert"
                        aria-label="close">&times;</a>{{ rol_info_message }}
                </div>
            {% endif %}
            <!-- Mensaje de éxito en asignación de rol [fin] -->

            <!-- Mensaje de error en asignación de rol [inicio] -->
            {% if rol_error_message != null %}
                <div class="alert alert-danger">
                    <a href="#" class="close"
                       data-dismiss="alert"
                       aria-label="close">&times;</a>{{ rol_error_message }}
                </div>
            {% endif %}
            <!-- Mensaje de error en asignación de rol [fin] -->

            <!--MOSTRAR MENSAJES DE ERROR-->
            {% if mensaje_error != null %}
                <div class="alert alert-danger"><a href="#" class="close"
                                                   data-dismiss="alert"
                                                   aria-label="close">&times;</a>{{ mensaje_error }}
                </div>
            {% endif %}

            {% if  ErrorReporteVacio != null %}
                <form method="post" name="ErrorReporteVacio"
                      action="{% url "mostrar_pasantes" %}">
                    {% csrf_token %}
                </form>
                <script type="text/javascript">
                    alert("No hay clínica con los criterios de búsqueda")
                    var form = document.ErrorReporteVacio;
                    form.submit();
                </script>
            {% endif %}
        {% else %}
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %}
            <script type="text/javascript">

                function desactivar(id) {
                    var form = document.formPasanteDesactivar;
                    form.desactivar.value = id;
                    form.submit();
                }

                function activar(id) {
                    var form = document.formPasanteactivar;
                    form.activar.value = id;
                    form.submit();
                }

                function modificar(id) {
                    var form = document.formPasanteModificar;
                    form.modificar.value = id;
                    form.submit();
                }

                function ordenar(campo) {
                    var campN = 2

                    switch (campo.value) {
                        case 'status':
                            campN = 2;
                            break;
                        case 'score':
                            campN = 3;
                            break;
                        case 'name':
                            campN = 4;
                            break;
                        case 'lastName':
                            campN = 5
                            break;
                        default:
                            campN = 1;
                    }


                    var tbl = document.getElementById("mytable").tBodies[0];
                    var store = [];
                    for (var i = 0, len = tbl.rows.length; i < len; i++) {
                        var row = tbl.rows[i];
                        store.push([row.cells[campN].innerText, row])
                    }
                    store = store.sort(function (x, y) {
                        if (campN == 3) {
                            return parseFloat(x[0]) - parseFloat(y[0]);
                        } else {
                            if (x[0].toLowerCase() < y[0].toLowerCase()) {
                                return -1
                            } if (x[0].toLowerCase() == y[0].toLowerCase()) {
                                return 0
                            } else {
                                return 1
                            }
                        }

                    });
                    for (var i = 0, len = store.length; i < len; i++) {
                        tbl.appendChild(store[i][1]);
                    }
                    
                    store = null;
                }

                $(document).ready(function () {
                    (function ($) {
                        $('#filter').keyup(function () {
                            var rex = new RegExp($(this).val(), 'i');
                            $('.searchable tr').hide();
                            $('.searchable tr').filter(function () {
                                return rex.test($(this).text());
                            }).show();
                        });
                        $('#filterClinicas').keyup(function () {
                            var rex = new RegExp($(this).val(), 'i');
                            $('.searchable2 tr').hide();
                            $('.searchable2 tr').filter(function () {
                                return rex.test($(this).text());
                            }).show();
                        })
                    }(jQuery));
                });

                $(document).ready(function () {
                    $("#mytable #checkall").click(function () {
                        if ($("#mytable #checkall").is(':checked')) {
                            $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", true);
                            });
                        } else {
                            $("#mytable input[type=checkbox]").each(function () {
                                $(this).prop("checked", false);
                            });
                        }
                    });
                    {#                    $("[data-toggle=tooltip]").tooltip();#}
                });
            </script>

            <script>
                function myFunction() {
                    var valor = document.getElementById("filter").value;
                    document.reporte.busqueda.value = valor;
                    document.reporte1.busqueda1.value = valor;
                }
            </script>

            <button style="margin-left: 15px;" type="button"
                    class="btn btn-primary btn-xs" data-toggle="modal"
                    data-target="#exampleModalLong1"
                    id="btnModalReporte">
                Reporte
            </button>


            <!-- Script para preparar el JSON del reporte [inicio] -->
            <script>
                function getOnlyText(htmlElement) {
                    return (htmlElement.innerText || htmlElement.textContent)
                        .replace('\n', '')
                }

                $('#btnModalReporte').click(function () {
                    var filas = $('.searchable').find('tr');

                    var pasantesFiltrados = [];

                    $.each(filas, function (index, fila) {
                        var style = fila.getAttribute('style');

                        console.log('fila', (index + 1));

                        if (style === null || isSubstring(style, 'display: ' +
                                'table-row')) {
                            pasantesFiltrados.push({});

                            var lastIndex = pasantesFiltrados.length - 1;

                            var children = fila.getElementsByTagName('td');

                            $.each(children, function (index, child) {
                                console.log('child', child);

                                switch (index) {
                                    case 3:
                                        pasantesFiltrados[lastIndex].promedio =
                                            getOnlyText(child);
                                        break;
                                    case 4:
                                        pasantesFiltrados[lastIndex].nombre =
                                            getOnlyText(child);
                                        break;
                                    case 5:
                                        pasantesFiltrados[lastIndex].ap_pat =
                                            getOnlyText(child);
                                        break;
                                    case 6:
                                        pasantesFiltrados[lastIndex].ap_mat =
                                            getOnlyText(child);
                                        break;
                                    case 7:
                                        pasantesFiltrados[lastIndex].matricula =
                                            getOnlyText(child);
                                        break;
                                    case 9:
                                        pasantesFiltrados[lastIndex].clinica =
                                            getOnlyText(child);
                                        break;
                                    case 10:
                                        pasantesFiltrados[lastIndex].comision =
                                            getOnlyText(child);
                                        break;
                                }
                            });
                        } else {
                            console.log('no se agrega al json');
                        }

                    });

                    console.log('pasantes_filtrados', pasantesFiltrados)

                    $('.json-reporte').attr('value', JSON.stringify(pasantesFiltrados));
                });

                function isSubstring(string, substring) {
                    return string.indexOf(substring) !== -1;
                }
            </script>
            <!-- Script para preparar el JSON del reporte [fin] -->

            <!-- Modal para elegir el tipo de reporte [inicio] -->
            <div class="modal fade" id="exampleModalLong1" tabindex="-1"
                 role="dialog" aria-labelledby="exampleModalLongTitle1"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle1">
                                Seleccione un tipo de reporte:</h5>
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table style="width:100%">
                                <tr>
                                    <th>Reporte de Pasantes con Clínica</th>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_busqueda_pasante_clinica" %}"
                                              name="reporte">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                PDF
                                            </button>
                                        </form>

                                    </td>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_mostrar_pasante_clinica_xls" %}"
                                              name="reporte2">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                XLS
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Reporte de Pasantes</th>
                                    <td>
                                        <form method="post"
                                              action="{% url "reporte_mostrar_pasante" %}"
                                              name="reporte1">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                PDF
                                            </button>
                                        </form>
                                    </td>

                                    <th>
                                        <form method="post"
                                              action="{% url "reporte_mostrar_pasante_xls" %}"
                                              name="reporte3">
                                            {% csrf_token %}
                                            <input type="hidden"
                                                   name="pasantes_filtrados"
                                                   class="json-reporte">
                                            <button type="submit"
                                                    class="btn btn-primary btn-xs">
                                                XLS
                                            </button>
                                        </form>
                                    </th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para elegir el tipo de reporte [fin] -->

            <div class="container">
                <br>
                <div class="input-group"><span
                        class="input-group-addon">Buscar</span>
                    <input id="filter" type="text" class="form-control"
                           placeholder="Buscar" name="buscar_pasante"
                           onkeyup="myFunction()">
                </div>
                <br>

                <form name="anio" method="post"
                      action="{% url "mostrar_pasantes" %}">
                    {% csrf_token %}
                    <!--<h6>Pasantes del año: {{ anio }}-->
                        <h6>Promoción:
                        <select name="select" onChange="anio.submit();" style="
                       height: 34px;
                       padding: 6px 12px;
                       font-size: 14px;
                       line-height: 1.42857143;
                       color: #555;
                       background-color: #fff;
                       background-image: none;
                       border: 1px solid #ccc;
                       border-radius: 4px; margin-left: 10px;">
                            <option name="vacio" value="vacio">---</option>
                            {% for generacion in lista_anios %}
                                <option name="uno"
                                        value="{{ generacion.id_generacion }}">{{ generacion }}</option>
                            {% endfor %}
                        </select>
                    </h6>
                </form>
                <h6>Ordenar por: <select style="
                       height: 34px;
                       padding: 6px 12px;
                       font-size: 14px;
                       line-height: 1.42857143;
                       color: #555;
                       background-color: #fff;
                       background-image: none;
                       border: 1px solid #ccc;
                       border-radius: 4px; margin-left: 10px;"
                                         onchange="ordenar(this);">
                    <option value="-"> -</option>
                    <option value="status">Estatus</option>
                    <option value="score">Promedio</option>
                    <option value="name">Nombre</option>
                    <option value="lastName">Apellido Paterno</option>
                </select>
                </h6>
            </div>
            <!--Desactivar multiples registros-->
            <div>
                <br>
            </div>

            <form method="post" name="checkbox_pasantes"
                  action="{% url "seleccionar_pasantes" %}">
                {% csrf_token %}
                <div id="botonMultiples">
                    <button style="margin-left: 15px;" type="submit"
                            name="des_button" value="des"
                            class="btn btn-danger btn-xs">Desactivar
                    </button>
                    <button type="submit" name="act_button" value="act"
                            class="btn btn-success btn-xs">Activar
                    </button>

                    <a id="btnGenerarCartas" class="btn btn-primary btn-xs">Generar
                        Cartas de Asignación
                    </a>


                    <script>
                        $('#btnGenerarCartas').click(function () {
                            var checks = $('tr.success')
                                .find('td:first-child input:checked');

                            console.log('Hay ' + checks.length +
                                ' checks de pasante activo seleccionados');

                            var sleep = 0;

                            checks.each(function (index) {
                                var row = $(this).parent().parent();
                                var link = row.find('.carta-asignacion-link');

                                setTimeout(function () {
                                    if (link.length > 0) {
                                        window.open(link.attr('href'), '_blank');
                                    }
                                }, sleep);
                                sleep += 1000;
                            });
                        });
                    </script>
                </div>
                <br>
                <div class="container"
                     style="display: block; height: 450px; overflow-y: inherit;
                     overflow-x: hidden;">

                    <div class="table-responsive" style="height: 100%">
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;">
                            <thead class="thead-inverse">
                            <tr>
                                <th>
                                    <input id="chkSeleccionarTodo"
                                           type="checkbox">

                                    <script>
                                        $('#chkSeleccionarTodo').change(function () {
                                            var checkTodo = $(this);

                                            console.log(checkTodo.is(':checked'))
                                            var table = checkTodo.parent()
                                                .parent().parent().parent();

                                            $('.checkthis').prop('checked', checkTodo.is(':checked'));

{#                                            var checks = table.find('.checkthis');#}
{##}
{#                                            checks.each(function (index) {#}
{#                                                if (checkTodo.is(':checked')) {#}
{#                                                    $(this).prop('checked', true);#}
{#                                                } else {#}
{#                                                    $(this).prop('checked', false);#}
{#                                                }#}
{#                                            });#}
                                        });
                                    </script>
                                </th>
                                <th>
                                    <center>#</center>
                                </th>
                                <th>
                                    <center>Estatus</center>
                                </th>
                                <th>
                                    <center>Promedio</center>
                                </th>
                                <th>
                                    <center>Nombre</center>
                                </th>
                                <th>
                                    <center>Apellido Paterno</center>
                                </th>
                                <th>
                                    <center>Apellido Materno</center>
                                </th>
                                <th>
                                    <center>Matrícula</center>
                                </th>
                                <th>
                                    <center>Fotografía</center>
                                </th>
                                <th>
                                    <center>Clínica</center>
                                </th>
                                <th>
                                    <center>Comisión</center>
                                </th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody class="searchable">
                            {% if pasantes|length == 0 %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:50%;">No hay pasantes
                                        registrados
                                    </div>
                                </h4>
                            {% endif %}
                            {% for pasante in pasantes %}
                                <tr class="{% if pasante.status == "activo" %} success
                                            {% else %} danger{% endif %}">
                                    <td>
                                        <input type="checkbox" class="checkthis"
                                               name="checks[]"
                                               value="{{ pasante.id_pasante }}"/>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ forloop.counter }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {% if pasante.status == "activo" %}
                                                &#10003;{% else %}
                                                &#9747;{% endif %}</center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        {% if pasante.id_datos_academicos_fk.promedio == 0.0 %}
                                            <center>
                                                -
                                            </center>
                                        {% else %}
                                            <center>
                                                {{ pasante.id_datos_academicos_fk.promedio }}
                                            </center>
                                        {% endif %}
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pasante.nombre }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pasante.apellido_paterno }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        {% if pasante.apellido_materno %}
                                            <center>
                                                {{ pasante.apellido_materno }}
                                            </center>
                                        {% elif not pasante.apellido_materno %}
                                            <center>
                                                -
                                            </center>
                                        {% endif %}
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ pasante.id_usuario_fk.matricula }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            <IMG SRC="/../../media/{{ pasante.foto }}"
                                                 class="img-circle"
                                                 alt="Cinque Terre" style="width: 6em;
                                                                           height: 6em;
                                                                           background-position: center center;
                                                                           background-repeat: no-repeat;">
                                        </center>
                                    </td>
                                    <!-- Modificaciones clínica y comisión  [inicio] -->
                                    {% for asignacion in asignacion %}
                                        <script>
                                            console.log('asignacion', '{{ asignacion.id }}')
                                        </script>
                                        {% if asignacion.id_pasante_id == pasante.id_pasante %}
                                            <td>{{ asignacion.id_rotacion.id_clinica_fk.nombre_unidad }}</td>
                                            <td>{{ asignacion.comision }}</td>
                                        {% endif %}
                                    {% endfor %}

                                    <script>
                                        console.log('------')
                                    </script>

                                    {% if pasante not in pasantes_asignados %}
                                        <td>---</td>
                                        <td>---</td>
                                    {% endif %}
                                    <!-- Modificaciones clínica y comisión  [fin] -->

                                    <style type="text/css">
                                        .dropdown-menu2 {
                                            margin-right: 60px;
                                            top: -10px;
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                        }
                                    </style>
                                    <td style="border-bottom-width: 0px;    border-left-width: 0px;border-top-width: 0px;border-right-width: 0px;">
                                        <div class="btn-group">
                                            <button type="button"
                                                    class="btn btn-primary dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-cog"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right dropdown-menu2"
                                                style="top:-10px;" role="menu">

                                                {% if pasante.status == "activo" %}
                                                    {% if pasante in pasantes_asignados %}
                                                        <li style="height: 20px;">
                                                            <a href="#"
                                                               class="btnAbrirModalVerAsignacion"
                                                               data-toggle="modal"
                                                               data-target="#modalVerAsignacion"
                                                               data-id_pasante="{{ pasante.id_pasante }}"
                                                               data-pasante="{{ pasante.nombre }} {{ pasante.apellido_paterno }} {{ pasante.apellido_materno }}">
                                                                Ver asignación
                                                            </a>
                                                        </li>
                                                        <li style="height: 20px;">
                                                            <a href="#"
                                                               class="btnAbrirModalModAsignacion"
                                                               data-toggle="modal"
                                                               data-target="#modalAsignarComTut"
                                                               data-id_pasante="{{ pasante.id_pasante }}">
                                                                Modificar
                                                                asignación
                                                            </a>
                                                        </li>
                                                        <li style="height: 20px;">
                                                            <a class="carta-asignacion-link"
                                                               href="/Rol/carta_asignacion_oficial?id_pasante={{ pasante.id_pasante }}">
                                                                Carta de
                                                                Asignación
                                                            </a>
                                                        </li>
                                                    {% else %}
                                                        <li style="height: 20px;">
                                                            <a href="#"
                                                               class="btnAbrirModalAsingacion"
                                                               data-toggle="modal"
                                                               data-target="#modalAsignarRol"
                                                               data-id_pasante="{{ pasante.id_pasante }}">
                                                                Asignar
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                                {% if pasante.status == "activo" %}
                                                    <li style="height: 20px;">
                                                        <a href="#"
                                                           onclick="desactivar({{ pasante.id_pasante }})">
                                                            Desactivar pasante
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li style="height: 20px;">
                                                        <a href="#"
                                                           onclick="activar({{ pasante.id_pasante }})">
                                                            Activar pasante
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                <li style="height: 20px;">
                                                    <a href="#"
                                                       onclick="modificar({{ pasante.id_pasante }})"
                                                       data-toggle="modal"
                                                       data-target="#myModal">
                                                        Modificar pasante
                                                    </a>
                                                </li>
                                                <li style="height: 20px;">
                                                    <a href="#"
                                                       class="btnAbrirModalContactos"
                                                       data-toggle="modal"
                                                       data-target="#modalVerPerfil"
                                                       data-id_pasante="{{ pasante.id_pasante }}">
                                                        Ver Perfil
                                                    </a>
                                                </li>
                                                <li style="height: 20px; margin-bottom: 4px;">
                                                    <a href="#"
                                                       class="btnAbrirModalContactos"
                                                       data-toggle="modal"
                                                       data-target="#modalVerContactos"
                                                       data-id_pasante="{{ pasante.id_pasante }}">
                                                        Ver Contactos
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>

            <!-- Modal para ver la asignación de un pasante [inicio] -->
            <div class="modal fade"
                 id="modalVerAsignacion" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog full-width-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                        </div>
                        <div class="modal-body">
                            <div class="table-responsive">
                                <table class="table table-rol"
                                       style="background-color:#FFFFFF;">
                                    <thead class="thead-inverse">
                                    <tr>
                                        <th class="row-header rol-title">
                                            Beca
                                        </th>
                                        <td id="filaBeca"></td>
                                    </tr>
                                    <tr class="row-header">
                                        <th class="rol-title">
                                            Inicio
                                        </th>
                                        <th class="rol-title">
                                            Fin
                                        </th>
                                        <th class="rol-title">
                                            Unidad
                                        </th>
                                        <th class="rol-title">
                                            Comisión
                                        </th>
                                        <th class="rol-title">
                                            Tutor
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary"
                                    data-dismiss="modal">
                                Aceptar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para ver la asignación de un pasante [inicio] -->

            <!-- Script que carga el rol de un pasante en modo ver [inicio] -->
            <script>
                $('.btnAbrirModalVerAsignacion').click(function () {
                    var modalAsignacion = $('#modalVerAsignacion');
                    var id_pasante = $(this).data('id_pasante');
                    var nombrePasante = $(this).data('pasante');
                    modalAsignacion.find('.modal-title')
                        .text('Rol Asignado a ' + nombrePasante);
                    var tbody = modalAsignacion.find('tbody');
                    var filaBeca = modalAsignacion.find('#filaBeca');
                    tbody.html('');
                    filaBeca.html('');
                    $.ajax({
                        url: '/Rol/rol_pasante_json',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            id_pasante: id_pasante
                        },
                        success: function (data) {
                            console.log(data);
                            loadAsignacionPasante(data, tbody, filaBeca);
                        },
                        error: function (data) {
                            console.log(data.responseJSON);
                        }
                    });
                });

                function loadAsignacionPasante(data, tbody, filaBeca) {
                    var rotaciones = 0;
                    $.each(data, function (index, rotacion) {
                        if (rotaciones === (data.length - 1)) {
                            return false;
                        }
                        rotaciones = rotaciones + 1;
                        var comision = rotacion.comision;
                        var inicio = rotacion.rotacion.fecha_inicio;
                        var fin = rotacion.rotacion.fecha_fin;
                        var clinica = rotacion.rotacion.nombre_unidad;
                        var tutor = rotacion.nombre_tutor;
                        rotRow = $('#rowRotVerAsignacion').clone();
                        rotRow.attr('id', '');
                        rotRow.find('.dateInicio').text(formatDate(inicio));
                        rotRow.find('.dateFin').text(formatDate(fin));
                        rotRow.find('.clinica').text(clinica);
                        rotRow.find('.comision').text(comision);
                        rotRow.find('.tutor').text(tutor);
                        tbody.append(rotRow);
                    });
                    rowBeca = $('#rowRolBecaPasante').clone();
                    rowBeca.find('.beca').text(data[rotaciones].beca);
                    filaBeca.append(rowBeca);
                }
            </script>
            <!-- Script que carga el rol de un pasante en modo ver [fin] -->

            <!-- Fila a copiar en modal para ver asignación [inicio]-->
            <table class="hidden">
                <tr id="rowRotVerAsignacion">
                    <td class="dateInicio"></td>
                    <td class="dateFin"></td>
                    <td class="clinica"></td>
                    <td class="comision"></td>
                    <td class="tutor"></td>
                </tr>
            </table>
            <!-- Fila a copiar en modal para ver asignación [fin]-->

            <!-- Fila a copiar en modal para ver asignación para mostrar beca [inicio]-->
            <table class="hidden">
                <tr id="rowRolBecaPasante">
                    <td class="beca"></td>
                </tr>
            </table>
            <!-- Fila a copiar en modal para ver asignación para mostrar beca [fin]-->

            <!-- Script para click botón abrir modal contactos [inicio] -->
            <script>
                $('.btnAbrirModalContactos').click(function () {
                    var id_pasante = $(this).data('id_pasante');
                    var nombrePasante = $(this).data('pasante');
                    $('.contac').hide();
                    $('.contac-' + id_pasante).show();
                });
            </script>
            <!-- Script para click botón abrir modal contactos [fin] -->


            <!-- Script para click botón abrir asignacion [inicio] -->
            <script>
                $('.btnAbrirModalAsingacion').click(function () {
                    $('#modificarBecaContainer').addClass('hidden');
                    $('#id_pasante').val($(this).data('id_pasante'));
                });
            </script>
            <!-- Script para click botón abrir asignacion [fin] -->

            <!-- Script para click botón modificar asignacion [inicio] -->
            <script>
                $('.btnAbrirModalModAsignacion').click(function () {
                    $('#modificarBecaContainer').removeClass('hidden');

                    var errorContainer = $('#modalAsignarComTut .h-light');
                    errorContainer.addClass('hidden');
                    errorContainer.find('div').html('');

                    var id_pasante = $(this).data('id_pasante');
                    $('#id_pasante').val(id_pasante);

                    $.ajax({
                        url: '/Rol/rol_pasante_json',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            id_pasante: id_pasante
                        },
                        success: function (data) {
                            console.log(data);
                            loadAsignacionRol(data);
                        },
                        error: function (data) {
                            console.log(data.responseJSON);
                        }
                    });
                });

                function loadDateInicio(newTrRot, rotacion) {
                    dateInicioId = 'dateInicio' + rotacion.rotacion.id_rotacion;
                    dateInicio = newTrRot.find('.dateInicio');
                    dateInicio.attr('id', dateInicioId);
                    dateInicio.attr('name', dateInicioId);
                    
                    dateMuestra = newTrRot.find('.dateInicio1');

                    formatedDate = formatDate(rotacion.rotacion.fecha_inicio);

                    console.log('original: ' + rotacion.rotacion.fecha_inicio
                        + ', formated: ' + formatedDate);

                    console.log('limite inicio', rotacion.rotacion.limite_inicio);
                    console.log('limite fin', rotacion.rotacion.limite_fin);

                    dateInicio.datepicker({
                        startDate: rotacion.rotacion.limite_inicio,
                        endDate: rotacion.rotacion.limite_fin,
                        format: "dd/mm/yyyy",
                        todayBtn: "linked",
                        todayHighlight: true,
                        language: "es"
                    });
                    
                    dateMuestra.datepicker({
                        startDate: rotacion.rotacion.limite_inicio,
                        endDate: rotacion.rotacion.limite_fin,
                        format: "dd/mm/yyyy",
                        todayBtn: "linked",
                        todayHighlight: true,
                        language: "es"
                    });

                    dateInicio.datepicker('update', formatedDate);
                    dateMuestra.datepicker('update', formatedDate);
                }

                function loadDateFin(newTrRot, rotacion) {
                    var dateFinId = 'dateFin' + rotacion.rotacion.id_rotacion;
                    dateFin = newTrRot.find('.dateFin');
                    dateFin.attr('id', dateFinId);
                    dateFin.attr('name', dateFinId);
                    
                    dateFinMuestra = newTrRot.find('.dateFin1');

                    formatedDate = formatDate(rotacion.rotacion.fecha_fin);

                    dateFin.datepicker({
                        startDate: rotacion.rotacion.limite_inicio,
                        endDate: rotacion.rotacion.limite_fin,
                        format: "dd/mm/yyyy",
                        todayBtn: "linked",
                        todayHighlight: true,
                        language: "es"
                    });
                    
                    dateFinMuestra.datepicker({
                        startDate: rotacion.rotacion.limite_inicio,
                        endDate: rotacion.rotacion.limite_fin,
                        format: "dd/mm/yyyy",
                        todayBtn: "linked",
                        todayHighlight: true,
                        language: "es"
                    });

                    dateFin.datepicker('update', formatedDate);
                    
                    dateFinMuestra.datepicker('update', formatedDate);
                }

                function loadUnidad(newTrRot, rotacion) {
                    cboxClinicasId = 'cboxClinicas' + rotacion.rotacion.id_rotacion;
                    cboxClinicas = newTrRot.find('.cboxClinicas');
                    cboxClinicas.attr('id', cboxClinicasId);
                    cboxClinicas.attr('name', cboxClinicasId);
                    cboxClinicas.val(rotacion.rotacion.id_clinica);
                    console.log(rotacion.rotacion.id_clinica)
                }

                function loadComision(newTrRot, rotacion) {
                    txtComisionId = 'txtComision' + rotacion.rotacion.id_rotacion;
                    textComision = newTrRot.find('.textComision');
                    textComision.attr('id', txtComisionId);
                    textComision.attr('name', txtComisionId);
                    textComision.val(rotacion.comision);
                }

                function loadTutor(newTrRot, rotacion) {
                    cboxTutoresId = 'cboxTutores' + rotacion.rotacion.id_rotacion;
                    cboxTutores = newTrRot.find('.cboxTutores');
                    cboxTutores.attr('id', cboxTutoresId);
                    cboxTutores.attr('name', cboxTutoresId);
                    cboxTutores.val(rotacion.id_tutor);
                }

                var becaOriginal = "";

                function loadBeca(beca) {
                    $('#txtBecaMod').val(beca);
                    becaOriginal = beca;
                }

                function llenaClinicas(id_institucion) {
                    console.log('inst', id_institucion);
                    $.ajax({
                        data: {'id_institucion': id_institucion},
                        url: '/Rol/clinicas_institucion/',
                        type: 'get',
                        success: function (data) {
                            var cboxClinicas = $('.cboxClinicas');
                            cboxClinicas.html('');

                            $.each(data, function (index, clinica) {
                                cboxClinicas.append('<option value="' +
                                    clinica.id + '">' + clinica.nombre +
                                    '</option>');
                            });
                        },
                        error: function (xhr, errmsg, err) {
                            console.log(xhr.responseText);
                        }
                    });
                }

                function loadAsignacionRol(asignacion) {
                    llenaClinicas(asignacion[0].rotacion.id_institucion);

                    var timeout = 300;

                    setTimeout(function () {
                        var modalTbody = $('#modalAsignarComTut').find('table')
                            .find('tbody');
                        var id_rol = asignacion[0].rotacion.id_rol;

                        $('#id_rol').val(id_rol);

                        modalTbody.html('');
                        var rotaciones = 0;
                        $.each(asignacion, function (index, rotacion) {
                            if (rotaciones === (asignacion.length - 1)) {
                                return false;
                            }
                            rotaciones = rotaciones + 1;
                            var newTrRot = $('#rowRotComTutMod').clone();
                            newTrRot.attr('id', 'rowRotComTutMod' + rotacion
                                .rotacion.id_rotacion);
                            id_rotacion = rotacion.rotacion.id_rotacion;

                            loadDateInicio(newTrRot, rotacion);
                            loadDateFin(newTrRot, rotacion);

                            setTimeout(function () {
                                loadUnidad(newTrRot, rotacion);
                            }, timeout);
                            timeout += 300;


                            loadComision(newTrRot, rotacion);
                            loadTutor(newTrRot, rotacion);

                            modalTbody.append(newTrRot);
                        });
                        loadBeca(asignacion[rotaciones].beca);
                    }, 300);
                }

                function formatDate(date) {
                    var d = new Date(date);
                    d.setMinutes(d.getMinutes() + d.getTimezoneOffset());

                    var month = '' + (d.getMonth() + 1);
                    var day = '' + d.getDate();
                    var year = d.getFullYear();

                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    return [day, month, year].join('/');
                }
            </script>
            <!-- Script para click botón modificar asignacion [fin] -->

            <!-- Script que filtra roles de acuerdo al cuadro de búsqueda [inicio] -->
            <script>
                $(document).ready(function () {
                    console.log('hola filter');

                    var filterRoles = $('#filterRoles');

                    filterRoles.keyup(function () {
                        var searchText = filterRoles.val();
                        applyFilter(searchText);
                    });
                });

                function applyFilter(searchText) {
                    searchText = searchText.toLowerCase();

                    var accordion = $('#accordion');
                    var panels = accordion.find('.panel');

                    console.log('filtro: ' + searchText);

                    panels.each(function (index) {
                        var identificadorRol = $(this).find('h4').find('a').text()
                            .toLowerCase();

                        if (identificadorRol.indexOf(searchText) === -1) {
                            $(this).addClass('hidden');
                        } else {
                            $(this).removeClass('hidden');
                        }
                    });
                }
            </script>
            <!-- Script que filtra roles de acuerdo al cuadro de búsqueda [fin] -->

            <!-- Modal para la asignación del rol [inicio] -->
            <div class="modal fade scrollable-body-modal" id="modalAsignarRol"
                 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Asignación de Rol
                            </h5>
                        </div>
                        <div class="modal-body">
                            {% if roles %}
                                <div class="input-group">
                                    <span class="input-group-addon">Buscar</span>
                                    <input id="filterRoles" type="text"
                                           class="form-control"
                                           placeholder="Buscar"
                                           name="filterRoles">
                                </div>

                                <br>
                                <div class="panel-group" id="accordion">
                                    {% for rol in roles %}
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse"
                                                       data-parent="#accordion"
                                                       href="#rol{{ rol.id_rol }}">{{ rol.identificador }}
                                                    </a>

                                                    <button class="btn btn-success btnAsignarRol"
                                                            data-toggle="modal"
                                                            data-target="#modalAsignarComTut"
                                                            data-id_rol="{{ rol.id_rol }}"
                                                            style="float: right;">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                </h4>
                                            </div>
                                            <div id="rol{{ rol.id_rol }}"
                                                 class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-rol"
                                                               style="background-color:#FFFFFF;">
                                                            <thead class="thead-inverse">
                                                            <tr>
                                                                <th colspan="2">
                                                                    Beca
                                                                </th>
                                                                <th>
                                                                    Promoción
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="searchable">
                                                            <tr>
                                                                <td colspan="2">{{ rol.beca }}</td>
                                                                <td>
                                                                    {{ rol.id_generacion_fk.generacion }}
                                                                    {{ rol.id_generacion_fk.anio }}
                                                                </td>
                                                            </tr>
                                                            <tr class="row-subheader">
                                                                <th colspan="3">
                                                                    Rotaciones
                                                                </th>
                                                            </tr>

                                                            <tr>
                                                                <th>Inicio</th>
                                                                <th>Fin</th>
                                                                <th>Clínica</th>
                                                            </tr>
                                                            {% for rotacion in rotaciones %}
                                                                {% if rotacion.id_rol_fk == rol %}
                                                                    <tr class="rotacion-row">
                                                                        <input type="hidden"
                                                                               value="{{ rotacion.id_rotacion }}">
                                                                        <td>{{ rotacion.fecha_inicio }}</td>
                                                                        <td>{{ rotacion.fecha_fin }}</td>
                                                                        <td>{{ rotacion.id_clinica_fk.nombre_unidad }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p>Lista de roles vacía</p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para la asignación del rol [fin] -->


            <!-- Modal para ver contactos del pasante [inicio] -->
            <div class="modal fade scrollable-body-modal" id="modalVerContactos"
                 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                Ver Contactos

                            </h5>
                        </div>
                        <div class="modal-body">

                            {% if contactos_pasante %}
                                <div class="table-responsive">
                                    <table class="table table-rol"
                                           style="background-color:#FFFFFF;">
                                        <thead class="thead-inverse">
                                        <tr class="row-header">
                                            <th colspan="2"
                                                class="rol-title">
                                                CONTACTOS
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Teléfono</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for contacto in contactos_pasante %}

                                            <tr class="contac contac-{{ contacto.id_pasante_fk_id }}">
                                                <td>{{ contacto.nombre }}</td>
                                                <td>{{ contacto.numero }}</td>
                                            </tr>

                                        {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p>Lista de contactos vacía</p>
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-dismiss="modal">
                                Cerrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para ver contactos del pasante [fin] -->

            <!-- Modal para ver perfil del pasante [inicio] -->
            <div class="modal fade scrollable-body-modal" id="modalVerPerfil"
                 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">
                                {% for pasante in pasantes %}
                                    <CENTER class="contac contac-{{ pasante.id_pasante }}">
                                        {{ pasante.nombre }} {{ pasante.apellido_paterno }} {{ pasante.apellido_materno }}
                                    </CENTER>

                                {% endfor %}
                            </h5>
                        </div>
                        <div class="modal-body">
                            <table class="table table-rol"
                                   style="background-color:#FFFFFF;">
                                <tr class="row-header">
                                    <th colspan="2"
                                        class="rol-title">
                                        Datos del Pasante
                                    </th>

                                </tr>
                                {% for pasante in pasantes %}

                                    <tr class="contac contac-{{ pasante.id_pasante }}">
                                        <th>
                                        </th>
                                        <CENTER>
                                            <th>
                                                <IMG SRC="/../../media/{{ pasante.foto }}"
                                                     class="img-rounded"
                                                     alt="Cinque Terre"
                                                     width="150" height="150">
                                            </th>
                                        </CENTER>
                                        <th>
                                        </th>
                                    </tr>
                                    <tr class="contac contac-{{ pasante.id_pasante }}">

                                        <th>CURP:</th>
                                        <th>{{ pasante.curp }}</th>

                                    <tr class="contac contac-{{ pasante.id_pasante }}">
                                        <th>RFC:</th>
                                        <th>{{ pasante.rfc }}</th>
                                    </tr>
                                    <tr class="contac contac-{{ pasante.id_pasante }}">
                                        <th>Matrícula:</th>
                                        <th>{{ pasante.id_usuario_fk.matricula }}</th>
                                    </tr>
                                    <tr class="contac contac-{{ pasante.id_pasante }}">
                                        <th>Correo electrónico personal:</th>
                                        <th>{{ pasante.id_usuario_fk.correo_electronico }}</th>
                                    </tr>
                                    <tr class="contac contac-{{ pasante.id_pasante }}">
                                        <th>Correo electrónico institucional:
                                        </th>
                                        <th>
                                            {% if pasante.id_usuario_fk.correo_institucional != NoneType and pasante.id_usuario_fk.correo_institucional != "" %}
                                                {{ pasante.id_usuario_fk.correo_electronico }}
                                            {% else %}
                                                ---
                                            {% endif %}
                                        </th>
                                    </tr>
                                    <tr class="contac contac-{{ pasante.id_pasante }}">
                                        <th>Promedio:</th>
                                        <th>{{ pasante.id_datos_academicos_fk.promedio }}</th>
                                    </tr>
                                    <tr class="contac contac-{{ pasante.id_pasante }}">
                                        <th>Dirección:</th>
                                        <th>{{ pasante.id_direccion_fk.calle }}
                                            , {{ pasante.id_direccion_fk.colonia }}</th>
                                    </tr>

                                    {% for tel in telefono %}
                                        {% if tel.id_pasante_fk_id == pasante.id_pasante %}

                                            <tr class="contac contac-{{ tel.id_pasante_fk_id }}">

                                                {% if tel.tipo == "movil" %}
                                                    <th>Teléfono Móvil</th>
                                                    <th>{{ tel.numero }}</th>

                                                {% else %}
                                                    <th>
                                                        Teléfono {{ tel.tipo }}</th>
                                                    <th>{{ tel.numero }} </th>
                                                {% endif %}

                                            </tr>

                                        {% endif %}
                                    {% endfor %}





                                    </div>
                                    </tr>

                                {% endfor %}
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
            </div>
            <!-- Modal para ver perfil del pasante [fin] -->


            <!-- Fila a copiar en modal de comisión y tutor [inicio] -->
            <table class="hidden">
                <tr id="rowRotComTut">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <input class="combobox textComision">
                        </input>
                    </td>
                    <td>
                        <select class="combobox cboxTutores">

                            {% for tutor in tutores %}
                                <option value="{{ tutor.id_tutor }}">
                                    {{ tutor.nombre }}
                                    {{ tutor.apellido_paterno }}
                                    {{ tutor.apellido_materno }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <!-- Fila a copiar en modal de comisión y tutor [fin] -->

            <!-- Fila a copiar en modal modificación de asignación [inicio]-->
            <table class="hidden">
                <tr id="rowRotComTutMod">
                    <td>
                        <input class="form-control dateInicio datepicke hidden"
                               type="text" ></input>
                        <input class="form-control dateInicio1 datepicker"
                               type="text" disabled></input>
                    </td>
                    <td>
                        <input class="form-control dateFin datepicker hidden"
                               type="text" ></input>
                        <input class="form-control dateFin1 datepicker"
                               type="text" disabled></input>
                    </td>
                    <td>
                        <select class="combobox cboxClinicas">
                            {#                            <option selected="true" disabled></option>#}
                            {##}
                            {#                            {% for clinica in clinicas %}#}
                            {#                                <option value="{{ clinica.id_clinica }}">#}
                            {#                                    {{ clinica.nombre_unidad }}#}
                            {#                                </option>#}
                            {#                            {% endfor %}#}
                        </select>
                    </td>
                    <td>
                        <input class="combobox textComision">
                        </input>
                    </td>
                    <td>
                        <select class="combobox cboxTutores">
                            {% for tutor in tutores %}
                                <option value="{{ tutor.id_tutor }}">
                                    {{ tutor.nombre }}
                                    {{ tutor.apellido_paterno }}
                                    {{ tutor.apellido_materno }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
            <!-- Fila a copiar en modal modificación de asignación [fin]-->

            <!-- Script que llena el modal de comisión y tutor [inicio] -->
            <script>
                $('.btnAsignarRol').click(function () {
                    var table = $(this).parent().parent().parent();
                    {#                    var tbody = table.find('tbody');#}
                    var rowsRotacion = table.find('.rotacion-row');

                    var errorContainer = $('#modalAsignarComTut .h-light');
                    errorContainer.addClass('hidden');
                    errorContainer.find('div').html('');

                    $('#id_rol').val($(this).data('id_rol'));

                    var modalComTut = $('#modalAsignarComTut').find('tbody');
                    modalComTut.html('');

                    console.log('rowsRotacion', rowsRotacion);

                    $.each(rowsRotacion, function (index, rowRotacion) {
                        var celdas = rowRotacion.getElementsByTagName('td');
                        inputIdRot = rowRotacion.getElementsByTagName('input');

                        console.log('rot ' + (index + 1), rowRotacion);
                        console.log('celdas rot ' + (index + 1), celdas);
                        console.log('inputIdRot rot ' + (index + 1), inputIdRot);

                        var rotacion = {
                            id: inputIdRot[0].getAttribute('value'),
                            inicio: celdas[0].innerText,
                            fin: celdas[1].innerText,
                            unidad: celdas[2].innerText
                        };

                        var newTrRot = $('#rowRotComTut').clone();
                        newTrRot.attr('id', 'rowRotComTut' + rotacion.id);

                        newTrRotChildren = newTrRot.find('td');

                        newTrRotChildren[0].innerText = rotacion.inicio;
                        newTrRotChildren[1].innerText = rotacion.fin;
                        newTrRotChildren[2].innerText = rotacion.unidad;

                        var inputComision = newTrRot.find('.textComision');
                        inputComision.attr('id', 'comision' + rotacion.id);
                        inputComision.attr('name', 'comision' + rotacion.id);
                        var cboxTutores = newTrRot.find('.cboxTutores');
                        cboxTutores.attr('id', 'tutor' + rotacion.id);
                        cboxTutores.attr('name', 'tutor' + rotacion.id);

                        modalComTut.append(newTrRot);
                    });
                });
            </script>
            <!-- Script que llena el modal de comisión y tutor [inicio] -->

            <!-- Modal para la asignación de comisiones y tutores [inicio] -->
            <div class="modal fade"
                 id="modalAsignarComTut" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog full-width-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Comisiones y Tutores
                            </h5>
                        </div>
                        <div class="modal-body">
                            <!-- Alerta para mostrar errores del lado del cliente [inicio] -->
                            <h4 class="h-light hidden" id="errorContainer">
                                <div id="errores_cliente"
                                     class="alert alert-danger">
                                </div>
                            </h4>
                            <!-- Alerta para mostrar errores del lado del cliente [fin] -->

                            <div class="table-responsive">
                                <form method="post" name="frmAsignaRol"
                                      action="{% url "asignar_rol" %}"
                                      id="frmAsignaRol">
                                    {% csrf_token %}
                                    <table class="table table-rol"
                                           style="background-color:#FFFFFF;">
                                        <thead class="thead-inverse">
                                        <tr class="row-header">
                                            <th class="rol-title">
                                                Inicio
                                            </th>
                                            <th class="rol-title">
                                                Fin
                                            </th>
                                            <th class="rol-title">
                                                Unidad
                                            </th>
                                            <th class="rol-title">
                                                Comisión
                                            </th>
                                            <th class="rol-title">
                                                Tutor
                                            </th>
                                        </tr>
                                        </thead>

                                        <tbody>

                                        </tbody>
                                    </table>
                                    <input type="hidden" id="id_rol"
                                           name="id_rol">
                                    <input type="hidden" id="id_pasante"
                                           name="id_pasante">

                                    <div id="modificarBecaContainer"
                                         class="hidden">
                                        <input type="checkbox"
                                               id="chkModBeca"
                                               name="chkModBeca">
                                        <label for="chkModBeca">
                                            Modificar beca
                                        </label>

                                        <div id="becaInputContainer"
                                             class="hidden">
                                            <label for="txtBecaMod">
                                                Beca:
                                            </label>
                                            <input class="form-control"
                                                   id="txtBecaMod" name="beca">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger"
                                    data-dismiss="modal">
                                Cancelar
                            </button>
                            <button type="button" class="btn btn-primary"
                                    id="btnGuardarAsignacion">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal para la asignación de comisiones y tutores [fin] -->

            <!-- Script para mostrar/ocultar cuadro de beca [inicio] -->
            <script>
                $('#chkModBeca').change(function () {
                    if ($(this).is(':checked')) {
                        $('#becaInputContainer').removeClass('hidden');
                        $('#txtBecaMod').val(becaOriginal);
                    } else {
                        $('#becaInputContainer').addClass('hidden');
                    }
                });
            </script>
            <!-- Script para mostrar/ocultar cuadro de beca [fin] -->

            <!-- Script que valida y confirma la asignación de rol [inicio] -->
            <script>
                var formatedDates;

                $('#btnGuardarAsignacion').click(function () {
                    formatedDates = [];

                    var modoGuardar = $('#modificarBecaContainer')
                        .hasClass('hidden');

                    if (modoGuardar) {
                        console.log('Guardar rol nuevo');
                        guardarRolNuevo($(this));
                    } else {
                        console.log('Guardar rol existente');
                        guardarRolExistente($(this));
                    }
                });

                function guardarRolNuevo(button) {


                    var table = button.parent().parent().find('.modal-body');
                    var rotRows = table.find('tbody').find('tr');
                    console.log(rotRows);

                    var errorList = $('#errores_cliente');
                    errorList.empty();

                    var formularioValido = true;

                    $.each(rotRows, function (index, rotRow) {
                        var rotRow = $('#' + rotRow.getAttribute('id'));
                        var textComision = rotRow.find('.textComision').val();
                        var cboxTutores = rotRow.find('.cboxTutores').val();

                        if (textComision === null) {
                            $('#errorContainer').removeClass('hidden');
                            console.log("Vali verga");
                            errorList.append('<p>Rotación '
                                + (index + 1) + ': El campo "Comisión" no ' +
                                'debe ser vacío</p>');
                            formularioValido = false;
                        }

                        if (cboxTutores === null) {
                            $('#errorContainer').removeClass('hidden');
                            errorList.append('<p>Rotación '
                                + (index + 1) + ': El campo "Tutor" no ' +
                                'debe ser vacío</p>');
                            formularioValido = false;
                        }

                        //console.log('comisión: ' + textComision);
                        //console.log('tutor: ' + cboxTutores);
                    });

                    if (formularioValido) {
                        var form = document.frmAsignaRol;
                        form.submit();
                    }
                }

                function guardarRolExistente(button) {
                    var table = button.parent().parent().find('.modal-body');
                    var rotRows = table.find('tbody').find('tr');

                    console.log('Rol con ' + rotRows.length + ' rotaciones');

                    var errorList = $('#errores_cliente');
                    errorList.empty();

                    var formularioValido = true;

                    var fechasInicioFinValidas = true;

                    $.each(rotRows, function (index, rotRow) {
                        console.log('Rot_' + (index + 1), rotRow);
                        var rotRow = $('#' + rotRow.getAttribute('id'));

                        var dateInicio = rotRow.find('.dateInicio')
                            .data('datepicker').getFormattedDate('yyyy-mm-dd');
                        var dateFin = rotRow.find('.dateFin').data('datepicker')
                            .getFormattedDate('yyyy-mm-dd');
                        var unidad = rotRow.find('.cboxClinicas').val();
                        var comision = rotRow.find('.textComision').val();
                        var tutor = rotRow.find('.cboxTutores').val();

                        var data = {
                            inicio: dateInicio,
                            fin: dateFin,
                            unidad: unidad,
                            comision: comision,
                            tutor: tutor
                        };

                        console.log('formData', data);

                        if (!validarDateInicio(dateInicio, (index + 1))) {
                            formularioValido = false;
                        }

                        if (!validarDateFin(dateFin, (index + 1))) {
                            formularioValido = false;
                        }

                        if (!validarUnidad(unidad, (index + 1))) {
                            formularioValido = false;
                        }

                        if (!validarComision(comision, (index + 1))) {
                            formularioValido = false;
                        }

                        if (!validarTutor(tutor, (index + 1))) {
                            formularioValido = false;
                        }

                        formatedInicio = rotRow.find('.dateInicio')
                            .data('datepicker')
                            .getFormattedDate('yyyy-mm-dd');

                        formatedFin = rotRow.find('.dateFin')
                            .data('datepicker')
                            .getFormattedDate('yyyy-mm-dd');

                        if (!validarDatesInicioFin(index, formatedInicio, formatedFin)) {
                            formularioValido = false;
                            fechasInicioFinValidas = false;
                        }
                    });
                    if (!validarFechasTraslapadas()) {
                        formularioValido = false;
                    }
                    if (!validarBeca()) {
                        formularioValido = false;
                    }

                    console.log('Formulario válido', formularioValido);

                    if (formularioValido) {
                        var form = document.frmAsignaRol;
                        form.setAttribute('action',
                            '{% url "modificar_asignacion" %}');
                        form.submit();
                    }

                    function validarDatesInicioFin(index, dateInicio, dateFin) {
                        if (dateInicio > dateFin) {
                            console.log('inicio mayor')
                            $('#errorContainer').removeClass('hidden');
                            errorList.append('<p>Rotación ' +
                                (index + 1) + ': La fecha de ' +
                                'inicio no puede ser posterior a ' +
                                'la de fin</p>');

                            return false;
                        } else {
                            console.log('inicio ok')
                            formatedDates.push({
                                inicio: formatedInicio,
                                fin: formatedFin
                            });

                            return true;
                        }
                    }

                    function validarFechasTraslapadas() {
                        var validacionCorrecta = true;

                        console.log('formatedDates', formatedDates.length)

                        for (var i = 0; i < formatedDates.length; i++) {
                            if (!validacionCorrecta) break;

                            for (var j = 0; j < formatedDates.length; j++) {
                                if (i !== j) {
                                    if (formatedDates[i].inicio ===
                                        formatedDates[j].inicio ||
                                        formatedDates[i].inicio ===
                                        formatedDates[j].fin ||
                                        (formatedDates[i].inicio >
                                            formatedDates[j].inicio &&
                                            formatedDates[i].inicio <
                                            formatedDates[j].fin)) {

                                        $('#errorContainer').removeClass('hidden');

                                        errorList.append('<p>No puede ' +
                                            'haber periodos de rotaciones ' +
                                            'traslapados</p>');

                                        validacionCorrecta = false;
                                        break;
                                    }
                                }
                            }
                        }

                        return validacionCorrecta;
                    }

                    function validarDateInicio(dateInicio, rotIndex) {
                        if (dateInicio.length === 0) {
                            $('#errorContainer').removeClass('hidden');
                            errorList.append('<p>Rotación '
                                + rotIndex + ': El campo "Inicio" no debe ser' +
                                ' vacío</p>');
                            return false;
                        } else {
                            return true;
                        }
                    }

                    function validarDateFin(dateFin, rotIndex) {
                        if (dateFin.length === 0) {
                            $('#errorContainer').removeClass('hidden');
                            errorList.append('<p>Rotación '
                                + rotIndex + ': El campo "Fin" no debe ser' +
                                ' vacío</p>');
                            return false;
                        } else {
                            return true;
                        }
                    }

                    function validarUnidad(unidad, rotIndex) {
                        if (unidad === null) {
                            $('#errorContainer').removeClass('hidden');
                            errorList.append('<p>Rotación '
                                + rotIndex + ': El campo "Unidad" no debe ser' +
                                ' vacío</p>');
                            return false;
                        } else {
                            return true;
                        }
                    }

                    function validarComision(comision, rotIndex) {
                        if (comision === null) {
                            $('#errorContainer').removeClass('hidden');
                            errorList.append('<p>Rotación '
                                + rotIndex + ': El campo "Comisión" no debe ' +
                                'ser vacío</p>');
                            return false;
                        } else {
                            return true;
                        }
                    }

                    function validarTutor(tutor, rotIndex) {
                        if (tutor === null) {
                            $('#errorContainer').removeClass('hidden');
                            errorList.append('<p>Rotación '
                                + rotIndex + ': El campo "Tutor" no debe ser' +
                                ' vacío</p>');
                            return false;
                        } else {
                            return true;
                        }
                    }

                    function validarBeca() {
                        var becaModificada = $('#chkModBeca').is(':checked');

                        console.log('becaModificada', becaModificada);

                        if (becaModificada) {
                            var beca = $('#txtBecaMod').val().trim();

                            console.log('beca', beca);

                            if (beca.length === 0) {
                                $('#errorContainer').removeClass('hidden');
                                errorList.append('<p>El campo "Beca" no debe ' +
                                    'ser vacío</p>');
                                return false;
                            } else {
                                return true;
                            }
                        } else {
                            return true;
                        }
                    }
                }
            </script>
            <!-- Script que valida y confirma la asignación de rol [fin] -->

            <br>
            <br>

            <form method="post" name="formPasanteDesactivar"
                  action="{% url "desactivar_pasante" %}">
                {% csrf_token %}
                <input type="hidden" name="desactivar">
            </form>

            <form method="post" name="formPasanteactivar"
                  action="{% url "activar_pasante" %}">
                {% csrf_token %}
                <input type="hidden" name="activar">
            </form>

            <form method="post" name="formPasanteModificar"
                  action="{% url "modificar_pasante" %}">
                {% csrf_token %}
                <input type="hidden" name="modificar">
            </form>

            <style type="text/css">
                .modal-lg {
                    width: 100%;
                }
            </style>
        {% else %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}
