{% extends 'base_coordinador.html' %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff %}
Coordinadores
<br>
<br>
<!--MOSTRAR MENSAJES DE EXITO-->
{% if mensaje_exito != null %}
<div class="alert alert-success" action="{% url "inicio" %}"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{mensaje_exito}}</div>
{% endif %}

<!--MOSTRAR MENSAJES DE ERROR-->
{% if mensaje_error != null %}
<div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{mensaje_error}}</div>
{% endif %}




    {% else %}
    {% endif %}
{% else %}
{% endif %}
{% endblock%}
{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">


    /**
    * Se obtiene el id del pasante al que se le asignara una clínica.
    */



    /**
    * En este metodo se obtiene el id de la clinica que va a ser asignada al pasante.
    */




</script>
<script>


</script>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <table style="width:100%">
          <tr>
            <th>


            </th>
            <th>

            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
<!-- Button trigger modal -->




<form name="ordenar" method = "post" action="{% url "mostrar_pasantes" %}">
    {% csrf_token %}
  </br>


</div>
<!--Desactivar multiples registros-->
<div>
<br>
</div>
<form method="post" name="checkbox_pasantes" action ="{% url "seleccionar_pasantes" %}">
{% csrf_token %}

<br>
<div class="container" style="display: block; height: 450px; overflow-y: inherited ; overflow-x: hidden;">
<div class="table-responsive">
<table class="table" id="mytable" style="background-color:#FFFFFF;">
    <thead class="thead-inverse">
        <tr>
            <th><center>#</center></th>
            <th><center>Nombre</center></th>
            <th><center>Apellido Paterno</center></th>
            <th><center>Apellido Materno</center></th>


            <th><center></center></th>
        </tr>
    </thead>
<tbody class="searchable">
	{% if coordinador|length == 0 %}
        <h4 class="h-light">
            <div class="alert alert-danger" style="width:50%;">No hay coordinadores registrados</div>
        </h4>
    {% endif %}
    {% for coordinador in coordinador %}


    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
        <center>

        </center>
    </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{coordinador.nombre}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                <center>
                    {{coordinador.apellido_paterno}}
                </center>
            </td>
            <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                {% if coordinador.apellido_materno %}
                    <center>
                        {{coordinador.apellido_materno}}
                    </center>
                {% elif not coordinador.apellido_materno %}
                    <center>
                        -
                    </center>
                {% endif %}
            </td>



            <!-- se asigna la comisión a cada pasante -->



<style type="text/css">
.dropdown-menu2{
    margin-right: 60px;
    top:-10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
</style>
            <td style="border-bottom-width: 0px;    border-left-width: 0px;border-top-width: 0px;border-right-width: 0px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-cog"></span></button>
                    <!-- este if funciona para el subir o bajar las diferentes opciones de cada pasante. -->
                    <ul class="dropdown-menu pull-right dropdown-menu2" style="top:-10px;" role="menu">
                      <li style="height: 20px;">
                          <a href="{% url "eliminar_coordinador" coordinador.id_coordinador %}">Eliminar coordinador</a>
                      </li>

                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
</form>
</div>
</div>
<br>
<br>








<style type="text/css">
.modal-lg {
    width: 100%;
}

</style>

    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}
{% else %}
{% endif %}
{% endblock%}
