{% extends 'base_coordinador.html' %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff == 1 %} 
            Comentarios de clinica: {{clinicaCom2.nombre_unidad}}
            <br>
            <br>


        {% else %}
        {% endif %}
    {% else %}
    {% endif %}


{% endblock %}

{% block menu %}

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>



{% endblock %}

{% block panico %}
        {% if tiene_datos and pasante_p.status == "activo" %}
            <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
        {% endif %}
{% endblock %}


{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}


{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}        
                                <style type="text/css">
                                        .btn-negro {
                                          background: rgb(0,0,0);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                        .btn-rojo {
                                          background: rgb(199,0,0);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                        .btn-amarillo {
                                            background: rgb(250,232,2);
                                            width: 150px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: black;
                                        }
                                        .btn-naranja {
                                          background: rgb(250,117,16);
                                            width: 150px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: black;
                                        }
                                        .btn-verde {
                                          background: rgb(40,222,4);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                        .btn-azul {
                                          background: rgb(25,8,158);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                    </style>                          

        <div class="container">
                <h6>Filtrar por:
                {% block enlaces %}
                <a style=" font-size: 12px;" class="btn btn-negro btn-xs" href="{% url "comentarios_clinica_coordinador" 6  clinicaCom %}" >
                                                    General
                                                </a>
                <a style=" font-size: 12px;" class="btn btn-azul btn-xs" href="{% url "comentarios_clinica_coordinador" 5  clinicaCom %}" >
                                                    Comunidad
                                                </a>
                <a style=" font-size: 12px;" class="btn btn-verde btn-xs" href="{% url "comentarios_clinica_coordinador" 4 clinicaCom %}" >
                                                    Personal
                                                </a>
                <a style=" font-size: 12px;" class="btn btn-naranja btn-xs" href="{% url "comentarios_clinica_coordinador" 3  clinicaCom %}" >
                                                    Comunicación
                                                </a>
                <a style=" font-size: 12px;" class="btn btn-amarillo btn-xs" href="{% url "comentarios_clinica_coordinador" 2 clinicaCom %}" >
                                                    Infraestructura
                                                </a>
                <a style=" font-size: 12px;" class="btn btn-rojo btn-xs" href="{% url "comentarios_clinica_coordinador" 1  clinicaCom %}" >
                                                    Seguridad
                                                </a>
                {% endblock %}
                
                
                
                
            </div>



                <div class="container"
                     style="display: block; height: 350px; overflow-y: hidden;
                     overflow-x: hidden;">

                
                    <div class="table-responsive" style="height: 100%">
                    <center>
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;width:100%"
                               data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc"
                               > 
                            <thead>
                            <tr >
                                <th>
                                    <center>Rubro</center>
                                </th>

                                <th style="width:10em;word-wrap:break-word;">
                                    <center>Comentario</center>
                                </th>
                                <th data-sortable="true" data-field="fecha">
                                    <center>Fecha</center>
                                </th>                     
                                <th>                      
                                </th>                                          
                            </thead>
                            <tbody class="searchable">
                            {% if comentarios|length == 0 %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:100%;">                                        
                                            No hay comentarios que mostrar                                        
                                    </div>
                                </h4>
                            {% endif %}
                            {% for comentario in comentarios %}
                                <tr>                              
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ rubro }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;" >
                                        <center>
                                            {{ comentario.comentario }}                                            
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ comentario.fecha }}
                                        </center>
                                    </td> 
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                        
                                             <input onclick="window.location.href='{% url 'eliminar_comentario' comentario.id_comentario_pasante rubro.id_rubro clinicaCom%}';" type="submit" name="eliminarCom" value="Eliminar">
                                             <!--
                                             <a href="{% url 'eliminar_comentario' comentario.id_comentario_pasante rubro.id_rubro clinicaCom%}">Eliminar</a> -->
                                        </center>
                                    </td>                                                                        
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </center>
                    </div>                

                <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
                    <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css" />
                    <link rel="stylesheet" type="text/css" href="{% static "plugins/cubeportfolio/css/cubeportfolio.min.css"%}">
                    <link href="{% static "css/nivo-lightbox.css"%}" rel="stylesheet" />
                    <link href="{% static "css/nivo-lightbox-theme/default/default.css"%}" rel="stylesheet" type="text/css" />
                    <link href="{% static "css/owl.carousel.css"%}" rel="stylesheet" media="screen" />
                    <link href="{% static "css/owl.theme.css"%}" rel="stylesheet" media="screen" />
                    <link href="{% static "css/animate.css"%}" rel="stylesheet" />
                    <link href="{% static "css/style.css"%}" rel="stylesheet">
                    <link href="{% static "css/barra_menus.css"%}" rel="stylesheet">
                    <link href="{% static "css/roles.css"%}" rel="stylesheet">
                    <link href="{% static "plugins/datepicker/bootstrap-datepicker.min.css"%}" rel="stylesheet">
                    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>

                      <!-- boxed bg -->
                      <link id="bodybg" href="{% static "bodybg/bg1.css"%}" rel="stylesheet" type="text/css" />
                      <!-- template skin -->
                      <link id="t-colors" href="{% static "color/default.css"%}" rel="stylesheet">

                       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

        {% else %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}
    {% else %}
    {% endif %}    
{% endblock %}
