{% extends 'base_coordinador.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}


Nuevo Coordinador

<br>
<br>
{% if funcion != null %}

<div class="alert alert-success" action ="{% url "inicio" %}">{{funcion}}</div>

{% endif %}
{% if peligro != null %}

<div class="alert alert-warning" action ="{% url "inicio" %}">{{peligro}}</div>

{% endif %}
{% if alerta != null %}

<div class="alert alert-danger" action ="{% url "inicio" %}">{{alerta}}</div>

{% endif %}



    {% else %}

    {% endif %}

{% else %}
{% endif %}

{% endblock%}
{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
<script type="text/javascript">
function redireccionarPagina() {
  window.location = "/Coordinador";

}

</script>

                                        
                                        
                                        
                                        
                                        
                                        

<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" >

    {% csrf_token %}


    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Matrícula:
             *</label>
        <div class="col-sm-9">
            <input class="form-control" id="id_matricula" maxlength="8" name="matricula" type="text" value="{{matricula}}" {% if boolean %} disabled {% else %} {% endif %}>
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Contraseña:
             *</label>
        <div class="col-sm-9">
            <input class="form-control" id="id_password" name="password" type="password" >
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Confirmar contraseña:
             *</label>
        <div class="col-sm-9">
            <input class="form-control" id="id_confirmar_password" maxlength="50" name="confirmar_password" type="password" >
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Correo electrónico principal: 
             *</label>
        <div class="col-sm-9">
            <input class="form-control" id="id_correo_electronico" maxlength="50" name="correo_electronico" type="text" value="{{correo_electronico}}" {% if boolean %} disabled {% else %} {% endif %}>
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Correo electrónico alternativo:
            </label>
        <div class="col-sm-9">
            <input class="form-control" id="id_correo_institucional" maxlength="50" name="correo_institucional" type="text" value="{{correo_institucional}}" {% if boolean %} disabled {% else %} {% endif %}>
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Nombre:
             *</label>
        <div class="col-sm-9">
            <input class="form-control" id="id_nombre" maxlength="50" name="nombre" type="text" value="{{nombre}}" {% if boolean %} disabled {% else %} {% endif %}>
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Apellido Paterno:
             *</label>
        <div class="col-sm-9">
            <input class="form-control" id="id_apellido_paterno" maxlength="50" name="apellido_paterno" type="text" value="{{apellido_paterno}}" {% if boolean %} disabled {% else %} {% endif %}>
            
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Apellido Materno:
            </label>
        <div class="col-sm-9">
            <input class="form-control" id="id_apellido_materno" maxlength="50" name="apellido_materno" type="text" value="{{apellido_materno}}" {% if boolean %} disabled {% else %} {% endif %}>
            
        </div>
    </div>
    











  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   {% if form == "0" %}
   
   {% else %}
        <button type="submit" class="btn btn-primary btn-lg">
            Guardar
        </button>

       <a onclick="{% url "mostrar_lista_clinicas" %}" class="btn btn-info btn-lg" href="{% url "mostrar_lista_clinicas" %}" style="left: 20px;">
            Cancelar
        </a>
    {% endif %}
    <br>
    <br>
</form>
<style type="text/css">
.col-sm-3 {
    width: 100%;
</style>
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

{% else %}

{% endif %}
{% endblock%}