<style type="text/css">
    body {background-color: powderblue;}
     h1   {color: blue;}
     p    {color: red;}

     input {
         width: 55%;
     }
 </style>

{% extends 'base_coordinador.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
Agregar Preguntas Frecuentes

<br>
<br>



    {% else %}
    {% endif %}
{% else %}

{% endif %}
{% endblock%}
{% block imagen %}

    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}

{% if user.is_authenticated %}

    {% if request.user.is_active and request.user.is_staff == 1 %}
    <br>

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.1/build/css/themes/bootstrap.min.css"/>


    {% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
        alertify.set('notifier','position', 'top-center');
        alertify.success( "{{message}}");
        </script>

    {% endfor %}
    {% endif %}

     <!--validacion para agregar solo preguntas-->
    <!--codigo agregado-->



    <script>
        function validateForm() {
            var respuesta = document.querySelector('#id_pregunta');
            var validacion=respuesta.value.startsWith("¿");
            var validacion2=respuesta.value.endsWith("?");
        if (validacion && validacion2 ){
            alert("Pregunta correcta");
            return true;
        }else{
            alert("Pregunta incorrecta");
            return false;
        }
    }

</script>


            <form action="{% url 'preguntas_frecuentes' %}" method="POST" >
                                {% csrf_token %}
                                {% include 'form_template.html' %}

                        <p style="padding-bottom: 20px;border-bottom-width: 25px; width:120">
                          <input type="submit" value="Registrar" class="btn btn-primary btn-block" >
                        </p>
                          </form>

    </section>

    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

{% else %}
{% endif %}
{% endblock%}
