<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
{% extends 'base_coordinador.html' %}
{% load staticfiles %}




{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}



{% block titulo %}
{% load staticfiles %}
{% if conversa.importante == 1 %}
    <button class="btn btn-primary btn-xs" style="float:right;background-color:rgb(183, 149, 11)" id="btn_importante" disabled >Importante</button>
{% else %}
    <form method="post" action="{% url 'marcarImportante' %}">
        {% csrf_token %}
        <input type="hidden" name="id_conversacion" value="{{ conversa.id_mensaje }}">
        <input type="submit" class="btn btn-primary btn-xs" style="float:right;" value="Importante">
    </form>
    
{% endif %}

Registro Mensajes



<br>
{% endblock%}

{% block contenido %}
{% load staticfiles %}


<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
<script type="text/javascript" src="{% static "DataTables/datatables.min.js" %}"> </script>



{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1%}

    <style type="text/css">
        
        .message-bubble 
        {
            padding: 10px 0px 10px 0px;
            color: #000000;
            
        }

        .message-bubble2
		{
			padding: 10px 0px 10px 0px;
			background-color:#dff0d8;
		}

        .message-bubble:nth-child(even) 
        { 
            background-color: #d7b87f; 
            text-align: right;
            color: #000000;
        }

        .message-bubble > *
        {
            padding-left: 10px; 
			
        }
		
		.resaltar_modal
		{
			background-color:#F78181;
		}
         

        .panel-body { 
            padding: 0px; 
        }
        .texto{
            color: #000000;
        }

        .panel-heading { 
            background-color: #012a62 !important; 
            color: white !important; 
        }

        .text-muted{
            color: #000000;
        }


    </style>

    <div class="container">
            <div class="row">
                <div class="panel panel-default">
                  
                  <div class="panel-heading">
                    Conversación con {{ conversa.id_pasante_fk_id.nombre }} {{ conversa.id_pasante_fk_id.apellido_paterno }}. <br>
                    Fecha Inicio: {{ conversa.fecha_inicio }} - Fecha Final: {{ conversa.fecha_final }}.<br>
                    Tipo: {{ conversa.id_tipo_fk_id }}.

                  </div>


                  <div class="panel-body">

                    <div class="container">

                        {% for h in  mensaje  %}
                            {% if h.resaltado == 0 %}
                                <div class="row message-bubble">
                                
                                    <p  class="text-muted">Pasante: {{ conversa.id_pasante_fk_id.nombre }} {{ conversa.id_pasante_fk_id.apellido_paterno }} - Coordinador: {{ conversa.id_coordinador_fk_id.nombre }} {{ conversa.id_coordinador_fk_id.apellido_paterno }}.
                                    </p>
                                    <p >
                                        <a data-toggle="modal" href="#resaltar_modal{{h.id_mensaje}}" id="eliminar_button" class="texto" >{{h.mensaje}}</a>
										
										<!-- INICIA Modal Resaltar Mensaje-->
										<div class="modal fade" id="resaltar_modal{{h.id_mensaje}}" tabindex="-1">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title"></h4>
											  </div>
										       <div class="modal-body" style="text-align:center">
    											  <h6>
    												<p>¿Desea resaltar el mensaje seleccionado?
                                                        Después podrá revertirlo.</p>
    											  </h6>
    
    											  <form method="post" action="resaltar">
                                                    {% csrf_token %}
                                                    
                                                    <input type="hidden" name="id_conversacion" value="{{ conversa.id_mensaje }}">
                                                    <input type="hidden" name="id_mensaje" value="{{ h.id_mensaje }}">
                                                    <input type="hidden" name="resaltado" value="{{ h.resaltado }}">
                                                    <input type="submit" class="btn btn-primary" value="Aceptar">
                                                    
                                                    <button class="btn btn-primary" data-dismiss="modal">
                                                    Cancelar
                                                    </button>
    											  </form>
											    </div>
											   </div>
											</div>
										</div>

									  <!-- CIERRA Modal resaltar mensaje -->
									</p>
                                </div>
                            {% else %}
								<div class="row message-bubble2">
                                
                                    <p  class="text-muted">Pasante: {{ conversa.id_pasante_fk_id.nombre }} {{ conversa.id_pasante_fk_id.apellido_paterno }} - Coordinador: {{ conversa.id_coordinador_fk_id.nombre }} {{ conversa.id_coordinador_fk_id.apellido_paterno }}.
                                    </p>
                                    <p >
                                        <a data-toggle="modal" href="#eliminar_modal{{h.id_mensaje}}" id="eliminar_button" class="texto" >{{h.mensaje}}</a>
										
										<!-- INICIA Modal desmarcar mensaje -->
										<div class="modal fade" id="eliminar_modal{{h.id_mensaje}}" tabindex="-1">
										  <div class="modal-dialog">
											<div class="modal-content">

											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
												<h4 class="modal-title"></h4>
											  </div>

											  <div class="modal-body" style="text-align:center">
    											  <h6>
    												<p>¿Desea desmarcar el mensaje seleccionado?
                                                        Después podrá revertirlo.</p>
    											  </h6>
    											  <form method="post" action="resaltar">
    												{% csrf_token %}
    
    												<input type="hidden" name="id_conversacion" value="{{ conversa.id_mensaje }}">
    												<input type="hidden" name="id_mensaje" value="{{ h.id_mensaje }}">
    												<input type="hidden" name="resaltado" value="{{ h.resaltado }}">
    												<input type="submit" class="btn btn-primary" value="Aceptar">
    
    												<button class="btn btn-primary" data-dismiss="modal">
    												  Cancelar
    												</button>
    
    											  </form>
											  </div>
											</div>
											</div>
										</div>

									  <!-- CIERRA Modal resaltar mensaje -->

                                    </p>
                                
                                </div>
							{% endif %}
							
                        {% endfor %}
                        
                    </div>
                    <br>
                        <a href="{% url 'mensajes' %}" class="btn btn-primary">Cerrar </a>
                    <br>
                  </div>
                </div>
            </div>
        </div>
         
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}



{% else %}
{% endif %}




<style type="text/css">
    .pull-left { 
        float: left !important; 
        width: 250%;
    }
    .dataTables_filter {
        
        width: 100%;
        
        text-align: left !important;
        margin-bottom: 2px;
        margin-top: -26px;
        margin-right: -3em !important;
    }

    .dataTables_filter input {
        margin-left: 20px !important;
        margin-top: -8px !important;
        width: 481%;
        font-family: 'Open Sans', sans-serif !important;
        height: 34px !important;
        border: 1px solid #ccc !important;
        border-radius:4px !important;   
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        height: 34px;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 1em;
    }
    

</style>




<script type="text/javascript">

    $ ('.dataTables_filter'). addClass('pull-left');
    $(document).ready(function() {
    $('#mostrar_registros').DataTable( {
        "language": {
        "emptyTable": "No hay conversaciones registradas",
        "infoFiltered": "",
        "lengthChange": false,
        "search": "",
        "zeroRecords": "No se encontraron datos",
        "infoEmpty": "No hay conversaciones registradas",
        "searchPlaceholder": "Buscar"
        },
            "paging":   false,
            "ordering": true,
            "info":     false,
            "autoWidth": false
    } );

} );



</script>
{% endblock%} 