{% extends 'base_coordinador.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}


            Registrar Clínica

            <br>
            <br>
            {% if funcion != null %}

                <div class="alert alert-success"
                     action="{% url "inicio" %}">{{ funcion }}</div>

            {% endif %}
            {% if alerta != null %}

                <div class="alert alert-danger"
                     action="{% url "inicio" %}">{{ alerta }}</div>

            {% endif %}

            {% if error != null %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            {% if plaza_fed != null %}
                <div class="alert alert-danger">{{ plaza_fed }}</div>
            {% endif %}
            {% if complemento != null %}
                <div class="alert alert-danger">{{ complemento }}</div>
            {% endif %}
            {% if localidad != null %}
                <div class="alert alert-danger">{{ localidad }}</div>
            {% endif %}
            {% if municipio != null %}
                <div class="alert alert-danger">{{ municipio }}</div>
            {% endif %}
            {% if estado != null %}
                <div class="alert alert-danger">{{ estado }}</div>
            {% endif %}
            {% if institucion_error != null %}
                <div class="alert alert-danger">{{ institucion_error }}</div>
            {% endif %}


        {% else %}

        {% endif %}

    {% else %}
    {% endif %}

{% endblock %}
{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}
{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active and request.user.is_staff %}
            <script type="text/javascript">
                function redireccionarPagina() {
                    window.location = "/Coordinador/clinicas/";

                }

            </script>

            <script type="text/javascript">
                function llenaMunicipios(id_estado) {
                    document.form.action = "/Pasante/municipio/";
                    document.form.submit();
                }

                function llenaMunicipios(id_estado) {
                    $.ajax({
                        data: {'id_estado': id_estado},
                        url: '/Pasante/municipio/',
                        type: 'get',
                        success: function (data) {
                            var municipios = document.getElementById('municipios');
                            municipios.options.length = 0;
                            var opt = document.createElement('option');
                            opt.value = "vacio";
                            opt.innerHTML = "---";
                            municipios.appendChild(opt);
                            for (var i = 0; i < data.length; i++) {
                                var opt = document.createElement('option');
                                opt.value = data[i].id;
                                opt.innerHTML = data[i].nombre;
                                municipios.appendChild(opt);
                            }


                        },
                        error: function (xhr, errmsg, err) {
                            console.log(xhr.responseText);
                        }
                    });

                }
            </script>


            <form action="" method="POST" enctype="multipart/form-data"
                  class="form-horizontal">

                {% csrf_token %}

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">
                        Institución:*
                    </label>
                    <div class="col-sm-9 form-control-container">
                        {{ form.institucion }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">Nombre de Unidad:
                        *</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_nombre_unidad"
                               maxlength="50" name="nombre_unidad" type="text"
                               value="{{ nombre_unidad1 }}" {% if boolean %}
                               disabled {% else %} {% endif %}>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">Tipo Plaza:
                        *</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="id_plaza_fed"
                                name="plaza_fed" {% if boolean %}
                                disabled {% else %} {% endif %}>
                            <option value="A"{% if plaza_fed1 == "A" %}
                                    selected="" {% else %} {% endif %}>A
                            </option>
                            <option value="B"{% if plaza_fed1 == "B" %}
                                    selected="" {% else %} {% endif %}>B
                            </option>
                            <option value="C"{% if plaza_fed1 == "C" %}
                                    selected="" {% else %} {% endif %}>C
                            </option>
                            <option value="D"{% if plaza_fed1 == "D" %}
                                    selected="" {% else %} {% endif %}>D
                            </option>
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">Complemento:
                        *</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="id_complemento"
                                name="complemento" {% if boolean %}
                                disabled {% else %} {% endif %}>
                            <option value="A"{% if complemento1 == "A" %}
                                    selected="" {% else %} {% endif %}>A
                            </option>
                            <option value="B"{% if complemento1 == "B" %}
                                    selected="" {% else %} {% endif %}>B
                            </option>
                            <option value="C"{% if complemento1 == "C" %}
                                    selected="" {% else %} {% endif %}>C
                            </option>
                            <option value="D"{% if complemento1 == "D" %}
                                    selected="" {% else %} {% endif %}>D
                            </option>
                        </select>

                    </div>
                </div>

                <!--

    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Beca:
             *</label>
        <div class="col-sm-9">
            <input class="form-control" id="id_beca" maxlength="25" name="beca" type="text" value="{{beca1}}"
                        {% if boolean %} disabled {% else %} {% endif %}>
            
        </div>
    </div>

    -->

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">Observación:
                        *</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_observación"
                               maxlength="250" name="observación" type="text"
                               value="{{ observación1}}" {% if boolean %}
                               disabled {% else %} {% endif %}>

                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">Localidad:
                        *</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id_localidad"
                               maxlength="25" name="localidad" type="text"
                               value="{{ localidad1 }}" {% if boolean %}
                               disabled {% else %} {% endif %}>

                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">Estado *</label>
                    <div class="col-sm-9">
                        <select id="estados" name="estados"
                                onchange="llenaMunicipios(this.value)" style="width: 100%;
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px;" {% if boolean %}
                                disabled {% else %} {% endif %}>
                            <option value="vacio">---</option>
                            {% for i in estados %}
                                <option value="{{ i.id_estado }}">{{ i.nombre }}</option>

                            {% endfor %}
                        </select>
                    </div>
                </div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

                <div class="form-group">
                    <label class="col-sm-3 control-label"
                           style="text-align:left;">Municipio *</label>
                    <div class="col-sm-9">
                        <select id="municipios" name="municipios" style="width: 100%;
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px;" {% if boolean %}
                                disabled {% else %} {% endif %}>
                            <option value="vacio">---</option>

                        </select>
                    </div>
                </div>

                {% if boolean %}
                {% else %}
                    <button type="submit" class="btn btn-primary btn-lg">
                        Guardar
                    </button>
                    <a onclick="{% url "mostrar_lista_clinicas" %}"
                       class="btn btn-info btn-lg"
                       href="{% url "mostrar_lista_clinicas" %}"
                       style="left: 20px;">
                        Cancelar
                    </a>
                {% endif %}

                <br>
                <br>
            </form>

            <script type="text/javascript">
                window.onload = funcion_primera;

                function funcion_primera() {
                    document.getElementById("estados").selectedIndex = "{{est}}";
                    llenaMunicipios("{{est}}")
                    setTimeout("test()", 1000);
                }

                function test() {

                    document.getElementById("municipios").value = "{{mun}}";
                }
            </script>
            <style type="text/css">
                .col-sm-3 {
                    width: 100%;
                }
            </style>
        {% else %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}

    {% else %}

    {% endif %}
{% endblock %}
