{% extends 'base_coordinador.html' %}
{% load staticfiles %}



{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}



{% block titulo %}
{% load staticfiles %}

Registro de Conversaciones.
{% endblock%}

{% block contenido %}
{% load staticfiles %}


<link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}">
<script type="text/javascript" src="{% static "DataTables/datatables.min.js" %}"> </script>


{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
    
        <section id="intro" class="intro" style="height: 570px; width: 100%;
        height: 100%;
        background-image: url(../img/bodybg/bg1.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;">

               
            <div class="col-md-12 col-xs-8 col-sm-6">
                <div class="form-group row">
                    <span class="input-group-addon">Buscar</span>
                           
            <table id="mostrar_registros" class="display responsive nowrap table Contextual Classes" style="font-size: small;">
                    <thead>
                    <tr class="">
                            
                            <th bgcolor="#FFFFFF">Fecha Inicio</th>                 
                            <th bgcolor="#FFFFFF">Fecha Final</th>
                            <th bgcolor="#FFFFFF">Pasante</th>
                            <th bgcolor="#FFFFFF">Coordinador</th>
                            <th bgcolor="#FFFFFF">Clínica</th>
                            <th bgcolor="#FFFFFF">Tema</th>
                            <th bgcolor="#FFFFFF">Promoción</th>
                            <th bgcolor="#FFFFFF">Ver</th>
                    </tr>

                    </thead>
                    

                    <tbody>
                    {% for h in  mensajes  %}
                     
                     {% if h.importante == 1  %}
                            <tr >
                            <td bgcolor="#ffe680">{{ h.fecha_inicio }}</td>
                            <td bgcolor="#ffe680">{{ h.fecha_final }}</td>
                            <td bgcolor="#ffe680">{{ h.id_pasante_fk_id.nombre }} {{ h.id_pasante_fk_id.apellido_paterno }} </td>
                            <td bgcolor="#ffe680">{{ h.id_coordinador_fk_id.nombre }} {{ h.id_coordinador_fk_id.apellido_paterno }}</td>
                            <td bgcolor="#ffe680">{{ h.id_clinica_fk_id.nombre_unidad }}</td>
                            <td bgcolor="#ffe680">{{ h.id_tipo_fk_id }}</td>
                            <td bgcolor="#ffe680">{{ h.promocion.id_generacion_fk.generacion}} {{ h.promocion.id_generacion_fk.anio}} </t>
                            <td bgcolor="#ffe680">
                                <form action="registroMensajes" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_conversacion" value="{{ h.id_mensaje }}">
                                    <input type="submit" value="Ver" class="btn btm-primary"></td>
                                </form>    
                                                 
                            </tr>
                        {% else %}
                            <tr>
                            <td>{{ h.fecha_inicio }}</td>
                            <td>{{ h.fecha_final }}</td>
                            <td>{{ h.id_pasante_fk_id.nombre }} {{ h.id_pasante_fk_id.apellido_paterno }} </td>
                            <td>{{ h.id_coordinador_fk_id.nombre }} {{ h.id_coordinador_fk_id.apellido_paterno }}</td>
                            <td>{{ h.id_clinica_fk_id.nombre_unidad }}</td>
                            <td>{{ h.id_tipo_fk_id }}</td>
                            <td>{{ h.promocion.id_generacion_fk.generacion}} {{ h.promocion.id_generacion_fk.anio}} </td>
                            <td>
                                <form action="registroMensajes" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id_conversacion" value="{{ h.id_mensaje }}">
                                    <input type="submit" value="Ver" class="btn btn-primary"></td>
                                </form>    
                                                 
                            </tr>
                        {% endif %}

                         
                        {% endfor %} 

                        </tbody>
                    </table>
                </div>
            </div>
    </section>  
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}



{% else %}
{% endif %}


<style type="text/css">
    .pull-left { 
        float: left !important; 
        width: 250%;
    }
    .dataTables_filter {
        
        width: 100%;
        
        text-align: left !important;
        margin-bottom: 2px;
        margin-top: -26px;
        margin-right: -3em !important;
    }

    .dataTables_filter input {
        margin-left: 20px !important;
        margin-top: -8px !important;
        width: 505%;
        font-family: 'Open Sans', sans-serif !important;
        height: 34px !important;
        border: 1px solid #ccc !important;
        border-radius:4px !important;   
        font-size: 14px !important;
        line-height: 1.42857143 !important;
        color: #555 !important;
        background-color: #fff !important;
    }

    .input-group-addon {
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 435;
        line-height: 1;
        height: 34px;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 2em;
    }
    

</style>




<script type="text/javascript">

    $ ('.dataTables_filter'). addClass('pull-left');
    $(document).ready(function() {
    $('#mostrar_registros').DataTable( {
        "language": {
        "emptyTable": "No hay conversaciones registradas",
        "infoFiltered": "",
        "lengthChange": false,
        "search": "",
        "zeroRecords": "No se encontraron datos",
        "infoEmpty": "No hay conversaciones registradas",
        "searchPlaceholder": "Buscar"
        },
            "paging":   false,
            "ordering": true,
            "info":     false,
            "autoWidth": false
    } );

} );


</script>
{% endblock%} 


