{% extends 'base_coordinador.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}


Alta Información

<br>
<br>



    {% else %}

    {% endif %}

{% else %}
{% endif %}
{% if error != null %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}
{% if exito != null %}

  <div class="alert alert-success"> <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{exito}}</div>
{% endif %}
{% endblock%}
{% block imagen %}
    width: 100%;
    height: 100%;

    background-image: url(/static/img/bodybg/bg1.png);



    background-attachment: fixed;
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}


<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" >

    {% csrf_token %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">{{ field.label }}
            {% if field.field.required %} *{% endif %}</label>
        <div class="col-sm-9">
            {{ field|add_clase:"form-control"}}

        </div>
    </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
    {{ field }}
    {% endfor %}




        <button type="submit" class="btn btn-primary btn-lg">
            Guardar
        </button>

       <a onclick="{% url "subir_informacion" %}" class="btn btn-info btn-lg" href="{% url "subir_informacion" %}" style="left: 20px;">
            Cancelar
        </a>

    <br>
    <br>
</form>
<style type="text/css">
.col-sm-3 {
    width: 100%;
</style>
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

{% else %}

{% endif %}
{% endblock%}
