{% extends template %}
{% load filtros %}
{% load staticfiles %}

{% block titulo %}
     <span >Responder</span>
{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}
{% block contenido %}
<div class="container"
                     style="display: block; height: 450px; overflow-y: inherit;
                     overflow-x: hidden;">
<div class="table-responsive" style="height: 100%">

  <table class="table" id="mytable" style="background-color:#FFFFFF;">
    <thead>

      <tr>

        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-danger alert-{{ message.tags }} alert-dismissable">

              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
              </button>

              {{msg.message}}

            </div>
          {% endfor %}
        {% endif %}

        <th>

          {% if pregunta.estado != 0 %}
            {% if pregunta.id_usuario_fk_id_id == id_usuario or request.user.is_staff == 1 or tipo == 'Experto' %}

              <form method="POST" action="{% url "cerrar_pregunta" %}">
                {% csrf_token %}

                <button name="pregunta" value="{{pregunta.id_pregunta}}" type="submit" class ="pull-right btn btn-success btn-xs">
                  Cerrar pregunta
                </button>
                <br>

              </form>

            {% endif %}
          {% endif %}

          <!-- - Comprueba si el usuario es quien formuló la pregunta o si es staff para poder eliminarla -->

          {% if pregunta.id_usuario_fk_id.id_usuario == id_usuario or request.user.is_staff == 1 %}
              <form action="" method="post">
                {% csrf_token %}

                  <a data-toggle="modal" href="#eliminar_modal" id="eliminar_button" class="pull-right btn btn-danger btn-xs">
                    Eliminar
                  </a>

              </form>

            <!-- INICIA Modal Eliminar pregunta-->
            <div class="modal fade" id="eliminar_modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">

                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eliminar Pregunta</h4>
                  </div>

                  <div class="modal-body" style="text-align:center">

                  <h6>
                    <p>¿Estás seguro de eliminar la pregunta?
                        La operación no se puede deshacer.</p>
                  </h6>

                  <form id="eliminar_pregunta" method="post" action="eliminar_pregunta">
                    {% csrf_token %}

                    <input type="hidden" name="id_pregunta" value="{{ pregunta.id_pregunta }}">
                    <input type="submit" class="btn btn-danger" value="Eliminar">

                    <button class="btn btn-primary" data-dismiss="modal">
                      Cancelar
                    </button>

                  </form>

                </div>
              </div>
            </div>
          </div>

          <!-- CIERRA Modal Eliminar pregunta -->
          {% endif %}

          <p>{{ pregunta.id_categoria_fk_id.nombre }}</p>
          <h4>{{ pregunta.pregunta }}</h4>
          <p>
            {% for tag in pregunta.tags.all %}
                #{{ tag }}
            {% endfor %}
          </p>

        </th>
      </tr>
    </thead>

    <tbody class="searchable">

      {% for respuesta in respuestas %}
        <tr class=" success">
          <td style="background-color:#FFFFFF; border-bottom-width: 5px;">

            <ul class="list-group">
              <li class="list-group-item">
                {{ respuesta.respuesta }}
                <br><br>
                {% csrf_token %}

                <span>{{ respuesta.numero_votos }} votos</span>

                <a class="label label-primary boton_calif" href="javascript:calificarPost({{ respuesta.id_respuesta}})" id='{{respuesta.id_respuesta}}'  style='display:inline;'>
                  votar
                </a>
                <a class="label label-primary boton_calif" id='{{respuesta.id_respuesta}}cp'  style='display:none;'>
                  respuesta votada
                </a>
                {% for voto in votos %}
                  {%if voto.id_usuario_fk_id_id == id_usuario and voto.id_respuesta_v_id == respuesta.id_respuesta %}

                  <script type="text/javascript">
                    function mostrar(){
                      document.getElementById('{{respuesta.id_respuesta}}').style.display = 'none';
                        document.getElementById('{{respuesta.id_respuesta}}cp').style.display = 'inline';
                    }
                      mostrar()
                    </script>
                {% endif%}

                {% if pregunta.estado == 0 %}
                <script type="text/javascript">
                  function mostrar(){
                    document.getElementById('{{respuesta.id_respuesta}}').style.display = 'none';
                      document.getElementById('{{respuesta.id_respuesta}}cp').style.display = 'none';
                  }
                    mostrar()
                  </script>
                {% endif%}
                {% endfor%}

                {% if respuesta.id_usuario_fk_id.id_usuario == id_usuario or request.user.is_staff == 1 %}
                  <a style="color:red;" href="javascript:eliminarPost({{ respuesta.id_respuesta}})" class="boton_eliminar" id='{{respuesta.id_respuesta}}elm'>
                    Eliminar
                  </a>
                {% endif %}

                {% if pregunta.estado == 0 %}
                <script type="text/javascript">
                  function mostrar2(){
                    document.getElementById('{{respuesta.id_respuesta}}elm').style.display = 'none';
                  }
                    mostrar2()
                  </script>
                  {% endif%}

              </li>
            </ul>

          </td>
        </tr>

        {% endfor %}

        {% if alerta == 'No se escribio respuesta' %}
          <tr class=" success">
            <td style="background-color:#F5A9BC; border-bottom-width: 5px;">
              <p style="color:red;">{{ alerta }}</p>
            </td>
          </tr>
        {% endif %}

        <tr class=" success">
          <td style="background-color:#FFFFFF; border-bottom-width: 5px;">

            {% if pregunta.estado == 1 %}
            <table>
              <form action="" method="post">
                {% csrf_token %}

                <tr width: "100%">
                  {% for campo in form %}
                    {{ campo }}
                  {% endfor %}
                </tr>

                <tr></br></tr>

                  <tr style="text-align:right">
                    <td style="width:5%">
                        <button style="text-align:right" type="submit" class="btn btn-success btn-xs">
                          Enviar
                        </button>
                    </td>
                  </tr>

              </form>
            </table>
            {% endif %}
          </td>

        </tr>

    </tbody>
  </table>
</div>


</div>
<div>
  <a href="{% url 'foro' %}" class="btn btn-danger">
    Regresar
  </a>
</div>

<form action="{% url 'eliminar_respuesta_post'%}" name="formulario" method="POST">
  {% csrf_token %}
  <input type="hidden" value="" name="id_respuesta">
</form>

<form action="{% url 'calificar_respuesta'%}" name="calificar" method="POST">
    {% csrf_token %}
    <input type="hidden" value="" name="id_respuesta">
</form>

<script language="JavaScript">
  function eliminarPost(id){
      if (confirm('¿Estás seguro de que quieres eliminar la respuesta?')){
          var form= document.formulario;
          form.id_respuesta.value=id;
          form.submit();
      }
  }

  function calificarPost(id){
    var form= document.calificar;
    form.id_respuesta.value=id;
    form.submit();
  }
</script>

<style type="text/css">
    .boton_eliminar{
        text-decoration: none;
        color: black;
        float: right;
    }
</style>

{% endblock %}
