{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}

{% block menu %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <STRONG><font size="2">NORMATIVIDAD</font></STRONG>
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
        <li><a href="{% url "mostrar_normatividad" %}">Descargar Normatividad</a></li>
        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
    </ul> 
{% endblock %}

{% block panico %}
    <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
{% endblock %}

{% block titulo %}    
    Activar Alerta
{% endblock%}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}


{% block contenido %}
    {% if user.is_authenticated and request.user.is_active and not request.user.is_staff == 1 %}
        
        {% if number_error %}
            <div class="alert alert-danger col-md-4">
                <strong>¡Error!</strong> {{ number_error }}.
            </div>
        {% endif %}

        <div id="error_repetido"></div>

        <div class="col-md-12">
            <input id="btn-panico" type="button" class="element">
        </div>    

        <div id="seccion_agregar_contactos"></div>

        <div id="tabla_contactos"></div>

        <script>
            var countDown = 15;
            var botonActivado = false;
            var x = null;
            var latitud = 0;
            var longitud = 0;

            function mostrarAgregarContactos() {
                $.get("{% url 'insertar_contactos' %}","",function(data){
                    $("#seccion_agregar_contactos").html(data);
                });
            }

            function loadTabla() {
                $.get("{% url 'obtener_contactos' %}","",function(data){
                    $("#tabla_contactos").html(data);
                });
            }

            function loadAlarmaButton() {
                $.get("{% url 'alerta' %}", 
                    {
                        'matricula': "{{ matricula }}",
                        'operacion': 'obtener'
                    },
                    function(data){
                        if(data == 'ALARMA ACTIVA') {
                            botonActivado = true;
                            countDown = 0;
                            $("#btn-panico").val("CANCELAR");
                            $("#btn-panico").css(
                                {"backgroundColor": "#5fef19"}      
                            );
                        } else {
                            $("#btn-panico").val("ACTIVAR");
                            $("#btn-panico").css(
                                {"backgroundColor": "#ef473a"}      
                            );
                        }
                    }
                );
            }

            function obtenPosicion() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(actualizaPosicion);
                } 
            }

            function actualizaPosicion(position) {
                latitud = position.coords.latitude;
                longitud = position.coords.longitude;  
            }

            mostrarAgregarContactos();
            loadTabla();
            loadAlarmaButton();


            $('#btn-panico').click(function(e) {
                $('#error_repetido').html('');
                if(!botonActivado) {
                    obtenPosicion();
                    $("#btn-panico").css(
                        {"backgroundColor": "#fe9813"},
                        {"fontSize": "70px"}                
                    );
                    countDown = 15;
                    $("#btn-panico").val(countDown--);
                    botonActivado = true;
                    x = setInterval(function() {
                        $("#btn-panico").val(countDown);
                        if (countDown == 0) {
                            $.post("{% url 'alerta' %}", 
                                { 
                                    'matricula': "{{ matricula }}",
                                    'latitud': latitud,
                                    'longitud': longitud,
                                    csrfmiddlewaretoken: "{{ csrf_token }}"
                                }
                            ,function(data){
                            });
                            clearInterval(x);
                            $("#btn-panico").val("CANCELAR");
                            $("#btn-panico").css(
                                {"backgroundColor": "#5fef19"},
                                {"fontSize": "25px"}                
                            );
                            window.location.href = "{% url 'logout_user' %}"
                            return;
                        }
                        countDown--;
                    }, 1000);
                } else {
                    if(countDown == 0) {
                        $.get("{% url 'alerta' %}", 
                            {
                                'matricula': "{{ matricula }}",
                                'operacion': 'detener'
                            },
                            function(data){
                            }
                        );
                    }

                    clearInterval(x);
                    botonActivado = false;
                    $("#btn-panico").val("ACTIVAR");
                    $("#btn-panico").css(
                        {"backgroundColor": "#ef473a"},
                        {"fontSize": "25px"}                
                    );

                }
            });
        </script>

    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url 'inicio' %}"><i></i>ir a inicio</a>
    {% endif %}
    <style>
        .element {
            margin: 0 auto;
            display: block;
            border: 3px solid black;
            font-size: 25px;
            font-weight: bold;
            box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.7);
            height: 200px;
            width: 200px;
            border-radius: 100%;
            background-color: #ffffff;
            outline: none;
            animation-name: stretch;
            animation-duration: .8s;
            animation-timing-function: ease-out;
            animation-delay: 0s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-fill-mode: none;
            animation-play-state: running;
        }

        @keyframes stretch {
            0% {
                transform: scale(.7);
            }
            100% {
                transform: scale(.8);
            }
        }

        .dropdown-menu2 {
            margin-right: 60px;
            top: -10px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
    </style>
    

{% endblock%}
