{% if not contactos.count >= 3 %}
    <!-- Boton Despliega Modal Agregar Contacto -->
    <div class="col-md-12">
        <a data-toggle="modal" href="#agregar_modal" id="agregar_button" class="btn btn-primary">Agregar</a>
    </div>
                
    <!-- INICIA Modal Agregar Contacto-->
    <div class="modal fade" id="agregar_modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Contacto</h4>
                </div>

                <div class="modal-body">

                    <form id="agregar_contacto">

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Nombre</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="nombre"
                                    maxlength="30" 
                                    placeholder="Juan Pérez"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Número</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    name="numero" 
                                    pattern="[0-9]{10}" 
                                    maxlength="10" 
                                    placeholder="4929229458" 
                                    required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- CIERRA Modal Agregar Contacto -->
    <script>
    $('#agregar_button').click(function() {
        $('#error_repetido').html('');
    });

    function submitFormCreate() {
        $.get("{% url 'insertar_contactos' %}",$("#agregar_contacto").serialize(),function(data){
            if(data == "REPETIDO") {
                $('#error_repetido').html(
                    '<div class="alert alert-danger col-md-4">' +
                        '<strong>¡Error!</strong> Número repetido.' +
                    '</div>'
                );
            }

            loadTabla();
            mostrarAgregarContactos();
        });
        $('#agregar_modal').modal('hide');
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
    }

    $(function () {
        $('#agregar_contacto').validate({
            rules: {
                nombre: {
                    required: true,
                },
                numero: {
                    required: true,
                    number: true,
                    rangelength: [10, 10]
                }
            },
            messages: {
                nombre: "Ingrese el nombre",
                numero: {
                    required: "Ingrese el teléfono",
                    number: "Ingrese un teléfono válido",
                    rangelength: "Ingrese un teléfono válido"
                }
            },
            submitHandler: function() {
                $('#error_repetido').html('');
                submitFormCreate();
            }
        });
    });

    </script>
    <style type="text/css">
    #numero-error, #nombre-error {
        font-size: 12px;
        display: block;
        margin-top: 5px;
        font-weight: normal;
        color: #F44336;
        font-family: 'Roboto', Arial, Tahoma, sans-serif;
    }
    </style>

{% endif %}