{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}


{% block menu %}
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <STRONG><font size="2">NORMATIVIDAD</font></STRONG>
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
        <li><a href="{% url "mostrar_normatividad" %}">Descargar Normatividad</a></li>
        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
    </ul> 
{% endblock %}

{% block panico %}
    <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
{% endblock %}

{% block titulo %}    
    Califica a tu clínica: {{ clinica.nombre_unidad }}
    <br>
    <br>
    {% if alerta_error_cal != null %}
        <div class="alert alert-danger" action ="{% url "inicio_pasante" %}"> {{alerta_error_cal}} </div>
    {% endif %}
    
    {% if alerta_error != null %}
        <div class="alert alert-danger" action ="{% url "inicio_pasante" %}"> {{alerta_error}} </div>
    {% endif %}

    {% if alerta_exito != null %}
        <div class="alert alert-success" action ="{% url "inicio_pasante" %}"> {{alerta_exito}} </div>
        <script>
            setTimeout(function () {
                window.location = '../inicio';
            }, 3000)
        </script>
    
     
    {% endif %}
{% endblock%}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}
            <form method="POST">
                {% csrf_token %}
                <script src="/static/js/bootstrap-rating-input.min.js"></script>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form_seguridad.as_p }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_infraestructura.as_p }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_comunicacion.as_p }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_personal.as_p }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_comunidad.as_p }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_general.as_p }}
                        
                        <a class="btn btn-danger btn-lg" href="{% url "inicio_pasante" %}" style="left: 290px;">
                                Cancelar
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg" style="left: 310px;">
                            Guardar
                        </button>
                        
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
