{% extends 'base.html' %}

{% load filtros %}
{% load staticfiles %}

{% if no_info == "No hay clinicas calificadas." %}
<div class="alert alert-danger" action ="{% url "inicio" %}">{{no_info}}</div>
{% endif %}

{% block titulo %}

    Catálogo de Clínicas
                <br>
                <br>


{% endblock %}

{% block menu %}
    {% for i in activo %}
        {% if tiene_datos and i.status == "activo" %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>
        {% endif %}
    {% endfor %}
    {% if tiene_datos == False %}
        {%if fecha_inicio <= fecha_hoy and  fecha_fin >=  fecha_hoy %}
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">PASANTE</font></STRONG>
            <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "registrar_pasante" %}">Registrar datos pasante</a></li>
                </ul>
       {% endif %}
    {% endif %}

{% endblock %}

{% block panico %}
    {% for i in activo %}
        {% if tiene_datos and i.status == "activo" %}
            <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% if no_info == "No hay clinicas que mostrar." %}
            <div class="alert alert-success" action ="{% url "inicio" %}">{{no_info}}</div>
{% endif %}

<h1>Catálogo de Clínicas</h1>

<br>
<br>



  
{% block imagen %}
    width: 100%;
    height: 100%;

    background-image: url(/static/img/bodybg/bg1.png);



    background-attachment: fixed;
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
    <a href="{% url "inicio" %}"><i ></i>ir a inicio</a>
    {% elif request.user.is_staff == 0 %}

{% if exito != null %}
  <div class="alert alert-success">{{exito}}</div>
{% endif %}

{% if no_info != null %}
    <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{no_info}}</div>
{% endif %}
<script type="text/javascript">
    function eliminar(id){

    var form = document.formEliminarInfo;
    form.eliminar.value = id;
    form.submit();
    }

    /*function verRespuesta(ruta) {
        document.getElementById('norm-view').innerHTML = '<object data="/media/' + ruta + '" type="application/pdf" width="100%" height="100%">\n' +
            '                    </object>';
    }*/
</script>
<style type="text/css">
    #inner {
        overflow: hidden;
        width: 1145px;
        margin: 10px;
        border: 2px solid green;
    }

    .divimagen{
        text-align: left;
        width: 200px;
        padding:25px 0;
        margin: 0 auto;
        flex-direction: row;


    }
     .divtitulo{
        margin: 0 auto;
        width: 200px;
        height: 200px;
        width: 100px;
        height: 20px;
        margin: 1px;

         
    }

    .divinformacion{
        margin: 10 auto;
        text-align: right;
        width: 200px;
        display:flex;
        display:inline; position:relative; margin:5px;
        
    }
    #container {
    background-color: red;
    overflow: hidden;
    width: 2000px;
    
    }

    .child {
    float: left;
    width: 285px;
    height: 125px;
    background-color: white;

    
    }

    .div1{
        display:inline; position:relative; margin:5px;
        margin: 10px;
        background-color: white;
        style:"float";
        width: 1200px;
        display:flex;
        justify-content: space-between space-around
    }

</style>

    <table class="table" id="table">

{% for i in calificacion %}
                
                    <tr>
                    <th>
                            <div id="inner">
                            <div class="child">
                            <left>
                                <IMG SRC="/../../media/{{ i.id_clinica_fk.docfile }}"
                                     class="img-circle"
                                     alt="Cinque Terre" style="width: 10em;
                                                               height: 10em;
                                                               background-position: center center;
                                                               background-repeat: no-repeat;">
                            </left>
                           
                        </div>
                        
                        <div class="child">
                                <center>
                                        <strong>{{i.id_clinica_fk.id_institucion_fk.nombre_institucion}}</strong> 
                                        <strong>{{i.id_clinica_fk.nombre_unidad}}</strong> </br> 
                                        <br>
                                        <strong>Localidad:</strong> {{i.id_clinica_fk.id_direccion_fk.localidad}}
                                    </br>
                                     {{i.id_clinica_fk.id_direccion_fk.municipio.nombre}},   
                                     {{i.id_clinica_fk.id_direccion_fk.estado.nombre}}
                                      
                                    </center>  
                                           
                       </div> 
                                
                         <div class="child">
                                <center>
                                        <strong> Calificación General:  </strong>
                                    </br> 
                                          
                                            {{ i.promedio }}         
                                            </br>  
                                       
                                        <strong>Observación:</strong> </br>                                        
                                        {{i.id_clinica_fk.observacion}}
                                        </br>  
                                     
                                   </center>      
                        </div>                            
                            
                                <center>

                                <div class="child">  
                                      <br>
                                      <br>
                                        <button class="btn btn-primary" type="button"  role="button" aria-expanded="false"
                                        onclick="location.href='{% url "mostrar_clinica_pasante" i.id_clinica_fk.id_clinica%}'">
                                            Ver Información 
                                        </button>
                                    </center>                                                                         
                                </div>               
                    
                    </th>
                    </tr>
                   
                {% endfor %}
            </div>   

       
            
        {% endif %}
       

    {% endif %}




{% endblock%}
