{% if contactos %}
    <table class="table" style="white-space: nowrap;">
        <thead>
            <tr>
                <!--<th>#</th>-->
                <th>Nombre</th>
                <th>Número</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contacto in contactos %}
                <tr>
                    <!--<th>{{ forloop.counter }}</th>-->
                    <td>{{ contacto.nombre }}</td>
                    <td>{{ contacto.numero }}</td>
                    <td>
                        <div>
                            <a  href="#" 
                                data-id="{{contacto.id_contacto}}" 
                                class="btn btn-primary btn-edit">
                                Modificar
                            </a>
                        </div>
                        <div>
                            <a 
                                href="#" 
                                data-id="{{contacto.id_contacto}}" 
                                class="btn btn-danger btn-delete" style="margin: 0.5em;">
                                Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- INICIA Modal Editar Contacto-->
    <div class="modal fade" id="editar_modal" tabindex="1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modificar Contacto</h4>
                </div>

                <div class="modal-body">
                    <div id="form-edit"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- CIERRA Modal Editar Contacto -->

{% else %}
    <div class="row">
        <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
            No hay contactos de emergencia.
        </div>
    </div>
{% endif %}

<script>
$(".btn-edit").click(function(){
    $('#error_repetido').html('');
    id = $(this).data("id");
    $.get("{% url 'editar_contactos' %}","id="+id,function(data){
        $("#form-edit").html(data);
        $('#editar_modal').modal('show');
    });
});

$(".btn-delete").click(function(e){
    $('#error_repetido').html('');
    e.preventDefault();
    p = confirm("¿Estás seguro de querer eliminar el contacto?");
    if(p){
        id = $(this).data("id");
        $.get("{% url 'borrar_contactos' %}","id="+id,function(data){
            loadTabla();
            mostrarAgregarContactos();
        });
    }
});     
</script>