{% extends 'base.html' %}


{% block menu %}
	{% for i in activo %}
		{% if tiene_datos and i.status == "activo" %}
			<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>
		{% endif %}
	{% endfor %}
	{% if tiene_datos == False %}
        {%if fecha_inicio <= fecha_hoy and  fecha_fin >=  fecha_hoy %}
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">PASANTE</font></STRONG>
			<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="{% url "registrar_pasante" %}">Registrar datos pasante</a></li>
				</ul>
	   {% endif %}
    {% endif %}

{% endblock %}

{% block panico %}
    {% for i in activo %}
        {% if tiene_datos and i.status == "activo" %}
            <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block foro %}
{% if contPregPendExp == -1 %}
    {% for i in activo %}
        {% if tiene_datos and i.status == "activo" %}
	        <li class="active" ><a href="{% url "foro" %}" style="margin-top: 1;"><STRONG><font size="2">FORO</font></STRONG></a></li>
        {% endif %}
    {% endfor %}
{% else %}
	<li>
	<a class="btn notificaton-btn badge-top-right" style="line-height: 1px; color: black" id="notif-preg-pend-exp" data-count={{ contPregPendExp }} href="{% url "foro" %}">Foro</a>
	</li>
{% endif %}
{% endblock %}

{% block inicio %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
    <a href="{% url "inicio" %}"><i ></i>ir a inicio</a>
    {% elif request.user.is_staff == 0 %}
        <section id="intro" class="intro" style="height: 570px;">
        {% if funcion != null %}

    <div class="alert alert-success" action ="{% url "inicio_pasante" %}">{{funcion}}</div>

    {% endif %}
        <div class="intro-conten">
            <div class="container">

                <div class="row" style="padding-top: 70px;">
                    <div class="col-lg-6">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                    <h2 class="h-ultra" style="color:#fdf3f3">Sistema de Servicio Social </h2>
                    </div>
                    <div class="wow fadeInUp" data-wow-offset="0" data-wow-delay="0.1s">
                    <h4 class="h-light" style="color:#fdf3f3">Medicina Humana UAZ </h4>
                    </div>
                    <div id="DivEsconder" class="modal-block modal-header-color modal-block-info">
						<section class="panel">
							<div class="panel-body">
								<div class="modal-wrapper">
									<div class="modal-icon">
										<i class="fa fa-info-circle"></i>
									</div>
									<div class="modal-text">
										<h4>Foro</h4>
										{% if texto|length == 0 %}
										<p>
											No hay preguntas respondidas
										</p>
										{% else %}
											<p>
											{% for txt in texto %}
												- Tu pregunta {{txt.pregunta}} Fue respondida </br>
											{% endfor %}
											</p>
										{% endif %}
									</div>
								</div>
								<div class="col-md-12 text-right">
									<button class="btn btn-info modal-dismiss" id="Botones">OK</button>
								</div>
							</div>
						</section>
					</div>
                    </div>
                    <div class="col-lg-6" >
                           {%if habilitar_clinica%}
                        <div class="alert alert-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <a class="alert alert-danger" href="{% url "calificar_clinica" %}"><Strong>Debes realizar la calificación de la clinica</Strong></a>

                    </div>
                    {%endif%}
                        <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

{% else %}
{% endif %}
	<style type="text/css">
		.modal-wrapper {
			position: relative;
			padding: 25px 0;
		}
		.modal-icon {
			float: left;
			width: 5%;
			text-align: center;
		}
		.modal-text{
			padding: 0;
		}
		.modal-block {
			background: transparent;
			padding: 0;
			text-align: left;
			max-width: 100%;
			position: relative;
		}
		.modal-block-info{
			color: black;
		}


		.panel {
			background: transparent;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			/* WHY?
			+ .panel {
				margin-top: 10px;
			}*/;
		}
		.panel-heading {
			background: #f6f6f6;
			border-radius: 1px 1px 0 0;
			border-bottom: 1px solid #DADADA;
			padding: 18px;
			position: relative;
		}
		.panel-title {
			color: #33353f;
			font-size: 10px;
			font-weight: 400;
			line-height: 5px;
			padding: 0;
			text-transform: none;
		}
		.panel-body {
			background: #fdfdfd;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
			border-radius: 1px;
		}
		.panel-footer {
		}
	</style>

	{% load staticfiles %}
	<script src="{% static 'js/alerta.js' %}"></script>


{% endblock%}
