{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}
            Calificación clínica
            <br>
            <br>


        {% else %}
        {% endif %}
    {% else %}
    {% endif %}


{% endblock %}

{% block menu %}

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>



{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %} 
 <table class="table" id="mytable"
                               style="background-color:#FFFFFF;width:100%"
                               data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc"                    
    <thead>
      <tr>
        <th scope="col">Rubro</th>
        <th scope="col">Calificación</th>       
      </tr>
    </thead>
    <tbody>
      <tr>        
        {% for cal1 in seguridad %}
        <td>Seguridad</td>
        <td>{{cal1.promedio}}</td>
      </tr>
      {% endfor %}
      <tr>        
        {% for cal2 in infraestructura %}
        <td>Infraestructura</td>
        <td>{{cal2.promedio}}</td>
      </tr>
      {% endfor %}
      <tr>        
        {% for cal3 in comunicacion %}
        <td>Comunicacion</td>
        <td>{{cal3.promedio}}</td>
      </tr>
      {% endfor %}
      <tr>        
        {% for cal4 in personal %}
        <td>Personal</td>
        <td>{{cal4.promedio}}</td>
      </tr>
      {% endfor %}
      <tr>        
        {% for cal5 in comunidad %}
        <td>Comunidad</td>
        <td>{{cal5.promedio}}</td>
      </tr>
      {% endfor %}
      <tr>        
        {% for cal6 in general %}
        <td>General</td>
        <td>{{cal6.promedio}}</td>
      </tr>
      {% endfor %}
      <tr>        
            {% for cal7 in promedio_general %}
            <td>Promedio General</td>
            <td>{{cal7.promedio}}</td>
          </tr>
          {% endfor %}
      
      
      
    </tbody>
  </table>

  <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
                    <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css" />
                    <link rel="stylesheet" type="text/css" href="{% static "plugins/cubeportfolio/css/cubeportfolio.min.css"%}">
                    <link href="{% static "css/nivo-lightbox.css"%}" rel="stylesheet" />
                    <link href="{% static "css/nivo-lightbox-theme/default/default.css"%}" rel="stylesheet" type="text/css" />
                    <link href="{% static "css/owl.carousel.css"%}" rel="stylesheet" media="screen" />
                    <link href="{% static "css/owl.theme.css"%}" rel="stylesheet" media="screen" />
                    <link href="{% static "css/animate.css"%}" rel="stylesheet" />
                    <link href="{% static "css/style.css"%}" rel="stylesheet">
                    <link href="{% static "css/barra_menus.css"%}" rel="stylesheet">
                    <link href="{% static "css/roles.css"%}" rel="stylesheet">
                    <link href="{% static "plugins/datepicker/bootstrap-datepicker.min.css"%}" rel="stylesheet">
                    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>

                      <!-- boxed bg -->
                      <link id="bodybg" href="{% static "bodybg/bg1.css"%}" rel="stylesheet" type="text/css" />
                      <!-- template skin -->
                      <link id="t-colors" href="{% static "color/default.css"%}" rel="stylesheet">

                       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

{% endif %}
    {% else %}
    {% endif %}    
{% endblock %}                  