{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}
            Información clínica
            <br>
            <br>

            {% if alerta_exito != null %}
                <div class="alert alert-success" action ="{% url "inicio_pasante" %}"> {{alerta_exito}} </div>
            {% endif %}


        {% else %}
        {% endif %}
    {% else %}
    {% endif %}

{% endblock %}

{% block menu %}

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>



{% endblock %}

{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}        
                               
            </div>
                <div class="container"
                     style="display: block; height: 170px; overflow-y: hidden;
                     overflow-x: hidden;">

                
                    <div class="table-responsive" style="height: 100%">
                    <center>
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;width:95%"
                               data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc"
                               > 
                            <thead>
                            <tr >
                                <th>
                                    <center>Foto</center>
                                </th>

                                <th style="width:10em;word-wrap:break-word;">
                                    <center>Nombre</center>
                                </th>
                                <th>
                                    <center>Plaza </center>
                                </th>
                                <th>
                                    <center>Complemento </center>
                                </th>
                                <th style="width:10em;word-wrap:break-word;">
                                    <center>Observacion</center>
                                </th>
                                <th>
                                    <center>Institución </center>
                                </th>
                                <th>
                                    <center>Estatus</center>
                                </th>
                                <th>
                                    <center>Localidad</center>
                                </th>
                                <th>
                                    <center>Municipio</center>
                                </th>
                                <th>
                                    <center>Estado</center>
                                </th>
                                                                                             
                            </thead>
                            <tbody>
                           
                                <tr>                                    
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            <IMG SRC="/../../media/{{ clinica.docfile }}"
                                                 class="img"
                                                 alt="Cinque Terre" style="width: 6em;
                                                                           height: 6em;
                                                                           background-position: center center;
                                                                           background-repeat: no-repeat;">
                                                                       </IMG>
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;" >
                                        <center>
                                            {{ clinica.nombre_unidad }}                                            
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ clinica.plaza_fed }}
                                        </center>
                                    </td>   
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;" >
                                        <center>
                                            {{ clinica.complemento}}                                            
                                        </center>
                                    </td> 
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;" >
                                        <center>
                                            {{ clinica.observacion }}                                            
                                        </center>
                                    </td> 
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                         <center>
                                            {{clinica.id_institucion_fk.nombre_institucion}}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;" >
                                        {% if clinica.status == 1 %}
                                             <center>
                                                Activa
                                                </center>
                                        {% else %}
                                                <center>
                                                Inactiva
                                                </center>
                                        {% endif %}
                                    </td>  
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{clinica.id_direccion_fk.localidad}}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{clinica.id_direccion_fk.municipio.nombre}}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{clinica.id_direccion_fk.estado.nombre}}
                                        </center>
                                    </td>
                                </tr>                            
                            </tbody>
                        </table>        
                    </center>
                </div>
            </div>
                    <style type="text/css">
                        /* Style the tab */
                    .tab {
                            overflow: hidden;
                            border: 1px solid #ccc;
                            background-color: #f1f1f1;
                            }

                        /* Style the buttons that are used to open the tab content */
                    .tab button {
                            background-color: inherit;
                            float: left;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            padding: 14px 16px;
                            transition: 0.3s;
                                }

                        /* Change background color of buttons on hover */
                    .tab button:hover {
                            background-color: #ddd;
                                    }

                        /* Create an active/current tablink class */
                    .tab button.active {
                            background-color: #ccc;
                                    }

                        /* Style the tab content */
                    .tabcontent {
                            display: none;
                            padding: 6px 12px;
                            border: 1px solid #ccc;
                            border-top: none;
                                }
                    </style>

                    <div class="tab" >
                        <button class="tablinks" onclick="location.href='{% url "mostrar_calificacion" clinica.id_clinica %}'">Calificacion</button>
                        <button class="tablinks" onclick="location.href='{% url "comentarios_clinica_pasante" 6 clinica.id_clinica%}'">Comentarios</button>
  
                    </div>

<!-- Tab content -->
            <div id="Calificacion" class="tabcontent">
              <table class="table" id="mytable2"
 				style="background-color:#FFFFFF;width:100%"
 				data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc">
    			<thead>
      				<tr>
        				<th scope="col">Rubro</th>
        				<th scope="col">Calificación</th>       
      				</tr>
    			</thead>
    			<tbody>
      				<tr>        
        				{% for cal1 in seguridad %}
        				<td>Seguridad</td>
        				<td>{{cal1.promedio}}</td>
        				{% endfor %}
      				</tr>
      				<tr>        
        				{% for cal2 in infraestructura %}
        				<td>Infraestructura</td>
        				<td>{{cal2.promedio}}</td>
        				{% endfor %}
      				</tr>
      				<tr>        
        {% for cal3 in comunicacion %}
        <td>Comunicacion</td>
        <td>{{cal3.promedio}}</td>
        {% endfor %}
      </tr>
      <tr>        
        {% for cal4 in personal %}
        <td>Personal</td>
        <td>{{cal4.promedio}}</td>
        {% endfor %}
      </tr>
      <tr>        
        {% for cal5 in comunidad %}
        <td>Comunidad</td>
        <td>{{cal5.promedio}}</td>
        {% endfor %}
      </tr>
      <tr>        
        {% for cal6 in general %}
        <td>General</td>
        <td>{{cal6.promedio}}</td>
        {% endfor %}
      </tr>
      <tr>        
        {% for cal7 in promedio_general %}
        <td>Prom General</td>
        <td>{{cal7.promedio}}</td>
        {% endfor %}
      </tr>                  
    </tbody>
  </table>
            </div>

            <div id="Comentarios" class="tabcontent">            
                    
            </div>
                    </div>  
            
            <script type="text/javascript">
                  function openO(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
} 
              </script> 

                   


                <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
                    <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css" />
                    <link rel="stylesheet" type="text/css" href="{% static "plugins/cubeportfolio/css/cubeportfolio.min.css"%}">
                    <link href="{% static "css/nivo-lightbox.css"%}" rel="stylesheet" />
                    <link href="{% static "css/nivo-lightbox-theme/default/default.css"%}" rel="stylesheet" type="text/css" />
                    <link href="{% static "css/owl.carousel.css"%}" rel="stylesheet" media="screen" />
                    <link href="{% static "css/owl.theme.css"%}" rel="stylesheet" media="screen" />
                    <link href="{% static "css/animate.css"%}" rel="stylesheet" />
                    <link href="{% static "css/style.css"%}" rel="stylesheet">
                    <link href="{% static "css/barra_menus.css"%}" rel="stylesheet">
                    <link href="{% static "css/roles.css"%}" rel="stylesheet">
                    <link href="{% static "plugins/datepicker/bootstrap-datepicker.min.css"%}" rel="stylesheet">
                    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet"/>

                      <!-- boxed bg -->
                      <link id="bodybg" href="{% static "bodybg/bg1.css"%}" rel="stylesheet" type="text/css" />
                      <!-- template skin -->
                      <link id="t-colors" href="{% static "color/default.css"%}" rel="stylesheet">

                       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>



        {% else %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}
    {% else %}
    {% endif %}    
{% endblock %}
