{% extends 'base.html' %}
{% load filtros %}

{% load staticfiles %}

{% block titulo %}
{% if user.is_authenticated %}
    {% if request.user.is_active %}

Archivos de Normatividad

<br>
<br>



    {% else %}

    {% endif %}

{% else %}

{% endif %}

{% endblock%}
{% block imagen %}
    width: 100%;
    height: 100%;
    
    background-image: url(/static/img/bodybg/bg1.png);
    
    
    
    background-attachment: fixed;
{% endblock %}
{% block contenido %} 
{% if user.is_authenticated %}
    {% if request.user.is_active %}
<h4 class="h-light"> 
    {% if exito != null %}
      <div class="alert alert-success">{{exito}}</div>
    {% endif %}

    {% if no_info != null %}
        <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{no_info}}</div>
    {% endif %}
</h4>

    <table class="table" id="table">
          
        <div class="panel-group" id="accordion">
        {% for i in info %}
            <tr>
            <th>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                            {{i.nombre_archivo}}</a>
                    </h4>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                    <!--pdf-->
                    <a href="/media/{{i.ruta_archivo}}" style="text-align_center;" target="_blank">{{i.descripcion}}</a>
                </div>
            </div>
            </th>
            
            
        {% endfor %}
        </div>

    </table>
    
    <br>
    <br>


    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

{% else %}

{% endif %}
{% endblock%}
