{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}
{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}
            Mostrar Reportes de Inconformidad
            <br>
            <br>


        {% else %}
        {% endif %}
    {% else %}
    {% endif %}


{% endblock %}

{% block menu %}

			<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>



{% endblock %}

{% block panico %}
        {% if tiene_datos and pasante_p.status == "activo" %}
            <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
        {% endif %}
{% endblock %}



{% block imagen %}
    width: 100%;
    height: 100%;
    background-image: url(/static/img/bodybg/bg1.png);
    background-attachment: fixed;
{% endblock %}

{% block contenido %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}

        {% if comentario_in == "Se agregó exitosamente su comentario" %}
            <div class="alert alert-success" action ="{% url "inicio" %}">{{comentario_in}}</div>
        {% endif %}
        {% if comentario_in == "El campo del comentario no debe ser vacío" %}
            <div class="alert alert-danger" action ="{% url "inicio" %}">{{comentario_in}}</div>
        {% endif %}
                                <style type="text/css">
                                        .btn-negro {
                                          background: rgb(0,0,0);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                        .btn-rojo {
                                          background: rgb(199,0,0);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                        .btn-amarillo {
                                            background: rgb(250,232,2);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: black;
                                        }
                                        .btn-naranja {
                                          background: rgb(250,117,16);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: black;
                                        }
                                        .btn-verde {
                                          background: rgb(40,222,4);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                        .btn-azul {
                                          background: rgb(25,8,158);
                                            width: 100px;
                                            height: 25px;
                                            border-radius: 5px;
                                            border: none;
                                            margin-top: 12px;
                                            margin-left: 7px;
                                            position: relative;
                                            box-shadow: 0 2px 5px rgba(0,0,0,0.4);
                                            text-transform: uppercase;
                                            font-size: 12px;
                                            text-align: center;
                                            font-weight: bold;
                                            color: white;
                                        }
                                    </style>







        <div class="container">
                <h6>Clasificar por Estatus:

                <a class="btn btn-negro btn-xs" href="{% url "reporte_inconformidad_pasante" 1 0%}" style=" font-size: 12px;">
                                                    No Visto
                                                </a>
                <a class="btn btn-rojo btn-xs" href="{% url "reporte_inconformidad_pasante" 2 0%}" style="
                font-size: 12px;">
                                                    Visto
                                                </a>
                <a class="btn btn-amarillo btn-xs" href="{% url "reporte_inconformidad_pasante" 3 0%}" style="color: black; font-size: 12px;">
                                                    Seguimiento
                                                </a>
                <a class="btn btn-naranja btn-xs" href="{% url "reporte_inconformidad_pasante" 4 0%}" style="color: black; font-size: 12px;">
                                                    Atrasado
                                                </a>
                <a class="btn btn-verde btn-xs" href="{% url "reporte_inconformidad_pasante" 5 0%}" style=" font-size: 12px;">
                                                    Resuelto
                                                </a>
                <a class="btn btn-azul btn-xs" href="{% url "reporte_inconformidad_pasante" 6 0%}" style="
                font-size: 12px;">
                                                    Todos
                                                </a>
            </div>

            <div class="container">
                <h6>Clasificar por: <select style="
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px; margin-left: 10px;" onchange="window.location.href=this.value">
                            <option value="-"> - </option>
                            <option value="{% url "reporte_inconformidad_pasante" 0 1 %}">Seguridad</option>
                            <option value="{% url "reporte_inconformidad_pasante" 0 2 %}">Administrativo</option>
                            <option value="{% url "reporte_inconformidad_pasante" 0 3 %}">Escolar</option>
                            <option value="{% url "reporte_inconformidad_pasante" 0 4 %}">Bajas</option>
                            <option value="{% url "reporte_inconformidad_pasante" 0 5 %}">Permisos</option>
                            <option value="{% url "reporte_inconformidad_pasante" 0 6 %}">Infraestructura</option>
                            <option value="{% url "reporte_inconformidad_pasante" 0 7 %}">Otra</option>
                        </select>
                </h6>
            </div>

                <div class="container"
                     style="display: block; height: 450px; overflow-y: inherit;
                     overflow-x: hidden;">
                
                    <style media="screen" type="text/css">

                        @media screen and (max-width: 766px) {
                            .desktop {
                                display: none !important;
                            }
                        }

                        @media screen and (min-width: 768px) {
                            .movil {
                                display: none !important;
                            }
                        }                                        

                    </style>
                
                    <div class="table-responsive desktop" style="height: 100%">
                        <table class="table" id="mytable"
                               style="background-color:#FFFFFF;">
                            <thead>
                            <tr >
                                <th>
                                    <center>Estatus</center>
                                </th>

                                <th>
                                    <center>id</center>
                                </th>
                                <th>
                                    <center>Tipo</center>
                                </th>
                                <th>
                                    <center>Clinica</center>
                                </th>
                                <th>
                                    <center>Nombre</center>
                                </th>
                                <th>
                                    <center>Apellidos</center>
                                </th>
                                <th>
                                    <center>Foto</center>
                                </th>

                                <th></th>

                            </tr>
                            </thead>
                            <tbody class="searchable">
                            {% if reporte|length == 0 %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:50%;">
                                        {% if filtrado %}
                                            No se encuentran registrados reportes del estatus seleccionado
                                        {% elif clasificado %}
                                           No se encuentran registrados reportes del tipo seleccionado
                                        {% else %}
                                            No hay reportes de incoformidad registrados
                                        {% endif %}

                                    </div>
                                </h4>
                            {% endif %}
                            {% for repor in reporte %}
                                <tr>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            <a class=" {% if repor.id_status_fk.id_estatus == 1 %} btn-negro {% elif  repor.id_status_fk.id_estatus == 2 %} btn-rojo {% elif  repor.id_status_fk.id_estatus == 3 %} btn-amarillo {% elif  repor.id_status_fk.id_estatus == 4 %} btn-naranja {% elif  repor.id_status_fk.id_estatus == 5 %} btn-verde {% else %} btn-azul {% endif %} btn-xs" style="padding: 4px 13px; line-height: 2.1; width: 28px; margin-top: 0px;"></a>
                                        </center>
                                    </td>

                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ forloop.counter }}
                                        </center>
                                    </td>

                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                      <center>
                                          {{ repor.id_tipo_inconformidad_FK.nombre }}
                                      </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ repor.id_clinica_fk.nombre_unidad }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ repor.id_pasante_fk.nombre }}
                                        </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                      <center>

                                          {{ repor.id_pasante_fk.apellido_paterno  }} {{ repor.id_pasante_fk.apellido_materno  }}
                                      </center>
                                    </td>
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            <IMG SRC="/../../media/{{ repor.id_pasante_fk.foto }}"
                                                 class="img-circle"
                                                 alt="Cinque Terre" style="width: 6em;
                                                                           height: 6em;
                                                                           background-position: center center;
                                                                           background-repeat: no-repeat;">
                                        </center>
                                    </td>




                                    <style type="text/css">
                                        .dropdown-menu2 {
                                            margin-right: 60px;
                                            top: -10px;
                                            padding-bottom: 0px;
                                            padding-top: 0px;
                                        }
                                    </style>
                                    <td style="border-bottom-width: 0px;    border-left-width: 0px;border-top-width: 0px;border-right-width: 0px;">
                                        <div class="btn-group">
                                            <button type="button"
                                                    class="btn btn-primary dropdown-toggle"
                                                    data-toggle="dropdown">
                                                <span class="glyphicon glyphicon-cog"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right dropdown-menu2"
                                                style="top:-10px;" role="menu">

                                                <li style="height: 20px;">
                                                    <a href="#"
                                                       class="btnAbrirModalVerReporte"
                                                       data-toggle="modal"
                                                       data-target="#modalVerReporte"
                                                       data-id_reporte="{{ repor.id_reporte }}"
                                                       data-reporte="{{  repor.id_pasante_fk.nombre }} {{ repor.id_pasante_fk.apellido_paterno }} {{ repor.id_pasante_fk.apellido_materno }}">
                                                        Ver Inconformidad
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>                

                    <div class="table-responsive movil" style="height: 100%">
                        <table class="table" id="movil"
                               style="background-color:#FFFFFF;">
                            <thead>
                            <tr >
                                <th>
                                    <center>Status</center>
                                </th>
                            
                                <th>
                                    <center>Nombre</center>
                                </th>
                                
                                <th>
                                    <center>Foto</center>
                                </th>

                                <th></th>

                            </tr>
                            </thead>
                            <tbody class="searchable">
                            {% if reporte|length == 0 %}
                                <h4 class="h-light">
                                    <div class="alert alert-danger"
                                         style="width:50%;">
                                        {% if filtrado %}
                                            No se encuentran registrados reportes del estatus seleccionado
                                        {% elif clasificado %}
                                           No se encuentran registrados reportes del tipo seleccionado
                                        {% else %}
                                            No hay reportes de incoformidad registrados
                                        {% endif %}

                                    </div>
                                </h4>
                            {% endif %}
                            {% for repor in reporte %}
                                <tr href="#"
                                    class="btnAbrirModalVerReporte"
                                    data-toggle="modal"
                                    data-target="#modalVerReporte"
                                    data-id_reporte="{{ repor.id_reporte }}"
                                    data-reporte="{{  repor.id_pasante_fk.nombre }} 
                                                    {{ repor.id_pasante_fk.apellido_paterno }}              
                                                    {{ repor.id_pasante_fk.apellido_materno }}">

                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            <a class=" {% if repor.id_status_fk.id_estatus == 1 %} btn-negro {% elif  repor.id_status_fk.id_estatus == 2 %} btn-rojo {% elif  repor.id_status_fk.id_estatus == 3 %} btn-amarillo {% elif  repor.id_status_fk.id_estatus == 4 %} btn-naranja {% elif  repor.id_status_fk.id_estatus == 5 %} btn-verde {% else %} btn-azul {% endif %} btn-xs" style="padding: 4px 13px; line-height: 2.1; width: 28px; margin-top: 0px;"></a>
                                        </center>
                                    </td>                                                                    
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            {{ repor.id_pasante_fk.nombre }}
                                        </center>
                                    </td>                                    
                                    <td style="padding-bottom: 14px;border-bottom-width: 5px;">
                                        <center>
                                            <IMG SRC="/../../media/{{ repor.id_pasante_fk.foto }}"
                                                 class="img-circle"
                                                 alt="Cinque Terre" style="width: 4.5em;
                                                                           height: 4.5em;
                                                                           background-position: center center;
                                                                           background-repeat: no-repeat;">
                                        </center>
                                    </td>                                    
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>                


                </div>



                <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
                      <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css" />
                      <link rel="stylesheet" type="text/css" href="{% static "plugins/cubeportfolio/css/cubeportfolio.min.css"%}">
                      <link href="{% static "css/nivo-lightbox.css"%}" rel="stylesheet" />
                      <link href="{% static "css/nivo-lightbox-theme/default/default.css"%}" rel="stylesheet" type="text/css" />
                      <link href="{% static "css/owl.carousel.css"%}" rel="stylesheet" media="screen" />
                      <link href="{% static "css/owl.theme.css"%}" rel="stylesheet" media="screen" />
                      <link href="{% static "css/animate.css"%}" rel="stylesheet" />
                      <link href="{% static "css/style.css"%}" rel="stylesheet">
                      <link href="{% static "css/barra_menus.css"%}" rel="stylesheet">
                      <link href="{% static "css/roles.css"%}" rel="stylesheet">
                      <link href="{% static "plugins/datepicker/bootstrap-datepicker.min.css"%}" rel="stylesheet">

                      <!-- boxed bg -->
                      <link id="bodybg" href="{% static "bodybg/bg1.css"%}" rel="stylesheet" type="text/css" />
                      <!-- template skin -->
                      <link id="t-colors" href="{% static "color/default.css"%}" rel="stylesheet">


                <script>
                    function resuelveInconformidad() {
                        var form = document.formResuelveInconformidad
                        form.id_reporte.value = document.getElementById("id_ii").value
                        form.submit()
                    }

                    $('.btnAbrirModalVerReporte').click(function () {
                        var modalAsignacion = $('#modalVerReporte');
                        var id_reporte = $(this).data('id_reporte');
                        var nombrePasante = $(this).data('reporte');
                        modalAsignacion.find('.modal-title')
                            .text('Reporte de inconformidad ' );
                        var tbody = modalAsignacion.find('#agregar');
                        //var filaBeca = modalAsignacion.find('#filaBeca');
                        tbody.html('');
                        //filaBeca.html('');
                        $.ajax({
                            url: '/Coordinador/mostrar_reportes_inconformidad/reporte/',
                            type: 'GET',
                            dataType: 'json',
                            data: {
                                id_reporte: id_reporte
                            },
                            success: function (data) {
                                console.log(data);
                                loadVerReporte(data, tbody);
                            },
                            error: function (data) {
                                console.log(data.responseJSON);
                            }
                        });
                    });
                    function loadVerReporte(data, tbody) {
                            //document.getElementById("Estatus").value = data[0].descripcion_estatus;
                            var coment = 0;
                            document.getElementById("id_ii").value = data[data.length - 1].id_reporte;
                            rotRow = $('#clonar').clone();
                            rotRow.attr('id', '');

                            rotRow.find('.nombre').text(data[data.length - 1].nombre_pasante);
                            rotRow.find('.Estatus').text(data[data.length - 1].descripcion_estatus);
                            //rotRow.find('.est').find('#Estatus').value=data[0].descripcion_estatus;
                            rotRow.find('.apellido').text(data[data.length - 1].apellido_pasante);
                            rotRow.find('.matricula').text(data[data.length - 1].matricula_pasante);
                            rotRow.find('.telefono').text(data[data.length - 1].telefono_pasante);
                            rotRow.find('.correo').text(data[data.length - 1].correo_pasante);
                            rotRow.find('.clinica').text(data[data.length - 1].id_clinica_fk);
                            rotRow.find('.localidad').text(data[data.length - 1].localidad);
                            rotRow.find('.descripcion').text(data[data.length - 1].descripcion_inconformidad);
                            rotRow.find('.tipo').text(data[data.length - 1].id_tipo_inconformidad_FK);
                            tbody.append(rotRow);
                            $.each(data, function (index, comentarios) {
                                if (coment === (data.length - 1)) {
                                    return false;
                                }
                                rotRow2 = $('#rowCordinador').clone();
                                if (data[coment].comentarios.es_cordinador) {
                                  console.log("Entro");
                                  rotRow2 = $('#rowCordinador').clone();
                                }else {
                                  rotRow2 = $('#rowPasante').clone();
                                }




                                rotRow2.find('.comentario').text(data[coment].comentarios.comentario);
                                coment = coment + 1;
                                tbody.find('.comentarios_row').append(rotRow2)
                            });




                    }
                    </script>







                    <div class="modal fade scrollable-body-modal" id=""
                         tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                </div>
                                <div class="modal-body" id="">
                                  <table class="table table-rol"
                                         style="background-color:#FFFFFF;">
                                      <tr id="rowCordinador">
                                          <th class="comentario" style="text-align: left;"></th>
                                          <th class=""></th>

                                      </tr>
                                  </table>
                                  <table class="table table-rol"
                                         style="background-color:#FFFFFF;">
                                      <tr id="rowPasante">
                                          <th class=""></th>
                                          <th class="comentario" style="text-align: left;"></th>

                                      </tr>
                                  </table>
                                  
                                  <table class="table table-rol table-striped"
                                         style="background-color:#FFFFFF;" id="clonar">
                                    
                                    <tr id="rowRotVerAsignacion">                                    
                                    	<th>Nombre:</th>
                                	</tr>
                                	<tr>
                                    	<th class="nombre"></th>                                	
                                    </tr>
                                    
                                    <tr id="rowRotVerAsignacion">
                                    	<th>Apellido:</th>
                                    </tr>
                                	<tr>
                                    	<th class="Apellido"></th>
                                    </tr>

                                    <tr id="rowRotVerAsignacion">
                                    	<th>Matrícula:</th>
                                    </tr>
                                	<tr>
                                    	<th class="Matricula"></th>
                                    </tr>

                                    <tr id="rowRotVerAsignacion">
                                    	<th>Télefono:</th>
                                    </tr>
                                	<tr>
                                    	<th class="Telefono"></th>
                                    </tr>

                                    <tr id="rowRotVerAsignacion">
                                    	<th>Correo:</th>
                                    </tr>
                                	<tr>
                                    	<th class="correo"></th>
                                    </tr>

                                    <tr id="rowRotVerAsignacion">
                                    	<th>Nombre Clínica:</th>
                                    </tr>
                                	<tr>
                                    	<th class="clinica"></th>
                                    </tr>

                                    <tr id="rowRotVerAsignacion">
                                    	<th>Localidad:</th>
                                    </tr>
                                	<tr>
                                    	<th class="localidad"></th>
                                    </tr>
                                    
                                    <tr id="rowRotVerAsignacion">
                                    	<th>Descripción Estatus:</th>
                                    </tr>
                                	<tr>
                                    	<th class="Estatus"> </th>
                                    </tr>

                                    <tr id="rowRotVerAsignacion">
                                    	<th>Descripción:</th>
                                    </tr>
                                	<tr>
                                      	<th class="descripcion"></th>
                                    </tr>

                                    <tr id="rowRotVerAsignacion">
                                    	<th>Tipo:</th>
                                    </tr>
                                	<tr>
                                      	<th class="tipo"></th>
                                    </tr>

                                    <tr class="" id="rowrowcomentarios">
                                      	<th>Comentarios:</th>
                                    </tr>
                                	<tr>
                                      	<th class="comentarios_row"></th>
                                    </tr>

                                    <tr class="id_i" id="">
                                      <th><input type="text" name="comment" id="comment" value="" placeholder="Escribe tu comentario"> <input type="hidden" name="id_ii" id="id_ii" value="" class="Agr"> </th>
                                    </tr>
                                	
                                	<tr>
                                      <CENTER>
                                            <th><input type="submit" value="Enviar"></th>
                                      </CENTER>
                                    </tr>

                                  </table>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal">
                                    Cerrar
                                </button>

                            </div>
                        </div>
                    </div>
                    </div>

                    <!-- Modal para ver perfil del pasante [inicio] -->
                    <div class="modal fade scrollable-body-modal" id="modalVerReporte"
                         tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">

                                      <h5 class="modal-title">

                                      </h5>

                                </div>
                                <form action="{% url "agregar_comentario" %}" method="post">
                                  {% csrf_token %}
                                <div class="modal-body" id="agregar">


                            </div>
                            </form>
                            <div class="modal-footer">
                                <button class="btn btn-danger" data-dismiss="modal">
                                    Cerrar
                                </button>
                                <form method="POST" id="formResuelveInconformidad" name="formResuelveInconformidad" action ="{% url "resuelve_reporte_pasante" %}">
                                      {% csrf_token %}
                                      <input type="hidden" name="id_reporte">
                                </form>
                                <button class="btn btn-success" onclick="resuelveInconformidad()">
                                    Resuelto
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>


        {% else %}
            <h1>Error 404 no se encontró la página solicitada</h1>
            <br>
            <a href="{% url "inicio_pasante" %}"><i></i>ir a inicio</a>
        {% endif %}
    {% else %}
    {% endif %}
{% endblock %}
