{% extends 'base.html' %}
{% load filtros %}

{% load staticfiles %}



{% block titulo %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}

    {% elif request.user.is_staff == 0 %}
      Registrar Pasante
<br>
<br>
{% if funcion != null %}

<div class="alert alert-success" action ="{% url "inicio_pasante" %}">{{funcion}}</div>

{% endif %}
{% if boolean %}
<script type="text/javascript">
  
  //setTimeout("redireccionarPagina()", 3000);
  
</script>
{% endif %}
{% if foto != null %}
<div class="alert alert-danger">{{foto}}</div>
{% endif %}
{% if numero_fijo != null %}
<div class="alert alert-danger">{{numero_fijo}}</div>
{% endif %}

{% if numero_movil != null %}
<div class="alert alert-danger">{{numero_movil}}</div>
{% endif %}

{% if promedio_num != null %}
<div class="alert alert-danger">{{promedio_num}}</div>
{% endif %}

{% if promedio_rango != null %}
<div class="alert alert-danger">{{promedio_rango}}</div>
{% endif %}

{% if estados_error != null %}
<div class="alert alert-danger">{{estados_error}}</div>
{% endif %}

{% if municipios_error != null %}
<div class="alert alert-danger">{{municipios_error}}</div>
{% endif %}

{% if curp != null %}
<div class="alert alert-danger">{{curp}}</div>
{% endif %}
{% if rfc != null %}
<div class="alert alert-danger">{{rfc}}</div>
{% endif %}
{% if nombre != null %}
<div class="alert alert-danger">{{nombre}}</div>
{% endif %}
{% if ap != null %}
<div class="alert alert-danger">{{ap}}</div>
{% endif %}
{% if am != null %}
<div class="alert alert-danger">{{am}}</div>
{% endif %}

    {% endif %}

{% else %}
{% endif %}
{% endblock%}
{% block imagen %}
  width: 100%;
  height: 100%;
    
  background-image: url(/static/img/bodybg/bg1.png);
    
  
    
  background-attachment: fixed;
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
    <a href="{% url "inicio" %}"><i ></i>ir a inicio</a>
    {% elif request.user.is_staff == 0 %}
        <script type="text/javascript"> 
function redireccionarPagina() {
  window.location = "/Pasante/inicio/";
  
}

</script>
<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal" >

    {% csrf_token %}

    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Matrícula:</label>
        <div class="col-sm-9">
            <input style="width: 100%;
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px;" value='{{usuario.matricula}}' disabled="">
        </div>
    </div>
    {% for field in form.visible_fields %}
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">{{ field.label }}
            {% if field.field.required %} {% endif %}</label>
        <div class="col-sm-9">
            {{ field|add_clase:"form-control"}}
            
        </div>
    </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
    {{ field }}
    {% endfor %}
	
	<div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Estado: * </label>
        <div class="col-sm-9">
			<select id="estados" name="estados" onchange="llenaMunicipios(this.value)" style="width: 100%;
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px;">
			<option value="vacio">---</option>
			{% for i in estados %}
				<option value="{{i.id_estado}}">{{i.nombre}}</option>
				
			{% endfor %}
			</select>
        </div>
    </div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Municipio: * </label>
        <div class="col-sm-9">
			<select id="municipios" name="municipios" style="width: 100%;
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px;">
			
			
			</select>
        </div>
    </div>
	
	
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Correo Institucional:</label>
        <div class="col-sm-9">
            <input style="width: 100%;
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px;" value='{{usuario.correo_institucional}}' disabled="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="text-align:left;">Correo Electrónico:</label>
        <div class="col-sm-9">
            <input style="width: 100%;
                   height: 34px;
                   padding: 6px 12px;
                   font-size: 14px;
                   line-height: 1.42857143;
                   color: #555;
                   background-color: #fff;
                   background-image: none;
                   border: 1px solid #ccc;
                   border-radius: 4px;" value='{{usuario.correo_electronico}}' disabled="">
        </div>
    </div>
        {% if boolean %}

        {% else %}
          <button type="submit" class="btn btn-primary btn-lg">
              Guardar
          </button>

          <a class="btn btn-info btn-lg" href="{% url "inicio_pasante" %}" style="left: 20px;">
              Cancelar
          </a>
        {% endif %}
    
    <br>
    <br>
</form>
<style type="text/css">
.col-sm-3 {
    width: 100%;
</style>

<script type="text/javascript"> 
	function llenaMunicipios(id_estado){
		document.form.action="/municipio/";
		document.form.submit();
	}

	function llenaMunicipios(id_estado){
	$.ajax({
		data : {'id_estado':id_estado},
		url : 'municipio/',
		type : 'get',
		success: function(data){
			var municipios = document.getElementById('municipios');
			municipios.options.length = 0;
			var opt = document.createElement('option');
			opt.value = "vacio";
			opt.innerHTML = "---";
			municipios.appendChild(opt);
			for (var i = 0; i < data.length; i++) {
          
			   var opt = document.createElement('option');
         if(data[i] != "/"){
			     opt.value = data[i].id;
			     opt.innerHTML = data[i].nombre;
			     municipios.appendChild(opt);
          }
			}
			
			
		},
		error : function(xhr,errmsg,err) {
	        console.log(xhr.responseText); 
	    }
	});
	
}
window.onload = funcion_primera;
function funcion_primera(){
   document.getElementById("estados").selectedIndex = "{{est}}";
   llenaMunicipios("{{est}}")
   setTimeout("test()", 1000);
}
function test(){

    document.getElementById("municipios").value = "{{mun}}";
}
</script>
    {% endif %}

{% else %}
{% endif %}
{% endblock%}
