{% extends 'base.html' %}
{% load filtros %}
{% load staticfiles %}

{% block titulo %}
    {% if user.is_authenticated %}
        {% if request.user.is_active %}
            Subir imagen
            <br>
            <br>


        {% else %}
        {% endif %}
    {% else %}
    {% endif %}


{% endblock %}


{% block menu %}

        {% if tiene_datos and pasante_p.status == "activo" %}
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>

        {% endif %}

    {% if tiene_datos == False %}
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">PASANTE</font></STRONG>
            <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url "registrar_pasante" %}">Registrar datos pasante</a></li>
                </ul>
    {% endif %}

{% endblock %}


{% block imagen %}
  width: 100%;
  height: 100%;

  background-image: url(/static/img/bodybg/bg1.png);



  background-attachment: fixed;
{% endblock %}

{% block contenido %}



</style>

{% if mensaje != null %}
     <div class="alert alert-warning" action ="{% url "subir" %}">{{mensaje}}</div>
{% endif %}

<form action="{% url 'subir' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
<style type="text/css">
.col-sm-3 {
    width: 100%;
</style>


 

{% endblock%}
