{% extends 'base.html' %}
{% block menu %}

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>



{% endblock %}

{% block panico %}
    <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
{% endblock %}

{% load filtros %}

{% load staticfiles %}

{% block titulo %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}

    {% elif request.user.is_staff == 0 %}
Ver Información

<br>
<br>



    {% endif %}
{% endif %}
{% endblock%}
{% block imagen %}
    width: 100%;
    height: 100%;

    background-image: url(/static/img/bodybg/bg1.png);



    background-attachment: fixed;
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
    <a href="{% url "inicio" %}"><i ></i>ir a inicio</a>
    {% elif request.user.is_staff == 0 %}

{% if exito != null %}
  <div class="alert alert-success">{{exito}}</div>
{% endif %}

{% if no_info != null %}
    <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{no_info}}</div>
{% endif %}
<script type="text/javascript">
    function eliminar(id){

    var form = document.formEliminarInfo;
    form.eliminar.value = id;
    form.submit();
    }

    function verArchivo(ruta) {
        document.getElementById('norm-view').innerHTML = '<object data="/media/' + ruta + '" type="application/pdf" width="100%" height="100%">\n' +
            '                    </object>';
    }
</script>
    <table class="table" id="table">

        <div class="panel-group" id="accordion">
        {% for i in info %}
            <tr>
            <th>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                            {{i.nombre_archivo}}</a>
                    </h4>
                    <button type="button" style="margin-top: 15px;" class="btn btn-primary btn-xs" data-title="Ver"
                    onclick="window.location.href='https://docs.google.com/viewer?url=http://148.217.200.108:8000/media/{{i.ruta_archivo}}'" target="_system">Ver</button>
                </div>
                <div id="collapse{{forloop.counter}}" class="panel-collapse collapse">
                    <!--pdf-->
                    <a  style="text-align_center;">{{i.descripcion}}</a>
                </div>
            </div>


            </th>

            </tr>
        {% endfor %}
        </div>

    </table>
    <br>
        <div id="norm-view"></div>
    <br>


    {% endif %}

{% else %}

{% endif %}
{% endblock%}
