{% extends 'base.html' %}
{% block menu_mensajeria %}

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">MENSAJERIA</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">                        
                        <li>
                            <a href="{% url "ver_preguntas_frecuentes"%}">
                                Preguntas Frecuentes
                            </a>
                        </li>
                        <li><a href="{% url "buscar_normatividad"%}">Preguntas Frecuentes</a></li>
                    </ul>
        </li>



{% endblock %}

{% block menu %}

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><STRONG><font size="2">NORMATIVIDAD</font></STRONG>
                <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url "mostrar_normatividad" %}">Mostrar Normatividad</a></li>
                        <li><a href="{% url "ver_normatividad" %}">Ver Normatividad</a> </li>
                        <li><a href="{% url "buscar_normatividad"%}">Buscar Tema en Normatividad</a></li>
                    </ul>
        </li>



{% endblock %}

{% block panico %}
    <a href="{% url "activar_alerta" %}"><STRONG><font size="2">ALERTA</font></STRONG></a></li>
{% endblock %}

{% load filtros %}

{% load staticfiles %}

{% block titulo %}

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff == 1 %}

    {% elif request.user.is_staff == 0 %}
<h1>Preguntas Frecuentes</h1>

<br>
<br>



    {% endif %}
{% endif %}
{% endblock%}
{% block imagen %}
    width: 100%;
    height: 100%;

    background-image: url(/static/img/bodybg/bg1.png);



    background-attachment: fixed;
{% endblock %}
{% block contenido %}
{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff ==1 %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
    <a href="{% url "inicio" %}"><i ></i>ir a inicio</a>
    {% else %}

{% if exito != null %}
  <div class="alert alert-success">{{exito}}</div>
{% endif %}

{% if no_info != null %}
    <div class="alert alert-danger"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>{{no_info}}</div>
{% endif %}
<script type="text/javascript">
    function eliminar(id){

    var form = document.formEliminarInfo;
    form.eliminar.value = id;
    form.submit();
    }

    /*function verRespuesta(ruta) {
        document.getElementById('norm-view').innerHTML = '<object data="/media/' + ruta + '" type="application/pdf" width="100%" height="100%">\n' +
            '                    </object>';
    }*/
</script>
    <table class="table" id="table">

        <div class="panel-group" id="accordion">
        {% for i in preguntas %}
            <tr>
            <th>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">                                            
                        <strong>{{i.pregunta}}</strong>
                        <br>
                        <br>
                        <strong>Tema -> </strong> {{i.id_tipo_fk}}
                        <p>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#collapse{{forloop.counter}}" role="button" aria-expanded="false" aria-controls="respuestas">
                                Respuesta
                            </button>
                        </p>                    
                        <div class="collapse" id="collapse{{forloop.counter}}">
                            <div class="card card-body">
                                {{i.respuesta}}                            
                            </div>
                        </div>
                    </h4>
                </div>
            </div>
            </th>
            </tr>
        {% endfor %}
        </div>
    </table>
    <br>
        <div id="norm-view"></div>
    <br>


    {% endif %}

{% else %}

{% endif %}
{% endblock%}
