.menu-bar-item {
    font-size: 10pt;
}

.notificaton-btn {
    background: rgb(250,232,2);
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-top: 8px;
    margin-right: 5px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.notificaton-btn:before {
    content: attr(data-count);
    width: 28px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
    display: block;
    border-radius: 50%;
    background: red;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    color: #FFF;
    position: absolute;
    top: -20px;
    left: -7px;
}

.notificaton-btn.badge-top-right:before {
    left: auto;
    right: -10px;
}

.notificaton-btn2 {
    background: rgb(250, 117, 16);
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 5px;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.notificaton-btn2:before {
    content: attr(data-count);
    width: 28px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    font-size: 13px;
    display: block;
    border-radius: 50%;
    background: red;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    color: #FFF;
    position: absolute;
    top: -20px;
    left: -7px;
}

.notificaton-btn2.badge-top-right:before {
    left: auto;
    right: -10px;
}


@media screen and (max-width: 800px) {
    .notificaton-btn {
        background: rgb(250,232,2);
        width: 100px;
        height: 25px;
        border-radius: 5px;
        border: none;
        margin-left: 16px;
        margin-top: 20px;
        margin-right: 5px;
        position: relative;
        box-shadow: 0 2px 5px rgba(0,0,0,0.4);
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        color: black;
    }
    .notificaton-btn2 {
        background: rgb(250, 117, 16);
        width: 100px;
        height: 25px;
        border-radius: 5px;
        border: none;
        margin-top: 25px;
        margin-right: 5px;
        position: relative;
        box-shadow: 0 2px 5px rgba(0,0,0,0.4);
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        font-weight: bold;
        color: black;
    }
}
