.rol-title {
    text-align: left;
}

.rol-accion {
    text-align: right;
}

.row-header {
    background-color: #000237;
    color: white;
}

.row-subheader {
    background-color: #398439;
    color: white;
}

.combobox {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table-form td {
    padding: 10px;
}

.table-form td > input {
    width: 100%;
}

.rotacion-label {
    text-align: left;
}

.text-center-row {
    text-align: center;
}

/* Estilos del modal para asignar rol [inicio] */
.scrollable-body-modal .modal-body {
    height: 500px;
    overflow-y: scroll;
    background-color: #EBEDEC;
}

.full-width-modal {
    width: 100%;
}

/* Estilos del modal para asignar rol [fin] */

/* Estilos de los tutores [inicio] */
.form-tutor label {
    text-align: left !important;
}

/* Estilos de los tutores [fin] */
