<style>
noscript div {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}
</style>
<noscript><div>
	Este sitio web requiere Javascript habilitado para funcionar correctamente
	</div>
</noscript>
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sistema de Servicio Social de Medicina Humana UAZ</title>
        <!-- css -->
        <link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" type="text/css">
              <link href="{% static "font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css" />
              <link rel="stylesheet" type="text/css" href="{% static "plugins/cubeportfolio/css/cubeportfolio.min.css"%}">
              <link href="{% static "css/nivo-lightbox.css"%}" rel="stylesheet" />
              <link href="{% static "css/nivo-lightbox-theme/default/default.css"%}" rel="stylesheet" type="text/css" />
              <link href="{% static "css/owl.carousel.css"%}" rel="stylesheet" media="screen" />
              <link href="{% static "css/owl.theme.css"%}" rel="stylesheet" media="screen" />
              <link href="{% static "css/animate.css"%}" rel="stylesheet" />
              <link href="{% static "css/style.css"%}" rel="stylesheet">

              <!-- boxed bg -->
              <link id="bodybg" href="{% static "bodybg/bg1.css"%}" rel="stylesheet" type="text/css" />
              <!-- template skin -->
              <link id="t-colors" href="{% static "color/default.css"%}" rel="stylesheet">

        <link rel="shortcut icon" href="/media/favicon.ico" />

    </head>
    <style type="text/css">
        body { 
    width: 100%;
    height: 100%;
    background-image: url(/static/img/dummy/bg1.jpg);
    background-size: 100% 100%;
    
    background-attachment: fixed;
}
    </style>
    <body id="page-top" data-spy="scroll" data-target=".navbar-custom">
        <div id="wrapper">

            <div class="navbar navbar-default " role="navigation"  style="background: #FFFFFF;padding-bottom: 1px;box-shadow: 0 6px 12px rgb(222, 204, 204)">
                <div class="top-area " >
                    <div class="container">
                        <div class="row">
                             <div id="onChrome">
                                 <div class="center-block top-area container" style="color: white;"><b>Este sistema funciona mejor con <a href="https://www.google.com/chrome/">Google Chrome</a>.</b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-area" style="background: #398439;padding-bottom: 2px;padding-top: 2px;">
                    <div class="container">
                        <div class="row">

                        </div>
                    </div>
                </div>

                <div class="container navigation">

                    <div class="navbar-header" style="padding-bottom: 20px;">

                        
                        <a class="navbar-brand" href="" style="padding-top: 0px;">
                            <img src="{% static "img/logo.png"%}" alt="" width="80" height="70" />
                        </a>
                    </div>


                </div>
                <!-- /.container -->
                </nav>

                <!-- Section: intro -->



            </div>
            <br>
            
            

                                    {% block contenido %}


                                    {% endblock %}
            <script type="application/javascript">
                if(!!window.chrome && !!window.chrome.webstore){
                    document.getElementById('onChrome').style.display = 'none';
                }
            </script>
            <!-- Core JavaScript Files -->
            <script src="{% static "js/jquery.min.js"%}"></script>	 
            <script src="{% static "js/bootstrap.min.js"%}"></script>
            <script src="{% static "js/jquery.easing.min.js"%}"></script>
            <script src="{% static "js/wow.min.js"%}"></script>
            <script src="{% static "js/jquery.scrollTo.js"%}"></script>
            <script src="{% static "js/jquery.appear.js"%}"></script>
            <script src="{% static "js/stellar.js"%}"></script>
            <script src="{% static "plugins/cubeportfolio/js/jquery.cubeportfolio.min.js"%}"></script>
            <script src="{% static "js/owl.carousel.min.js"%}"></script>
            <script src="{% static "js/nivo-lightbox.min.js"%}"></script>
            <script src="{% static "js/custom.js"%}"></script>

    </body>

</html>
