<div class="intro-conten" >
{% extends 'baseusuario.html' %}

{% block encabezado %}
  <h1>Registra un nuevo usuario</h1>
{% endblock %}

{% block contenido %}
<script type="text/javascript"> 
function redireccionarPagina() {
  window.location = "/";
  
}

</script>



<style type="text/css">
table{
    width: 350px;
    height: 100px;
}
</style>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);


@-webkit-keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes HeroBG {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}



.panel {
  border-radius: 5px;
}
label {
  font-weight: 300;
}
.panel-login {
   border: none;
  -webkit-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
  -moz-box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);
  box-shadow: 0px 0px 49px 14px rgba(188,190,194,0.39);

  }
.panel-login .checkbox input[type=checkbox]{
  margin-left: 0px;
}
.panel-login .checkbox label {
  padding-left: 25px;
  font-weight: 300;
  display: inline-block;
  position: relative;
}
.panel-login .checkbox {
 padding-left: 20px;
}
.panel-login .checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: 0px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.panel-login .checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: 0px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}
.panel-login .checkbox input[type="checkbox"] {
  opacity: 0;
}
.panel-login .checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.panel-login .checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.panel-login>.panel-heading .tabs{
  padding: 0;
}
.panel-login h2{
  font-size: 20px;
  font-weight: 300;
  margin: 30px;
}
.panel-login>.panel-heading {
  color: #848c9d;
  background-color: #e8e9ec;
  border-color: #fff;
  text-align:center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: 0px;
  padding: 0px 15px;
}
.panel-login .form-group {
  
}
.panel-login>.panel-heading .login {
  padding: 20px 30px;
  border-bottom-leftt-radius: 5px;
}
.panel-login>.panel-heading .register {
  padding: 20px 50px;
  background: #2d3b55;
  border-bottom-right-radius: 5px;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: 300;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a#register-form-link {
  color: #fff;
  width: 100%;
  text-align: left;
}
.panel-login>.panel-heading a#login-form-link {
  width: 100%;
  text-align: left;
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 0;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #e7e7e7;
  border-radius: 0px;
  padding: 6px 20px;
  border-bottom-color: black;

}

.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #E8E9EC;
  outline: none;
  color: #2D3B55;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #2D3B55;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #E8E9EC;
  outline: none;
  color: #2D3B55;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border: none;
  border-radius: 0px;
  box-shadow: none;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #2D3B55;
}

label,
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: black;
  font-weight: 500;
}
input{
  width: 100%;
  margin-bottom: 3px;


}
</style>

{% if user.is_authenticated %}
    {% if request.user.is_active and request.user.is_staff %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio" %}"><i ></i>ir a inicio</a>
    {% else %}
        <h1>Error 404 no se encontró la página solicitada</h1>
        <br>
        <a href="{% url "inicio_pasante" %}"><i ></i>ir a inicio</a>
    {% endif %}

    {% else %}



    <script type="text/javascript">
    function check_text(input) {  
        if (input.validity.patternMismatch){  
            input.setCustomValidity("La matrícula debe cumplir con 8 caracteres.");  
        }  
        else {  
            input.setCustomValidity("");  
        }                 
    }
    function check_textm(input) {  
        if (input.validity.patternMismatch){  
            input.setCustomValidity("La matrícula debe cumplir con 8 caracteres.");  
        }  
        else {  
            input.setCustomValidity("");  
        }                 
    } 
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
$(function() {
    
    $('#login-form-link').click(function(e) {
      $("#login-form").delay(100).fadeIn(100);
    $("#register-form").fadeOut(100);
    $('#register-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });
  $('#register-form-link').click(function(e) {
    $("#register-form").delay(100).fadeIn(100);
    $("#login-form").fadeOut(100);
    $('#login-form-link').removeClass('active');
    $(this).addClass('active');
    e.preventDefault();
  });

});

  
</script>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<div class="container">
  
   <div class="row">
   
    <div class="col-md-6 col-md-offset-3">
    {% if funcion != null %}
      <div class="alert alert-danger">{{funcion}}</div>
      <script type="text/javascript">
        
          
          $('#login-form-link').removeClass('active');
          $('#register-form-link').addClass('active');
         
       
        #setTimeout("redireccionarPagina()", 5000);
      
      </script>
    {% endif %}
    {% if exito != null %}
      <div class="alert alert-success">{{exito}}</div>
      <script type="text/javascript">
      
        #setTimeout("redireccionarPagina()", 5000);
      
      </script>
    {% endif %}
    
      <div class="panel panel-login" style="background-color: rgba(192, 201, 227, 0.47); box-shadow: 0px 0px 49px 14px rgba(1, 11, 33, 0.39);
">  


    <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6 tabs">
              <a href="{% url "iniciar_sesion" %}" class="active" id=""><div class="login" >Ingresar</div></a>
            </div>
            <div class="col-xs-6 tabs">
              <a href="{% url "usuario_nuevo" %}" id=""><div class="register" style="color:#ffffff";>Crear Cuenta</div></a>
            </div>
          </div>
        </div>
        <div class="panel-body" style="background-color:rgba(192, 201, 227, 0.47);>

          <div class="row">
          {% if login_fallido != null %}
            <div class="alert alert-danger">
            
          {{login_fallido}}
      </div>
      
    {% endif %}
            <div class="col-lg-12">
              <form id="login-form" action ="{% url "usuario_nuevo" %}" method="post" role="form" style="display: block;">

                            {% csrf_token %}
                  
                  <div class="form-group" style="overflow-x:auto;">
                   <center><table style="border-collapse: collapse;border-spacing: 0;width: 100%;text-align:center;overflow-x:auto" >


                  <table style="border-collapse: collapse;border-spacing: 0;width: 100%;text-align:center;overflow-x:auto">

                  <tbody>
                    <tr>
                      <th>
                          <label for="id_matrícula">Matrícula: *</label>
                      </th>
                      <td>
                          <input id="id_matrícula" maxlength="8" name="matrícula" title="Ingresa tu matricula" type="text" value="{{matricula}}">
                      </td>
                    </tr>
                    
                    <tr>
                      <th>
                        <label for="id_password">Contraseña: *</label>
                      </th>
                      <td> 
                        <input id="id_password" name="password" title="Ingresa tu contraseña*" type="password" >
                      </td>
                    </tr>

                    <tr>
                      <th>
                        <label for="id_confirmar_password">Confirma tu contraseña: *</label>
                      </th>
                      <td>
                        <input id="id_confirmar_password" maxlength="50" name="confirmar_password" title="Confirma tu contraseña*" type="password" >
                      </td>
                    </tr>

                    <tr>
                      <th>
                        <label for="id_correo_electrónico">Correo electrónico principal: *</label>
                      </th>
                      <td>
                        <input id="id_correo_electrónico" maxlength="50" name="correo_electrónico" title="Ingresa tu correo electronico principal*" type="text" value="{{email}}">
                      </td>
                    </tr>

                    <tr>
                      <th>
                        <label for="id_correo_institucional">Correo electrónico alternativo:</label>
                      </th>
                      <td>
                        <input id="id_correo_institucional" maxlength="50" name="correo_institucional" title="Ingresa un correo alternativo*" type="text" value="{{email2}}">
                      </td>
                    </tr>

                    
                      
                  
                  
                  
                  
                  
                  
                  
                  
                  



                   </table></center> 
                  </div>
                  <div class="form-group">
                    <div class="col-sm-8 col-sm-offset-2" >
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha" data-sitekey="6LevQH8UAAAAAHof3npn7a1FiCVlQOGO87rKVBW_"></div>
                    </div>
                  </div>
                  <div class="form-group" >
                    <div class="row"  >
                      <div class="col-sm-6 col-sm-offset-3" >              
                        <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Crear Cuenta" >
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
{% endif %}




{% endblock %}
</div>
